.private-network-data-grid {
  .oui-datagrid-row-detail__container {
    padding-top: 0;
    padding-right: 0;
  }
  .grid-details-table {
    th {
      background-color: transparent;
      border-bottom: 1px solid #bef1ff;
    }
  }
}
