#cloud-project-add {
  @new_box_background: @cloud_green_5;

  .page-header {
    h1 {
      color: @cloud_green_3;
    }
  }

  .contracts-agree-ctnr,
  .cpa-description-ctnr {
    background: @new_box_background;
  }

  .cpa-description-ctnr {
    padding: 20px 0;
  }

  // Box with payments mean, voucher, ...
  .cpa-box-ctnr {
    height: 100%;

    .cpa-box-inner {
      height: 100%;
      position: relative;
    }

    .cpa-box-body {
      height: 100%;
      padding-top: 24px;
      padding-bottom: 80px;

      .cpa-box-body-content {
        height: 100%;
        padding: 20px;
        background: @new_box_background;
      }
    }

    .cpa-box-footer {
      width: 100%;
      position: absolute;
      height: 60px;
      left: 0;
      bottom: 0;
    }

    .oui-button {
      background-color: @btn-primary-bg;
      border-color: @btn-primary-border;
    }
  }

  // special rule when order options are into two columns
  @media (min-width: @screen-sm-min) {
    .cpa-box-two-cols {
      padding-right: 0;

      .cpa-box-ctnr {
        padding-right: 15px;
        border-right: 1px solid @cloud_green_2;
      }
    }
  }

  // "and/or" line
  .cpa-and-or-ctnr {
    border-bottom: 1px solid @cloud_green_2;

    .cpa-and-or-inner {
      text-align: center;
      margin-bottom: -8px;

      > span {
        color: @cloud_green_3;
        padding: 0 10px;
        background: @new_box_background;
      }
    }
  }

  input[type='radio'] {
    display: inline-block;
    margin-right: 4px !important;
    margin-bottom: 2px;
  }
}
