anthos-storage-usage {
  @import '@ovh-ux/ui-kit/dist/less/tokens/_colors';

  .available-space {
    font-size: 0.8rem;
    margin: 0;
  }

  .oui-progress__bar_system {
    &:before {
      background-color: @p-400;
    }
  }

  .oui-progress__bar_volumes {
    &:before {
      background-color: @p-600;
    }
  }
}
