@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  height: 100vh;
}

#root {
  @apply h-screen;
}

.application {
  @apply h-screen;
  @apply w-full;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #fff;
  padding: 2px;
}

#terminalEditor {
  border-radius: 0;
  @apply h-screen;
  box-sizing: border-box;
}
