.sshkey-switch {
  margin-bottom: 5px;
}

.sshkey-switch span {
  display: inline-block;
  padding: 4px 10px;
  background-color: #ebf2fb;
  border: solid 2px #0050d7;
  border-radius: 4px;
}

.sshkey-switch span.label-primary {
  background-color: #0050d7;
}
