div.telephony-order {
  border-bottom: solid 1px @gray-light;

  .oui-heading_5 em {
    font-style: normal;
    color: @state-info-text;
    font-weight: 600;
  }

  div.description {
    font-size: 1.2em;
    color: @gray-base;
    margin-bottom: 10px;
  }

  div.ordering {
    div.cost {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;

      div.pricing {
        text-align: right;
        font-size: 1.2em;
        color: @gray-base;

        span.cost {
          font-size: 1.1em;
          font-weight: 600;
        }

        span.lasting {
          font-size: 0.8em;
        }
      }

      div.with-tax {
        text-align: right;
        color: @gray-base;
      }
    }
  }

  div.action {
    text-align: right;

    a {
      font-size: 1.8em;
      max-width: inherit;
    }
  }
}

#orderNumberForm {
  label.group {
    font-weight: 600;
  }
}

section.telephony-group-order {
  .ui-select-container {
    span.form-control {
      &.ui-select-toggle {
        color: @gray-dark;
      }
    }

    ul.ui-select-dropdown {
      max-height: 100px;
    }
  }

  .form-horizontal .control-label {
    text-align: left;
  }

  .ui-select-bootstrap {
    .ui-select-match-text {
      span.flag-icon {
        width: 15px;
        line-height: 16px;
      }

      span.country-name {
        width: initial;
      }
    }
  }
}
