.phonenumber-field {
  .oui-ui-select {
    max-width: 80px;
  }

  .ui-select-dropdown {
    min-width: 300px !important;
  }

  .oui-field {
    margin-bottom: 0;
  }

  button.ui-select-match {
    padding: 0.313rem 2rem 0.313rem 0.25rem !important;
  }
}
