.oui-slideshow {
  &_pci {
    .oui-slideshow__body,
    .oui-slideshow__content,
    .oui-slideshow__footer {
      background-color: #00a2bf;
    }

    .oui-slideshow__next-button,
    .oui-slideshow__prev-button {
      outline: 0;
    }

    .oui-slideshow-panel__picture-container {
      background:
        linear-gradient(
          to bottom,
          #fff 0%,
          #fff 75%,
          #00a2bf 68%,
          #00a2bf 100%
        );
      flex: initial;
    }

    .oui-slideshow-panel__picture {
      display: block;
      width: 200px;
      height: 200px;
      margin: 1em auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px rgba(0, 0, 0, 0.3) solid;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
      background-clip: content-box;
    }

    .oui-slideshow-panel.next,
    .oui-slideshow-panel.prev {
      .oui-slideshow-panel__picture {
        transition-delay: 0.3s;
      }
    }

    .oui-slideshow-panel.active.left,
    .oui-slideshow-panel.active.right {
      .oui-slideshow-panel__picture {
        transition-timing-function: ease-out;
      }
    }

    .oui-slideshow-panel__container {
      align-items: center;
      color: #fff;
      display: flex;
      flex: initial;
      flex-direction: column;
      justify-content: center;
      position: relative;
      text-align: center;
      padding: 0 1.25rem 0;
    }

    .oui-slideshow-panel__title {
      font-size: 2.25rem;
      letter-spacing: -0.5px;
      line-height: 0.89;
      max-width: 100%;
    }

    .oui-slideshow-panel__text {
      font-size: 1rem;
      line-height: 1.13;
      max-width: 100%;
      padding-bottom: 1.25rem;
    }

    .oui-slideshow-panel__action {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;

      .oui-button {
        border: 0 none;
        margin-bottom: 0;
      }

      .oui-icon-external_link {
        margin-left: 2px;
      }
    }

    .oui-slideshow-panel__center {
      .oui-slideshow-panel__container {
        top: 35%;
      }
    }

    .oui-slideshow-panel__title + .oui-slideshow-panel__text {
      padding-top: 1.25rem;
    }

    .oui-slideshow-panel__picture-container + .oui-slideshow-panel__container {
      .oui-slideshow-panel__title {
        flex-grow: 1;
      }

      .oui-slideshow-panel__text {
        flex-grow: 30;
      }

      .oui-slideshow-panel__action {
        flex-grow: 0;
        position: static;
      }
    }
  }
}
