@import '@ovh-ux/ui-kit/dist/scss/_tokens';

$hub-text-color: #4d5592;
$hub-text-weight: 400;

$hub-button-bg-color: #3046d1;
$hub-button-fg-color: white;

$hub-tile-border-radius: 0.5rem;
$hub-tile-padding: 1rem 0 1rem 0;

$hub-border-radius-default: 6pt;

@mixin hub-pill {
  background-color: $p-100;
  border-radius: 1rem;
  font-size: 0.9rem;
  color: $p-500;
  margin-left: 0.5rem;
  padding: 0.3rem 0.5rem;
}
