.pci_projects_onboarding_us {
  img {
    z-index: -1;
    position: absolute;
    top: 8vh;
    right: -20vw;
    width: 70vw;
  }
}
.pci_projects_onboarding {
  .oui-collapsible__header {
    border: 0;
    background-color: transparent;
    padding: 0;
    height: 2rem;
  }
  .oui-collapsible__header:focus {
    outline-width: 0;
  }
  .oui-collapsible__body {
    border-width: 0 !important;
    background-color: transparent !important;
  }
  .oui-collapsible__toggle-icon {
    left: -2rem !important;
  }
}
