@tailwind utilities;

@import '@ovhcloud/ods-themes/default';

html {
  font-family: var(--ods-font-family-default);
}

.sidebar {
  // background: url("./assets/account_background_full.png");
  // background-size: cover;
  position: relative;
  overflow: hidden;
}

.sidebar-background-image {
  position: absolute;
  mix-blend-mode: hard-light;

  top: 50%;
  right: 0;

  z-index: 1;
}

.text-critical::part(text) {
  color: var(--ods-color-critical-500);
}

.w-full::part(button) {
  width: 100%;
}

.tooltip-trigger,
.caption-title::part(text) {
  font-weight: 600;
}

.reassurance-wording {
  position: absolute;
  width: calc(2 / 3 * 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: appear 1s ease-in 0s 1;

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  ods-text::part(text) {
    color: white;
  }
}
