@import '../../constants.scss';

@mixin menuText() {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.projectTitle {
  font-size: 2.25rem;
  @include menuText();
}

@mixin menuToggleButton() {
  width: 2.2rem;
  height: 2rem;
  border-radius: 1rem;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.menuToggle {
  color: white;
  background-color: #0050d7;
  @include menuToggleButton();
}

.menuToggleBack {
  color: #2859c0;
  background-color: white;
  @include menuToggleButton();
}

.projectId {
  font-weight: 800;
  color: rgb(0, 80, 215);
  > span:first-child {
    @include menuText();
  }
}

.projectIdCopyInfo {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.projectCreate {
  color: white !important;
  width: fit-content;
}

.menuTitle {
  display: flex;
  font-size: 1.125rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  color: #00185e;
  border-bottom: 1px solid #85d9fd;
  justify-content: space-between;
  align-items: center;
}
.menuUl{
  list-style-type: none;
  padding: 0;
}


.menuLink {
  display: flex;
  padding-left: 0.75rem;
  border-left: 0.15rem solid transparent;
  &:hover {
    border-left: 0.15rem solid #000e9c;
  }
  > span:first-child {
    color: #4d5592;
    line-height: 2rem;
    text-decoration: none;
    @include menuText();
  }
}

.menuLinkSelected {
  background-color: #bef1ff;
  font-weight: 600;
  border-left: 0.15rem solid #000e9c;
  > span:first-child {
    color: #0450d7;
  }
}

.menuBadge {
  height: 1rem !important;
  margin-top: 0.5rem !important;
  width: 4rem !important;
  text-align: center;
  text-transform: capitalize;
}

.externalIcon {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.menuDrawer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2859c0;
  z-index: 2;
  transform: translateX(-$sidebar-width);
  transition: transform 200ms ease-out;
}

.menuDrawerOpen {
  transform: translateX(0);
}

.whiteText {
  color: white;
}

.whiteButtonPrimary {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #0050d7 !important;
}

.whiteButtonSecondary {
  background-color: transparent !important;
  border-color: #fff !important;
  color: #fff !important;
}

.projectListTitle {
  color: white;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 0.5rem;
  margin-top: 1.5rem;
}

.projectLink {
  display: flex;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-bottom: 1px solid white;
  > span:first-child {
    color: white;
    line-height: 2rem;
    text-decoration: none;
    @include menuText();
  }
  &:hover {
    text-decoration: none;
  }
}

.projectSearch {
  position: relative;
  margin: 0.5rem;
  margin-top: 1rem;
  i {
    font-size: 1.25rem;
    position: absolute;
    top: 0.375rem;
    right: 0.625rem;
  }
}

.projectSearchCancel {
  top: 0.15rem !important;
  right: 2.25rem !important;
}
