connector-preview {
  .preview {
    background-color: #122844;
    color: white;
    font-family: monospace;
    padding: 10px;
    overflow-y: auto;
    font-size: 0.8rem;
    overflow-x: auto;
  }
}
