@import '~ovh-ui-kit-bs/dist/less/bootstrap/_variables';

// COLORS
@voip-plan-main-color: @p-500;
@voip-plan-secondary-color: #59697d;
@voip-plan-border-color: #d5dae0;
@voip-plan-secondary-background-color: #e0f6fd;
@voip-plan-disabled-color: @voip-plan-secondary-color;
@voip-plan-disabled-background-color: #d5dae0;
@voip-plan-disabled-border-color: #d5dae0;

// SIZES
@voip-plan-main-elements-size: 40px;
@voip-plan-radio-size: 20px;
@voip-plan-icons-font-size: 16px;
@voip-plan-icons-main-font-size: 20px;
