.cui-status-card {
  padding: 0.4375rem;
  border: 1px #e9ebe7 solid;
  border-radius: @base-border-radius-small;
  background-color: #fff;

  & & {
    background-color: rgba(242, 242, 242, 0.5);
  }

  &:not(:last-child) {
    margin-bottom: 0.5625rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 2px;
      height: 0.5625rem;
      margin: 0 0 -0.625rem 0.5rem;
      background-color: #d5dae0;
    }
  }

  &__icon {
    .oui-icon {
      font-size: 1.125rem;
      line-height: 1.5;
    }
  }

  &__header {
    display: flex;
    padding: 0.3125rem;

    &-middle {
      flex: 1;
      padding: 0 0.59375rem;
      font-size: 1rem;
      overflow: hidden;
    }
  }

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    color: #152643;
  }

  &__subtitle {
    font-weight: 400;
    color: #676767;
  }
}
