@dbaasts_green_1: #dfeeeb; // light
@dbaasts_green_2: #c3dfda; // medium
@dbaasts_green_3: #65afa0; // darker
@dbaasts_green_4: #8fa6a4; // darker (caca oie)
@dbaasts_green_5: #e1f0ed; // light 2
@dbaasts_green_6: #e6b400; // OVH green

@dbaasts_green_1: #009688;

@dbaasts_blue_1: #3b4151; // OVH dark Blue

@dbaasts_gray_1: #ddd;
