.ro {
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }

  hr {
    border-top: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  h2 {
    font-size: 2.25rem;
  }

  .cart-totals-price {
    line-height: 1.5;
    h2 {
      font-size: 1.75rem;
    }
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  button::disabled {
    color: var(--ods-color-neutral-500);
  }

  button {
    color: var(--ods-color-primary-000);
  }
}
