.menu-item-ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;

  li {
    a,
    button {
      height: 32px;
      border-radius: 0;
      width: 100%;
      justify-content: left;
    }

    a {
      padding-left: 5px;
    }

    a:focus-visible,
    a:hover {
      background-size: none;
      text-decoration: none;
      background-color: var(--ods-color-primary-100);
      color: var(--ods-color-primary-700);
      border: none;
      background: none;
    }

    &:hover {
      background-color: var(--ods-color-primary-100);
    }
  }
}
