ovh-manager-hub-tile {
  @import '@ovh-ux/ui-kit/dist/less/_tokens';

  .ovh-manager-hub-tile {
    &__badge {
      line-height: 1.25;
      padding: 0.25rem 0.5rem;
      margin-left: 0.3rem;
      overflow: unset;
      font-size: 0.75rem;
      color: @p-700;
      border-radius: 1rem;
      background-color: @p-100;
    }

    &__header {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    &__title {
      flex: 1;
    }

    .hub-button {
      text-overflow: initial;
      border-radius: @base-border-radius-large;

      @media screen and (max-width: @device-breakpoint-phone-max-width) {
        margin-right: 0;

        &:hover {
          background-color: transparent;
          box-shadow: none;
        }

        &__text {
          display: none;
        }
      }
    }
  }
}
