ovh-manager-hub-tile {
  @import 'oui4/dist/less/_tokens';

  .ovh-manager-hub-tile {
    padding: @base-spacing-medium;
    border-radius: @base-border-radius-large;
    box-shadow: @base-box-shadow-secondary;

    &__badge {
      margin-left: 0.3rem;
      overflow: unset;
    }

    &__header {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    &__title {
      flex: 1;
    }

    .hub-button {
      text-overflow: initial;
      border-radius: @base-border-radius-large;

      @media screen and (max-width: @device-breakpoint-phone-max-width) {
        margin-right: 0;

        &:hover {
          background-color: transparent;
          box-shadow: none;
        }

        &__text {
          display: none;
        }
      }
    }
  }
}
