.exchange-diagnostic-result-item {
  border-bottom: solid 1px #ddd;
  padding: 15px 30px 15px 30px;
}

.td-crop-long-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
}

.exchange-diagnostic-result-item-error {
  background-color: #fafafa;
}

.exchange-diagnostic-icon-success {
  color: #b0ca67;
}

.exchange-diagnostic-icon-error {
  color: #e36947;
}

.exchange-diagnostic-page-bottom-padding {
  padding-bottom: 100px;
}

.exchange-diagnostic-description {
  max-width: 800px;
}

.account-zimbra-password-helper {
  display: flex;
  flex-direction: column;
}
