@import '@ovh-ux/ui-kit/dist/scss/_tokens.scss';
$ovh-sidebar-width: 18.75rem;

.sidebar-container {
  visibility: hidden;
  position: fixed;
  top: 2.75rem;
  bottom: 0;
  right: 0;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: auto;
  transition: padding 0.1s ease-out, opacity 0.2s ease-out;
  box-shadow: 0 4px 6px 0 rgba(0, 14, 156, 0.2);
  opacity: 0;
  padding-left: $ovh-sidebar-width;
  pointer-events: none;

  .sidebar {
    width: 0;
    a,
    button {
      pointer-events: none;
    }
  }

  &.force-large-screen-display {
    @media screen and (min-width: ($device-breakpoint-medium  - 1px)) {
      visibility: visible;
      width: $ovh-sidebar-width;
      padding-left: 0;
      opacity: 1;
      pointer-events: auto;

      .sidebar {
        width: $ovh-sidebar-width;
        a,
        button {
          pointer-events: auto;
        }
      }
    }
  }

  &[aria-expanded='true'] {
    visibility: visible;
    width: $ovh-sidebar-width;
    padding-left: 0;
    opacity: 1;
    pointer-events: auto;

    .sidebar {
      width: $ovh-sidebar-width;
      a,
      button {
        pointer-events: auto;
      }
    }
  }
}

.sidebar {
  @import 'bootstrap4/scss/_functions.scss';
  @import 'bootstrap4/scss/_variables.scss';
  @import 'bootstrap4/scss/_mixins.scss';
  @import 'bootstrap4/scss/_utilities.scss';
  @import 'bootstrap4/scss/_grid.scss';
  @import 'bootstrap4/scss/_buttons.scss';
  @import 'bootstrap4/scss/_button-group.scss';

  background-color: $p-075;
  height: 100%;
  padding: 2rem;
  padding-top: 3rem;
  overflow: auto;

  .minw-0 {
    min-width: 0;
  }

  h3 {
    font-size: 1rem;

    font-weight: $jupiter-font-weight;
    color: $p-800;

    * {
      color: inherit;
    }
  }

  p {
    line-height: inherit;
  }
}

.sidebar-user-info {
  $circle-radius: 2.5rem;

  background-color: $p-000-white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.075);
  text-align: center;
  border-radius: 6pt;
  padding: 0.25rem;
  color: $p-800-text;

  hr {
    height: 1px;
    border: 0;
    color: #eee;
    background-color: #eee;
    margin-top: 2rem;
  }

  &_text-small {
    font-size: 0.9rem;
  }

  & &_initials {
    width: $circle-radius * 2;
    height: $circle-radius * 2;
    display: block;
    font-size: $circle-radius;
    padding-top: $circle-radius * 0.2;
    background-color: $p-300;
    color: $p-000-white !important;
    border-radius: $circle-radius;
    text-align: center;
    font-weight: normal;
  }

  & &_profile {
    &_link {
      color: $p-500;
      font-weight: 600;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      .sidebar-user-infos_initials {
        background-color: $p-400;
      }

      .sidebar-user-infos_profile_link {
        color: $p-700;
      }
    }
  }

  p.oui-chip {
    color: $p-700;
    line-height: 1.875rem;
  }

  &_initials-centered {
    position: relative;
    top: -$circle-radius;
    margin: auto;
    margin-bottom: $circle-radius * -1.25;
  }

  &_user-name {
    button.btn.btn-link {
      text-decoration: none;
      width: 100%;

      span {
        color: $p-500;
        font-weight: 600;
      }

      .oui-icon {
        font-size: 1rem;
        vertical-align: middle;
        margin-left: 0.2rem;
        font-weight: 600;
      }
    }

    &__login {
      white-space: initial;
    }
  }

  &_role {
    white-space: initial;
  }

  &_links {
    clear: both;
    text-decoration: none;

    .btn.btn-link {
      color: $p-500;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $p-700;
        text-decoration: none;
      }
    }
  }

  .oui-badge {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
