//
// UTILITIES
// --------------------------------------------------

.loaderSmall {
  background: url('../../../images/loading.gif') no-repeat scroll 50% 0
    rgba(0, 0, 0, 0);
  clear: both;
  height: 16px;
}

.half {
  width: 49%;
}

.half25 {
  width: 24%;
}

.half33 {
  width: 33%;
}

.half75 {
  width: 74%;
}

.full {
  width: 100%;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.wordbreak {
  word-break: break-all;
}

.wordwrap {
  word-wrap: break-word;
}

td.center,
th.center,
.center {
  text-align: center;
}

.list-no-style {
  list-style-type: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

.btn-no-style {
  background: none;
  border: none;
  text-decoration: none;

  &:disabled {
    opacity: 0.5;
  }
}

.middle {
  vertical-align: middle;
}

.disabled {
  opacity: 0.5;
}

.subdued {
  opacity: 0.7;
}

.right,
td.right,
th.right {
  text-align: right;
}

.left,
td.left,
th.left {
  text-align: left;
}

.tspace {
  margin-top: 8px;
}

.tspace15 {
  margin-top: 15px;
}

.top-space {
  margin-top: 25px;
}

.bspace {
  margin-bottom: 8px;
}

.bottom-space {
  margin-bottom: 25px;
}

.leftspace {
  margin-left: 20px;
}

.leftspace-5 {
  margin-left: 5px;
}

.no-space {
  margin: 0;
}

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs22 {
  font-size: 22px;
}

.fs24 {
  font-size: 24px;
}

.fs26 {
  font-size: 26px;
}

.lh11 {
  line-height: 11px;
}

.lh12 {
  line-height: 12px;
}

.lh22 {
  line-height: 22px;
}

.lh24 {
  line-height: 24px;
}

.lh28 {
  line-height: 28px;
}

.lh30 {
  line-height: 30px;
}

.lh32 {
  line-height: 32px;
}

.lh40 {
  line-height: 40px;
}

.italic {
  font-style: italic;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.white {
  color: #fff !important;
}

.blue {
  color: #38a7c3 !important;
}

.yellow {
  color: #f59402;
}

.green {
  color: #54a698;
}

.green-valid {
  color: #289908;
}

.black {
  color: #000;
}

.red {
  color: #fe0505 !important;
}

.lgrey {
  color: #a0a0a0;
}

.dgrey {
  color: #1a1a1a;
}

.grey {
  color: #3d3d3d;
}

.pointer {
  cursor: pointer;
}

.opacity50 {
  opacity: 0.5;
}

.pre-scrollable {
  max-height: 250px;
  overflow-y: scroll;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-nowrap {
  white-space: nowrap;
}
