@import '@ovh-ux/ui-kit/dist/scss/tokens/_colors';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_fonts';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_globals';

$z-index-backdrop: 2000;

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 80, 215, 0.75);
  z-index: $z-index-backdrop;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  background-size: cover;
  padding: 2rem;
  min-width: 30rem;
  max-width: 40rem;

  h1 {
    font-size: 1rem;
    color: $p-500;
    font-weight: 600;
  }

  p {
    color: $p-500;
  }

  img {
    float: right;
    width: 10rem;
  }
}

.leftCol {
  width: 50%;
  float: left;
}

.rightCol {
  width: 50%;
  float: right;
}

.hidden {
  display: none;
}
