@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_utilities.scss';
@import '~bootstrap/scss/_grid.scss';
@import '@ovh-ux/manager-hub/src/variables.scss';
@import './assets/theme/index.scss';

.hub-main-view {
  > * {
    max-width: $hub-view-max-width;
  }
}

.oui-field__label {
  color: $hub-text-color;
}

.oui-icon {
  color: $hub-primary-color;
}

.oui-input-group_search .oui-icon {
  color: $hub-primary-color;
}

.oui-navbar {
  background-color: initial;
  box-shadow: 0 0 6px 0 rgba(0, 14, 156, 0.2);

  .oui-navbar__brand {
    color: $hub-brand-color;
  }

  .oui-navbar-link {
    color: $hub-primary-color;
    font-weight: bold;

    .oui-icon {
      color: $hub-primary-color;
    }
  }

  .oui-navbar-link:hover,
  .oui-navbar-link:focus,
  .oui-navbar-link_tertiary:hover,
  .oui-navbar-link_tertiary[aria-expanded='true'],
  .oui-navbar-link_tertiary:focus {
    background-color: initial;
  }

  .oui-navbar-link_primary {
    color: $hub-text-color;
    font-weight: $hub-text-weight;
    font-size: $hub-font-size;
    line-height: 0.5rem;
    padding-top: 1.2rem;
    border-bottom: 2px solid transparent;
  }

  .oui-navbar-link_active {
    background-color: initial;
    border-bottom: 2px solid $hub-primary-color;
    box-sizing: border-box;
  }

  .oui-navbar-toggler__hamburger span {
    background: $hub-primary-color !important;
  }
}

h1,
h2 {
  font-size: $hub-title-size;
  font-weight: $hub-title-weight;
  color: $hub-title-color;
  margin-top: 1rem;
}

.minw-0 {
  min-width: 0;
}

h3 {
  font-size: $hub-subtitle-size;
  font-weight: $hub-subtitle-weight;
  color: $hub-title-color;
}

.oui-status {
  max-width: none;
  line-height: 0.85rem;

  &_error,
  &_warning,
  &_success {
    font-weight: bold;
  }

  &_error {
    color: $hub-status-error-color;
  }

  &_warning {
    color: $hub-status-warning-color;
  }

  &_success {
    color: $hub-status-success-color;
  }
}

.oui-action-button,
.oui-action-menu-button {
  border-color: $hub-button-fg-color;

  circle {
    fill: $hub-button-bg-color;
  }
}

.oui-action-button[aria-expanded='true'],
.oui-action-menu-button[aria-expanded='true'],
.oui-action-button:hover,
.oui-action-button:focus,
.oui-action-menu-button:hover,
.oui-action-menu-button:focus {
  background-color: $hub-button-bg-color;
  border-color: $hub-button-bg-color;

  circle {
    fill: $hub-button-fg-color;
  }
}

a,
.oui-link {
  color: $hub-primary-color;
  font-weight: $hub-font-weight-semibold;
  text-decoration: none;
}

.oui-ui-select,
.oui-ui-select_multiple {
  .ui-select-match-container {
    border-color: $hub-border-color;

    &:focus,
    &:hover {
      box-shadow: none;
      border-color: $hub-border-color;
      background-color: rgb(239, 249, 253);
    }

    &:focus {
      border-color: $hub-primary-color;
      color: $hub-primary-color;
    }
  }
}

.oui-input {
  border-color: $hub-border-color;
  border-radius: 0;
  box-shadow: none;
  transition: all ease-in 200ms;

  &:focus,
  &:hover {
    box-shadow: none;
    border-color: $hub-border-color;
    background-color: rgb(239, 249, 253);
  }

  &:focus {
    border-color: $hub-primary-color;
    color: $hub-primary-color;
  }
}
