@ovh-sidebar-width: 18.75rem;
@import '@ovh-ux/ui-kit/dist/less/_tokens';

ovh-manager-banner-text .notification-banner {
  padding-right: @ovh-sidebar-width !important;
}

@media screen and (min-width: @device-breakpoint-medium-max-width) {
  .hub-main-view_sidebar_expanded {
    margin-right: @ovh-sidebar-width;
    max-width: calc(100% - @ovh-sidebar-width);
  }
}

@media screen and (max-width: @device-breakpoint-medium-max-width) {
  .hub-main-view {
    margin-right: 0;
  }
  ovh-manager-banner-text .notification-banner {
    padding-right: 0 !important;
  }
}
