@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_utilities.scss';
@import '~bootstrap/scss/_grid.scss';

.hub-main-view {
  @import '@ovh-ux/manager-hub/src/variables.scss';
  @import './assets/theme/index.scss';

  .minw-0 {
    min-width: 0;
  }
}
