@tailwind components;
@tailwind utilities;

h1,
h2 {
  margin-top: 1rem;
}

#root ovh-manager-banner-text .notification-banner {
  padding-right: 18.75rem;
}

@media screen and (min-width: 1279px) {
  .hub-main-view_sidebar_expanded {
    margin-right: 18.75rem;
    max-width: calc(100% - 18.75rem);
  }
}

@media screen and (max-width: 1279px) {
  .hub-main-view {
    margin-right: 0;
  }
  #root ovh-manager-banner-text .notification-banner {
    padding-right: 0;
  }
}

#root {
  height: inherit;
}

#root .hub-main-view_container {
  max-width: 80rem; /* 1280px with 16px font size */
  margin: auto;
}

#root .hub-main-view .minw-0 {
  min-width: 0;
}

#root .skipnav osds-button {
  width: 1px;
  height: 1px;
  position: fixed;
  left: -100%;
  top: auto;
  overflow: hidden;
  z-index: -1;
}

#root .skipnav osds-button:focus,
#root .skipnav osds-button:active {
  width: auto;
  height: auto;
  left: 0.625rem;
  top: 0.625rem;
  overflow: auto;
  outline-width: 1px;
  outline-style: dotted;
  outline-color: initial;
  outline-offset: -2px;
  background-color: #fff;
  z-index: 1100;
}

#root .skiptarget {
  width: 1px;
  height: 1px;
  overflow: hidden;
  float: right;
  position: absolute;
}
