#vrack-out,
#vrack-in {
  background: none repeat scroll 0 0 #efefef;
  min-height: 200px;
}

.vrack-product {
  background: #d8e2e4;
  padding: 5px;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.vrack-product-todo {
  padding: 5px;
}

.vrack-product:not(.vrack-todo) {
  cursor: pointer;
}

.vrack-product.vrack-todo {
  opacity: 0.6;
}

.vrack-product:hover {
  background: #dfdfdf;
}

.vrack-product.active {
  background: #3b4151;
  color: white;
}

.vrack-product i,
.vrack-product-todo i {
  float: left;
  width: 18px;
  height: 16px;
  margin: 6px 10px 0 10px;
}

.vrack-product i.icon-dedicatedServers,
.vrack-product-todo i.icon-dedicatedServers {
  background: transparent url('../../../../images/left_menu/icn_server.png')
    no-repeat 0 0;
}

.vrack-product i.icon-dedicatedClouds,
.vrack-product-todo i.icon-dedicatedClouds {
  background: transparent
    url('../../../../images/left_menu/icn-DEDICATED_CLOUD.png') no-repeat 0 0;
}

.vrack-product i.icon-cloudProjects,
.vrack-product-todo i.icon-cloudProjects {
  background: transparent
    url('../../../../images/left_menu/icn-cloudproject.png') no-repeat 0 0;
}

.vrack-product i.icon-ip,
.vrack-product-todo i.icon-ip {
  background: transparent url('../../../../images/left_menu/icn-IPVRACK.png')
    no-repeat 0 0;
}

.vrack-product i.icon-legacyVrack,
.vrack-product-todo i.icon-legacyVrack {
  background: transparent url('../../../../images/left_menu/icn-vrack.png')
    no-repeat 0 0;
}

#vrack-middle {
  text-align: center;
}

#vrack-middle button {
  display: inline-block;
  margin: 10px;
}

#vrack-middle button.disabled {
  opacity: 0.5;
}
