input[input-number], input[data-input-number] {
    width: auto;
}
.input-number-btn-container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0 0 0 -22px;
    padding: 0;
}

.input-number-btn-container .btn {
    position: relative;
    top: 2px;
    width: 20px;
    height: 14px;
    padding: 0 0 4px 1px;
}

.input-number-btn-container .input-number-btn-down {
    height: 13px;
}

input:disabled + div.input-number-btn-container > button {
    background-image: none;
    background-color: #E6E6E6;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333333;
    cursor: not-allowed;
}

.input-number-btn-container .input-number-btn-up i {
    position:relative;
    top: -3px;
}

.input-number-btn-container .input-number-btn-down i {
    position:relative;
    top: -4px;
}
