@import '@ovh-ux/ui-kit/dist/scss/tokens/_colors';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_fonts';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_globals';

.onboardingButton {
  background: #0050d7;
  border-radius: 26px !important;

  position: absolute !important;
  bottom: 20px !important;
  right: 50px !important;
  z-index: $base-z-index-popover !important;

  &_padded {
    right: 120px !important;
  }
}

.welcomePopover {
  max-width: 22.5rem !important;
  top: 3rem !important;
  right: 1.875rem !important;
}
