.onboardingButton {
  background: #0050d7;
  border-radius: 26px !important;

  position: absolute !important;
  bottom: 50px !important;
  right: 50px !important;
  z-index: 10 !important;
}

.welcomePopover {
  width: 280px;
  max-width: 280px !important;
}
