@import '~@ovh-ux/ui-kit/dist/less/_tokens';
@import (less) '~@ovh-ux/ui-kit/dist/css/oui.css';
@import '~ovh-ui-kit-bs/dist/less/bootstrap/_variables';
@import '~ovh-manager-webfont/dist/less/ovh-font';
@import '~font-awesome/less/font-awesome.less';
@import (less) '~leaflet/dist/leaflet.css';
@import (less) '~fullcalendar/dist/fullcalendar.css';
@import (less) '~ui-select/dist/select.css';
@import (less) '~messenger/build/css/messenger.css';
@import (less) '~messenger/build/css/messenger-theme-future.css';
@import (less) '~messenger/build/css/messenger-theme-flat.css';
@import (less) '~messenger/build/css/messenger-theme-block.css';
@import (less) '~intl-tel-input/build/css/intlTelInput.css';
@import (less) '~ovh-ng-input-password/dist/ovh-ng-input-password.css';
@import '~flag-icon-css/less/flag-icon.less';

@text-disabled-color: #757575;

// Mobile
@media (max-width: @screen-sm-max) {
  .section-back-link {
    padding-top: 24px;
  }
}

/*
 * content
 */

#content {
  padding: 0;

  .oui-header,
  .page-header {
    margin-top: rem-calc(16);
  }

  .oui-header,
  .oui-header + .oui-header-tabs,
  .page-header,
  .nav.nav-tabs {
    margin-left: rem-calc(32);
    margin-right: rem-calc(32);
  }

  .container-fluid {
    padding-bottom: 32px;
  }
}

.col-container {
  padding-top: @navbar_height;
}

.container {
  width: auto;
}

/* App-wide Styles */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: @screen-sm-min) {
  .container {
    max-width: 730px;
  }
}

@media (min-width: @screen-sm-min) {
  .flex-center {
    .row {
      display: flex;
    }

    .service-title {
      display: flex;
      align-items: center;
    }
  }
}

.elipse {
  overflow: hidden;
  text-overflow: ellipsis;
}

.alert {
  &.me-alerts::before {
    content: none;
  }

  &.alert-dismissible {
    button.close {
      opacity: 1;
      color: @gray-base;

      &:hover {
        color: darken(@gray-base, 20%);
      }
    }
  }
}

@import './common/less/navbar.less';
@import './common/less/variables.less';
@import './common/less/mixins.less';
@import './telecom/pack/migration/pack-migration.less';
@import './telecom/pack/move/pack-move.less';
@import './telecom/pack/resiliation/pack-resiliation.less';
@import './telecom/pack/slots/voipLine/activation/pack-voipLine-activation.less';
@import './telecom/pack/xdsl/access/deconsolidation/pack-xdsl-access-deconsolidation.less';
@import './telecom/pack/xdsl/access/linediagnostic/pack-xdsl-access-linediagnostic.less';
@import './telecom/pack/xdsl/access/pack-xdsl-access.less';
@import './telecom/pack/xdsl/modem/pack-xdsl-modem.less';
@import './telecom/pack/xdsl/orderFollowUp/pack-xdsl-orderFollowUp.less';
@import './telecom/telephony/alias/portability/portabilities/telecom-telephony-alias-portability-portabilities.less';
@import './telecom/telephony/billingAccount/billing/groupRepayments/telecom-telephony-billing-account-billing-group-repayments.less';
@import './telecom/telephony/billingAccount/dashboard/telecom-telephony-billing-account-dashboard.less';
@import './telecom/telephony/billingAccount/manageContacts/telecom-telephony-billing-account-manageContacts.less';
@import './telecom/telephony/billingAccount/orderAlias/telecom-telephony-billing-account-orderAlias.less';
@import './telecom/telephony/line/assist/rma/telecom-telephony-line-assist-rma.less';
@import './telecom/telephony/line/assist/troubleshooting/telecom-telephony-line-assist-troubleshooting.less';
@import './telecom/telephony/line/calls/click2Call/telecom-telephony-line-calls-click2Call.less';
@import './telecom/telephony/line/phone/accessories/accessories.less';
@import './telecom/telephony/line/phone/configuration/telecom-telephony-line-phone-configuration.less';
@import './telecom/telephony/service/fax/campaigns/read/telecom-telephony-service-fax-campaigns-read.less';
@import './telecom/telephony/service/fax/settings/telecom-telephony-service-fax-settings.less';
@import './telecom/telephony/telecom-telephony.less';
@import '../components/telecom/telephony/alias/svaGenerator/telephony-alias-svaGenerator.less';
@import '../components/telecom/telephony/group/consumption/pie-chart/telephony-group-consumption-pie-chart.less';
@import '../components/telecom/telephony/group/number/feature/conference/telephony-group-number-feature-conference.less';
@import '../components/telecom/telephony/group/number/feature/ovhPabx/menu/telephony-group-number-feature-ovh-pabx-menu.less';
@import '../components/telecom/telephony/group/number/telephony-group-number.less';
@import '../components/telecom/telephony/scheduler/telephony-scheduler.less';
@import '../components/telecom/telephony/service/choice-popover/telecom-telephony-service-popover.less';
@import '../components/telecom/telephony/timeCondition/telephony-time-condition.less';
@import './telecom/telephony/line/phone/order/choice/choice.less';

.ovh-manager-telecom-app {
  #nprogress {
    .peg {
      box-shadow: none;
    }
  }
}
