.tokens-table {
  width: 100%;
  border-collapse: collapse;
}

.tokens-table__header {
  border-bottom: 1px solid var(--ods-color-neutral-200);
}

.tokens-table__header__row {
  display: table-row;
}

.tokens-table__header__row__header-cell {
  color: var(--ods-color-neutral-900);
  font-weight: 600;
  padding: 0.75rem 1rem;
  text-align: left;
}

.tokens-table__header__row__header-cell--centered {
  color: var(--ods-color-neutral-900);
  font-weight: 600;
  padding: 0.75rem 1rem;
  text-align: center;
}

.tokens-table__body {
  width: 100%;
}

.tokens-table__body__row {
  border-bottom: 1px solid var(--ods-color-neutral-100);
  transition: background-color 0.2s ease;
}

.tokens-table__body__row__cell {
  padding: 0.75rem 1rem;
  width: auto;
}

.tokens-table__body__row__cell__name {
  color: var(--ods-color-primary-600);
  font-family: monospace;
}

.tokens-table__body__row__cell__value {
  color: var(--ods-color-neutral-600);
  font-family: monospace;
}

.tokens-table__body__row__preview {
  padding: 0.75rem 2rem;
  text-align: center;
  white-space: nowrap;
  width: 1%;
}
