cui-tabs {
  .cui-tabs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 -32px 0;
    padding: 0;

    &__tab {
      position: relative;
      padding: 0;
      font-weight: 400;
      transition: all 1000ms ease-in;

      a {
        display: block;
        padding: 8px 24px;
        color: #333;
        text-decoration: none;
      }

      &::after {
        position: absolute;
        content: "";
        display: block;
        height: 3px;
        background-color: #edc200;
        width: 0;
        left: 50%;
        bottom: 0;
      }

      &_active {
        a {
          color: #113f6d;
          font-weight: 700;
        }

        &::after {
          width: 100%;
          left: 0;
        }
      }

      &_animate {
        &::after {
          width: 100%;
          left: 0;
          animation: tab-active-animation 200ms ease-in 1 forwards;
        }
      }

      &_disabled {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        opacity: 0.6;
      }
    }

    @keyframes tab-active-animation {
      0% {
        width: 0;
        left: 50%;
      }

      100% {
        width: 100%;
        left: 0;
      }
    }
  }
}
