.technical-specification__enums__keys,
.technical-specification__interfaces__keys,
.technical-specification__unions__keys {
  display: flex;
  flex-flow: column;
  row-gap: 1rem;
  padding: 0 20px;
}
