/* stylelint-disable no-descending-specificity */
#line-diagnostics {
  /* ---- global styles ---- */
  p,
  li,
  span,
  label,
  dd {
    margin: 0;
    color: @gray-base;
  }

  dl {
    margin-bottom: 0;
  }

  dt,
  dd {
    font-weight: normal;
  }

  dt {
    clear: left;
  }

  label {
    font-weight: normal;
  }

  .bodyText2 {
    color: @gray-dark;
    font-size: 14px;
  }

  h2 {
    border-bottom: solid 2px #32acff;
    padding-bottom: 5px;
    margin-bottom: 16px;
  }

  .btn span {
    color: @p-500;
  }

  .line-diagnostics-detail {
    margin-bottom: 32px;

    /* ---- selt scheme ---- */
    .LineScheme {
      display: table;
      width: 100%;

      .infosNRA,
      .infosClientSide {
        position: relative;

        dl {
          padding-left: 12px;
          margin-left: 1.2em;
          position: relative;
          border-left: solid 1px #cdcdcd;

          dd + dt {
            margin-top: 8px;
          }

          i {
            position: absolute;
            font-size: 2.4em;
            color: @p-700;
          }
        }
      }

      .infosNRA {
        display: table-header-group;

        dl {
          margin-bottom: 3em;

          i {
            top: 100%;
            left: -0.5em;
            margin-top: 8px;
          }
        }
      }

      .infosClientSide {
        display: table-footer-group;
        padding-top: 40px;

        dl {
          margin-top: 3em;

          i {
            bottom: 100%;
            left: -0.5em;
            margin-bottom: 8px;
          }
        }
      }

      .linePart {
        display: table-row-group;
        position: relative;
        padding: 16px;

        .lineDistances {
          display: inline-block;
          width: 35%;
          max-width: 128px;
          position: relative;
          margin: 16px 0;

          .lineLength {
            height: 18em;
            margin-left: 2.4em;
            position: relative;

            .arrowPart {
              &:first-child {
                display: none;
              }

              &:last-child {
                width: 1px;
                height: 15.6em;
                position: absolute;
                top: 1.2em;
                background-color: @gray-dark;

                &::after {
                  content: '';
                  display: block;
                  width: 0;
                  height: 0;
                  border-right: 0.4em solid transparent;
                  border-left: 0.4em solid transparent;
                  border-top: 0.6em solid @gray-dark;
                  position: absolute;
                  left: -0.3em;
                  bottom: 0;
                }
              }
            }

            dl {
              position: absolute;
              top: 8.5em;
              left: 8px;
            }
          }

          .distanceIndicators {
            width: 2px;
            height: 18em;
            position: absolute;
            top: 0;
            margin-left: 1.2em;
            background-color: @p-700;

            &::before,
            &::after {
              content: '';
              display: block;
              width: 1.2em;
              height: 1.2em;
              border-radius: 50%;
              background-color: @p-700;
              position: absolute;
              left: -0.5em;
            }

            &::before {
              top: 0;
            }

            &::after {
              bottom: 0;
            }
          }
        }

        .locPb {
          display: inline-block;
          width: 65%;
          margin-left: -5px;
          vertical-align: top;

          .locPbContainer {
            margin-top: 16px;
            background-color: #f3f3f3;
            padding: 12px;
            position: relative;
            border-radius: 2px;
            max-width: 300px;

            .pbIcon,
            .problemDescription {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  /* ---- actions done ---- */
  .list-unstyled {
    li {
      display: table;

      i,
      span {
        display: table-cell;
      }
    }
  }

  .rightPanel {
    form {
      .checkbox {
        margin-bottom: 12px;
        margin-top: 0;
      }

      .checkbox:last-child {
        margin-bottom: 0;
      }

      .comment {
        margin-top: 16px;
      }
    }

    .mainBtns {
      .btn-default {
        border: none;
        background-color: #e8e8e8;
      }
    }
  }

  @media screen and (min-width: @screen-sm) {
    .line-diagnostics-detail {
      .LineScheme {
        display: block;

        .infosNRA,
        .infosClientSide {
          display: inline-block;
          width: 50%;
          padding-top: 0;
          position: relative;
          vertical-align: bottom;
          margin-right: -0.25em;

          dl {
            box-sizing: border-box;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 1em;

            i {
              position: absolute;
              top: 100%;
              font-size: 3.3em;
              margin-top: 8px;
            }
          }
        }

        .infosClientSide {
          dl {
            padding-right: 12px;
            text-align: right;
            border-right: solid 1px #cdcdcd;
            border-left: none;
            margin-right: 1.2em;

            i {
              right: -0.5em;
            }
          }
        }

        .linePart {
          display: block;
          padding: 0 4.6em;

          .lineDistances {
            display: block;
            width: auto;
            max-width: none;
            height: 3.3em;
            margin: 0;

            .lineLength {
              display: table;
              width: 100%;
              height: auto;
              margin-left: 0;
              margin-bottom: 0.4em;
              position: relative;

              .arrowPart {
                vertical-align: middle;

                &::before {
                  display: block;
                  content: '';
                  height: 1px;
                  width: 100%;
                  background-color: @gray-dark;
                }

                &:first-child {
                  display: table-cell;
                }

                &:last-child {
                  display: table-cell;
                  width: auto;
                  height: auto;
                  position: static;
                  background-color: transparent;

                  &::after {
                    border-bottom: 0.4em solid transparent;
                    border-top: 0.4em solid transparent;
                    border-left: 0.6em solid @gray-dark;
                    border-right: 0;
                    position: absolute;
                    left: auto;
                    right: 0;
                    top: 0.4em;
                    bottom: auto;
                  }
                }
              }

              dl {
                display: table-cell;
                width: 8em;
                position: static;
                vertical-align: middle;
                text-align: center;
              }
            }

            .distanceIndicators {
              width: 100%;
              height: 2px;
              margin-left: 0;
              background-color: @p-700;
              position: relative;

              &::before,
              &::after {
                top: -0.5em;
              }

              &::before {
                left: -1.2em;
              }

              &::after {
                right: -1.2em;
                left: auto;
              }
            }
          }

          .locPb {
            margin: 0;
            width: 100%;
            text-align: center;

            .locPbContainer {
              display: inline-block;
              max-width: none;
              margin: 12px auto 0 auto;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
