.sso-auth {
  .panel {
    background: #efefef;
    border-radius: 6px;
    box-shadow: 0 0 6px 0 rgba(0, 14, 156, 0.2);
    margin-bottom: 24px;
    border: 1px solid transparent;

    .panel-body {
      padding: 1rem;
    }
  }

  .panel-disabled {
    opacity: 0.6;
  }

  .sso-modal-account-badge-ctnr {
    display: table-cell;
    width: 50px;
    vertical-align: top;
  }

  .sso-modal-account-infos-ctnr {
    display: table-cell;
  }

  .sso-modal-account-badge {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding-top: 8px;
    background: #aaa;
    color: #555;
    border-radius: 300px;
    text-align: center;
    font-size: 24px;
  }

  .sso-modal-account-infos {
    word-break: break-all;
    color: #555;
  }

  .oui-modal__footer {
    padding: 2rem 0 0.5rem;
  }
}

.modal-footer {
  border-top: none !important;
}

.modal-body {
  padding-bottom: 0 !important;
}
