.accordion-inner {
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
       -moz-transition: height 0.35s ease;
         -o-transition: height 0.35s ease;
            transition: height 0.35s ease;
}

.extended-accordion-inner.extended-accordion-in {
    overflow : auto;
}
