.iplb-usage {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #dadce0;
  margin-bottom: rem-calc(10);
  color: #273b54;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  &__region {
    font-weight: 700;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
