@import '@ovh-ux/ui-kit/dist/less/_tokens';

.cui-status-card {
  padding: rem-calc(7);
  border: 1px #e9ebe7 solid;
  border-radius: @base-border-radius-small;
  background-color: #fff;

  & & {
    background-color: rgba(242, 242, 242, 0.5);
  }

  &:not(:last-child) {
    margin-bottom: rem-calc(9);
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 2px;
      height: rem-calc(9);
      margin: 0 0 rem-calc(-10) rem-calc(8);
      background-color: #d5dae0;
    }
  }

  &__icon {
    .oui-icon {
      font-size: rem-calc(18);
      line-height: 1.5;
    }
  }

  &__header {
    display: flex;
    padding: rem-calc(5);

    &-middle {
      flex: 1;
      padding: 0 rem-calc(9.5);
      font-size: rem-calc(16);
      overflow: hidden;
    }
  }

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    color: #152643;
  }

  &__subtitle {
    font-weight: 400;
    color: #676767;
  }
}
