.manager-error-page {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
  display: grid;
  height: 100%;
  overflow: hidden;
  .manager-error-page-image {
    img {
      width: 100%;
    }
  }
  .manager-error-page-footer {
    text-align: right;
    overflow: hidden;
  }
}
