.ldp-project-empty {
  aside {
    a.oui-tile {
      &:hover,
      &:focus {
        text-decoration: none;
      }

      strong {
        color: rgb(17, 63, 109);
        font-size: 1.125rem;
      }

      .oui-icon {
        background-color: transparent;
        color: #2859c0;

        &.oui-icon-guides {
          font-size: 2.2rem;
          color: #113f6d;
          padding: 0;
          margin-right: 0.3rem;
        }
      }

      .oui-tile__description {
        word-break: initial;
      }
    }
  }
}
