.share-link__modal__link {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 16px;
  align-items: center;
}

.share-link__modal__link__warning {
  color: var(--ods-color-warning-500);
}
