// slots colors definition
@telephony-slot1-color: #ff9803;
@telephony-slot2-color: rgb(153, 153, 255, 1);
@telephony-slot3-color: rgb(255, 51, 204, 1);
@telephony-slot-available-color: rgb(26, 227, 135);

@text-disabled-color: #757575;
