dist
node_modules
packages/components/ovh-shell
www
screenshot
loader
docs-api
custom-elements
custom-elements-bundle
react/src
vue/src
!.storybook

packages/components/ovh-at-internet/src/ovh-at-internet.ts
packages/manager/apps/pci-databases-analytics/src/components/ui
packages/manager/apps/container
packages/manager/core/api
packages/manager/core/application
packages/manager/core/ovh-product-icons
packages/manager/core/request-tagger
packages/manager/core/shell-client
packages/manager/core/sso
packages/manager/core/url-builder
packages/manager/core/utils
packages/manager/modules/billing-informations
packages/manager/modules/common-api
packages/manager/modules/common-translations
packages/manager/modules/config
packages/manager/modules/gcj
packages/manager/modules/logs-to-customer
packages/manager/modules/network-common
packages/manager/modules/order
packages/manager-tools/manager-cli
packages/manager-tools/manager-generator
packages/manager-tools/manager-generator/template
packages/manager-tools/manager-static-analysis-kit
packages/manager-tools/manager-tailwind-config
packages/manager-tools/manager-tests-setup
packages/manager-tools/manager-vite-config
packages/manager-tools/manager-muk-cli
packages/manager/apps/pci-instances
packages/manager/apps/pci-workflow
packages/manager/apps/web-domains
packages/manager/apps/web-hosting
packages/manager/apps/web-office
packages/manager/apps/zimbra
!.storybook
manager-static-analysis-kit
manager-generator
lint-runner.js
lint-cli.js
packages/manager-tools/manager-generator/bin/manager-generator.js
packages/manager-tools/manager-legacy-tools/test-utils/src/utils/ui-test-helpers-ods18.ts
packages/manager-react-components/src/vite-env.d.ts
