.idea
node_modules
cache
dist
!**/iam/**/types
!**/apps/**/types
.memsourcerc.yaml
/docs/docs/public/assets/json/packages.json
.extras*
.env
.eslintcache
.turbo
packages/manager/apps/**/dev.proxy.config.mjs
playwright-helpers/config.ts
test-results
e2e-dist
coverage
.vscode
.DS_Store
.xtmrc.yaml
**/migration-status-reports/**
.ide-config
_out
perf-budgets-reports/**
types-coverage-reports/**
code-duplication-reports/**
tests-coverage-reports/**
static-dynamic-quality-reports/**/**
**/.type-coverage/result.json
packages/manager-tools/manager-muk-cli/target/**/**/**
