.idea
node_modules
cache
dist
!**/iam/**/types
!**/apps/**/types
.memsourcerc.yaml
/docs/docs/public/assets/json/packages.json
.extras*
.env
.eslintcache
.turbo
packages/manager/apps/**/dev.proxy.config.mjs
playwright-report
playwright-helpers/config.ts
test-results
e2e-dist
