packages/manager/apps/container
custom-elements-bundle
**/dist/
**/node_modules/
**/coverage/
**/.type-coverage/
custom-elements
loader
react
vue
packages/manager/apps/pci-databases-analytics/src/components/ui
packages/manager/apps/pci-databases-analytics/src/lib/utils.ts
packages/manager/apps/observability
