packages/manager/apps/container
custom-elements-bundle
dist
custom-elements
loader
react
vue
packages/manager/apps/pci-ai-dashboard/src/components/ui
packages/manager/apps/pci-ai-dashboard/src/lib/utils.ts
packages/manager/apps/pci-ai-dashboard/src/types