/* Header */
@header-background-color: @nurse;

/* Header - Title */
@header-title-font-size: 2.375rem;
@header-title-font-weight: @font-thin;
@header-title-font-color: @zodiac;

#ovh {
  .header(
  @background-color: @header-background-color,
  @title-font-size: @header-title-font-size,
  @title-font-weight: @header-title-font-weight,
  @title-font-color: @header-title-font-color
) {
    display: flex;
    align-items: flex-end;
    min-height: 6.875rem;
    background-color: @background-color;
    padding-bottom: 1.25rem;
    margin: 0;

    &__title {
      font-size: @title-font-size;
      font-weight: @title-font-weight;
      color: @title-font-color;
      margin: 0;
    }
  }
}

.cloud-header {
  #ovh > .header();
}
