@tailwind utilities;

@import '@ovhcloud/ods-themes/default';

html {
  font-family: var(--ods-font-family-default);
}

ods-button.action-menu-item::part(button) {
  width: 100%;
  justify-content: left;
}

ods-modal.max-height-modal::part(dialog) {
  max-height: 90%;
}
