@tailwind utilities;

@import '@ovhcloud/ods-themes/default';
@import '@ovh-ux/muk/dist/style.css';

html {
  font-family: var(--ods-font-family-default);
}

[class^="_modal-content"] {
  max-height: 90%;
}
