restart-button {
  .restart-button {
    font-size: 1.5rem;
    width: 28px;
    height: 28px;
    &:focus {
      outline: none;
    }
  }
  .spin {
    animation: rotation 0.5s ease-out;
  }
  .disabled {
    cursor: initial;
    &:focus,
    &:hover {
      background-color: initial;
      border-color: initial;
      color: #c1c1c1;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
