oui-select-picker.icon-success-no-opacity
  .oui-select-picker__input:disabled
  ~ .oui-select-picker__label-container
  .oui-select-picker__picture-container {
  color: green;
  opacity: unset;
  filter: none;
  -webkit-filter: none;
}
