.popover {
  font-family: inherit;
  max-width: inherit !important;

  button:not(.btn-actions-list) {
    padding: @padding-base-vertical @padding-base-horizontal;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .popover-inner {
    border-radius: @border-radius-large;
    overflow: hidden;
  }

  &.pretty-popover {
    @pretty-popover-bg: #f8f8f8;
    @pretty-popover-border-color: #ddd;
    @pretty-popover-group-margin: 16px;
    @pretty-popover-item-font-size: 1.5em;

    background-color: @pretty-popover-bg;
    padding: 0;
    color: @gray-dark;

    .popover-content {
      padding: 0;
    }

    section.page-section {
      header {
        position: relative;
        margin: 20px 0 !important;

        h2 {
          text-align: center;
          font-size: 1.5625rem;
          padding: 0 (@padding-large-horizontal * 2);
          margin-bottom: 0;
        }

        .btn.btn-link {
          position: absolute;
          left: 0;
          top: 2px;
          font-size: 20px;
          padding: 0 @padding-base-horizontal;
        }
      }

      section {
        position: relative;
        overflow-y: auto;

        .alert {
          padding-top: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
          border-radius: 0;
          border-left: 0;
          border-right: 0;

          ul li {
            list-style-type: inherit;
          }
        }

        div[data-ng-messages] label {
          color: @ae-500;
        }

        .section-group {
          &:not(:first-child) {
            margin-top: @pretty-popover-group-margin;
          }

          .group-title {
            padding: 0 8px 8px;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
            color: #999;
          }

          .large-popover-item {
            border-left: none;
            border-right: none;
            width: 100% !important;
          }

          .section-item {
            border-bottom: 1px solid @pretty-popover-border-color;
            background-color: #fff;
            padding: @padding-base-vertical @padding-base-horizontal;

            &.switch-item {
              button {
                line-height: 26px;
              }
            }

            &.item-choice {
              .dtd {
                padding: 0 0 0 @padding-base-horizontal;
              }

              .radio-content {
                width: 25px;
              }
            }

            &:first-child {
              border-top: 1px solid @pretty-popover-border-color;
            }

            &.form-group {
              margin-bottom: 0;

              &.has-error label {
                color: @ae-500;
              }
            }
          }

          button.section-item {
            display: block;
            position: relative;

            &:not(.section-item-left) {
              padding-right: 35px;
            }

            &.section-item-left {
              padding-left: 35px;
            }

            .chevron-right,
            .chevron-left {
              position: absolute;
              top: 0;
              bottom: 0;
              width: 30px;
              opacity: 0.5;
              background: #eee;

              .chevron-wrapper {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin-top: -10px;
                text-align: center;
              }
            }

            .chevron-right {
              right: 0;
            }

            .chevron-left {
              left: 0;
            }

            &:focus,
            &:hover {
              .chevron-right,
              .chevron-left {
                opacity: 1;
              }
            }
          }

          label.section-item {
            margin: 0;

            &:hover {
              background-color: #f8f8f8;
            }
          }
        }
      }

      footer {
        padding: 20px 10px 10px;
      }
    }
  }
}
