@import './_variables';

.status(@type, @color, @bg-color) {
  .oui-status_@{type} {
    background-color: @bg-color;
    border-radius: @border-radius-default;
    color: @color;
    font-weight: 600;
  }
}

.status(info, @info-color, @info-bg-color);
.status(success, @success-color, @success-bg-color);
.status(warning, @warning-color, @warning-bg-color);
.status(error, @error-color, @error-bg-color);
