ovh-manager-navbar-language-menu-picker {
  @import '~@ovh-ux/ui-kit/dist/scss/_tokens';

  .oui-navbar-list {
    &_dropdown {
      border-radius: $base-border-radius-small;
      box-shadow: $base-box-shadow-primary;
    }

    &__title {
      color: $p-800;
      font-weight: bold;
      font-size: $venus-font-size;
      line-height: $venus-line-height;
    }

    &__item .oui-navbar-link {
      &_tertiary {
        font-weight: 600;
        line-height: 1rem;
      }

      &_tertiary:hover,
      &_tertiary:focus {
        border-bottom: none;
        color: $p-700;
        font-weight: 600;
      }
    }
  }
}
