@import './_variables.less';

.oui-page-header {
  background: @background-color;

  .oui-header-tabs__container {
    border-bottom: 1px solid rgb(230, 245, 252);
  }

  :not(.oui-header-tabs__dropdown-container) > .oui-header-tabs__item_active > a {
    border-color: @primary-color;
  }

  h1 {
    font-size: 54pt;
    line-height: 67pt;
    letter-spacing: 0.12pt;
    color: @text-color;
    font-weight: 200;
  }
}
