.manager-notifications {
  @import '@ovh-ux/ui-kit/dist/scss/_tokens';

  position: fixed;
  top: 2.75rem;
  bottom: 0;
  right: 0;
  background-color: $p-075;
  width: 19.375rem;
  transform: translateX(19.375rem);
  z-index: $base-z-index-panel;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0.875rem 0.938rem 0 rgba(51, 62, 77, 0.25);
  transition: transform 0.1s ease-out;

  &_toggle {
    transform: translateX(0);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .notification-time {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &_placeholder {
    vertical-align: middle;
    font-size: 1.25rem;

    .oui-icon {
      padding-bottom: 0.25rem;
    }
  }

  &_content {
    background-color: $p-000;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: $base-border-radius-large;
    text-decoration: none;
    color: $p-800-text;
    font-size: 0.875rem;
    box-shadow: $base-box-shadow-primary;

    > a {
      color: inherit;
      text-decoration: none;
      font-weight: initial;
    }

    .oui-icon {
      font-size: 1.25rem;
      max-height: 1.25rem;
      margin: 0.188rem 0.625rem;
    }

    .oui-badge {
      line-height: 1rem;
    }

    button.oui-badge {
      position: absolute;
      font-size: 0.75rem;
      top: 1.25rem;
      right: 1.25rem;

      &_error {
        background-color: $ae-500;
        color: $p-000;
      }

      &_info {
        background-color: $p-500;
        color: $p-000;
      }
    }
  }

  &_subject {
    font-size: 1.125rem;
    font-weight: 600;
    max-width: 8rem;
    letter-spacing: 0.0075rem;
    line-height: 1.5rem;
  }
}
