ovh-manager-trusted-nic-label {
  .trusted-nic-label {
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    font-size: 1rem !important;

    .trusted-nic-text {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
}
