.cda-user-details-permission-list-edit {
  .btn-back {
    background-color: #dfeeeb;
    border-color: #bdccc9;
  }

  .btn-back:hover {
    .btn-back;

    color: #737373;
  }

  .permission-chk {
    vertical-align: middle;
  }

  .permission-chk-list {
    display: inline-block;
    border-bottom: 1px;
    border-bottom-style: outset;
  }
}
