hub-payment-status {
  @import '~bootstrap/scss/_functions';
  @import '~bootstrap/scss/_variables';
  @import '~bootstrap/scss/_mixins';
  @import '~bootstrap/scss/_utilities.scss';
  @import '~@ovh-ux/manager-hub/src/variables.scss';

  .service-expiry {
    color: $hub-status-expired-color;
    vertical-align: middle;
  }

  p {
    color: $hub-text-color;
  }
}
