hub-payment-status {
  @import '~bootstrap/scss/_functions';
  @import '~bootstrap/scss/_variables';
  @import '~bootstrap/scss/_mixins';
  @import '~bootstrap/scss/_utilities.scss';
  @import '~@ovh-ux/ui-kit/dist/scss/_tokens';

  .hub-payment-status_small {
    font-size: $mercury-font-size;
  }

  @media screen and (max-width: $device-breakpoint-phone-max-width) {
    .oui-datagrid__cell:first-of-type {
      border-bottom: none;
    }
  }
}
