analytics-data-platform-deploy-component {
  .storage-list {
    display: flex;
    flex-wrap: wrap;

    &__term {
      width: 50%;
      text-align: left;
      font-weight: 400;
    }

    &__definition {
      width: 50%;
      overflow: hidden;
    }

    &__separator {
      width: 56%;
      margin-left: 0;
    }
  }

  .ovhstack .oui-input.oui-input_number {
    border-radius: 0;
    border-bottom: inherit;
  }
}
