analytics-data-platform-deploy-component {
  .storage-list {
    display: flex;
    flex-wrap: wrap;

    &__term {
      width: 50%;
      text-align: left;
      font-weight: 400;
    }

    &__definition {
      width: 50%;
      overflow: hidden;
    }

    &__separator {
      width: 56%;
      margin-left: 0;
    }
  }

  .ovhstack .oui-input.oui-input_number {
    border-radius: 0;
    border-bottom: inherit;
  }
}

oui-modal {
  .analytics-data-platform-quota-info {
    padding-left: 6.7rem;

    .analytics-data-platform-quota-info-container {
      &::after {
        width: 6.7rem;
      }

      .oui-datagrid__cell-sticky:first-child {
        width: 6.7rem;
      }
    }
  }
}
