@import 'bootstrap4/scss/bootstrap';

$modal-header-bg-color: var(--ods-color-primary-200);
$modal-header-color: var(--ods-color-primary-800);

.modal-header {
  background-color: $modal-header-bg-color;
  color: $modal-header-color;
}

.btn-close {
  color: $modal-header-color;
  background: none;
  border: none;
}

.btn-close:after {
  content: '\2715';
  position: relative;
  left: -3px;
  top: -3px;
}