ul {
  list-style-type: none;
}

.col {
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  flex: 3;
  margin: 15px;
}
.element {
  margin: 15px;
}
.chipDashboard {
  float: right;
  margin-left: 10px;
}

.row {
  display: flex;
}

button {
  color: #0050d7;
  background-color: #fff;
  border-color: #0050d7;
  min-width: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0;
  overflow: visible;
  border-radius: 100%;
  cursor: pointer;
}
