.sign-up-form-details {
  .phone-number-field {
    position: relative;

    .oui-ui-select {
        margin-bottom: 0;
        width: 100px;
        position: initial;

        .ui-select-match {
          height: 2.4rem;
        }
    }

    .oui-input_phone {
      box-shadow:
        0 0 0 transparent,
        1px 0 0 rgba(40, 89, 192, 0.2);
    }
  }
}
