.tooltip {
  position: relative;
  display: inline-block;
  left: -80%;

  .tooltip-text {
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    margin-top: -4px;
    right: -100%;
    border: 2px solid #e6e6e6;
    text-align: left;
    z-index: 9999;

    div {
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}
