.document-upload-validation-modal {
  .oui-modal__footer {
    justify-content: center;
  }

  .oui-collapsible__header,
  .oui-collapsible__body {
    font-size: 0.8rem;
    padding: 0.6rem !important;
  }

  .oui-collapsible__header {
    height: auto;
  }

  .oui-collapsible {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
