@import '~@ovh-ux/ui-kit/dist/scss/_tokens';
@import '~bootstrap4/scss/_functions';
@import '~bootstrap4/scss/_variables';
@import '~bootstrap4/scss/_mixins';
@import '~bootstrap4/scss/_utilities.scss';

a.oui-tile {
  background-color: $p-075;
  border: 0;
  box-shadow: none;
  color: $p-500;
  transition: all ease-in 200ms;

  .oui-icon {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background-color: $p-500;
    color: $p-000;
    font-size: 1rem;
    border-radius: $base-border-radius-medium;
  }

  &:hover,
  &:focus {
    background-color: $p-100;
    box-shadow: $base-box-shadow-primary;
  }
}

/**
Fixing bootstrap columns for safari
 */
.row {
  &::before,
  &::after {
    display: inline-block !important;
  }
}
