@DETAILS_TITLE_COLOR: #64afa0;

.cloud-billing-consumption {
  .cloud-project-billing-content {
    .cloud-compute-tabs-ctnr {
      .nav {
        li {
          max-width: 50%;

          a {
            color: @DETAILS_TITLE_COLOR;
            cursor: pointer;
            padding: 0 15px;
            text-align: center;

            h4 {
              font-size: 12px;
            }

            @media (min-width: @screen-sm-min) {
              h4 {
                font-size: 15px;
              }
            }
          }

          &.active {
            a {
              h4 {
                font-weight: 700;
              }
            }

            a,
            a:hover {
              background-color: white;
              color: black;
              border-color: @DETAILS_TITLE_COLOR;
              border-bottom-color: transparent;
              cursor: default;
            }
          }
        }
      }

      .nav-tabs {
        border-bottom: 1px solid @DETAILS_TITLE_COLOR;

        li {
          /* stylelint-disable-next-line no-descending-specificity */
          a:hover {
            background-color: #f5f5f5;
            border-color: white;
            color: black;
            border-bottom: 1px solid @DETAILS_TITLE_COLOR;
          }
        }
      }
    }

    .cloud-billing-consumption-content-ctnr {
      display: block;
      padding: 20px;
    }
  }
}
