//  Table of Mixins:
//
//   1. Animations
//

// 1. Animations
// --------------

#ovh {
  .animate-fast-out-slow-in(@duration: 0.2s) {
    transition-duration: @duration;
    transition-timing-function: @animation-fast-out-slow-in;
  }

  .animate(@duration: 0.2s) {
    transition-duration: @duration;
    transition-timing-function: @animation-default;
  }
}
