.sizing__advanced-button {
  padding: 0 0 1rem 0;

  &:disabled {
    display: none;
  }
}

.sizing__advanced-units-container {
  display: inline-block;
}

.sizing__advanced-units {
  display: inline-block;
  font-weight: 600;
  padding-left: 0.5rem;
}

.sizing__advanced-units-checkbox {
  display: inline-block;
  font-weight: 600;
  padding-left: 2rem;
}

.sizing__pricing {
  margin-bottom: 1em;
}
