.spinner__label {
  vertical-align: top;
}

.submitjob__error {
  color: #e36947;

  .submitjob__errormessage {
    vertical-align: top;
    padding-left: 5px;
  }

  .oui-icon {
    color: #b04020;
  }
}
