@CLOUD_GREEN_COLOR: #64afa0;
@CLOUD_GREY_COLOR: #777;

.cloud-project-billing {
  .cloud-billing-content-ctnr {
    display: block;
  }
}

.cloud-billing-instance-list {
  .change-billing-button-text {
    font-size: 12px;
  }
}

.cloud-billing-accordion-heading {
  .no-style;

  width: 100%;

  .cloud-billing-accordion-heading-title {
    .pull-left;

    margin-left: 8px;
    font-style: normal;
    float: left;
  }

  .cloud-billing-accordion-heading-price {
    .pull-right;

    font-weight: bold;
  }
}

.cloud-billing-resource-list {
  .cloud-billing-resource-no-data {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #b6b6b6;
    display: block;
  }

  .panel-group {
    margin: 0;

    .panel {
      .panel-heading {
        padding: 0;

        .panel-title {
          padding: 10px 5px;
        }

        :hover {
          background-color: #ddd;
        }
      }

      &.active {
        .panel-heading {
          background-color: #ddd;
        }
      }

      .panel-body {
        margin-bottom: 10px;

        .table {
          tbody {
            tr {
              td {
                @media (max-width: 768px) {
                  &.text-right {
                    text-align: left !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
