.chip-3AZ::part(badge) {
  background-color: var(--ods-color-primary-700);
  color: var(--ods-color-primary-000);
  border-radius: 50px;
}

.chip-1AZ::part(badge) {
  background-color: var(--ods-color-information-400);
  color: var(--ods-color-primary-000);
  border-radius: 50px;
}

.rounded-full::part(badge) {
  border-radius: 50px;
}
