.two-block-page-container {
  margin: 40px;
}

.two-block-list__item {
  font-size: 12px;
}

.offer {
  font-size: 14px;
  max-width: 1000px;
  position: absolute;
  top: 0;
  background: white;
  z-index: 2;

  .offer__explanation {
    font-size: 12px;
  }

  .offer__h2 {
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
  }

  .offer__h3 {
    &::before {
      content: '\2714';
      color: #289f43;
      margin-right: 5px;
    }

    font-size: 14px;
    font-weight: bold;
  }

  .oui-heading_1 {
    margin-top: 30px;
  }

  .oui-box {
    border: none;
    margin-bottom: 20px;
  }

  .oui-input {
    width: 100px;

    &.input_cloud-project {
      width: 100%;
    }
  }

  .oui-button {
    width: 100%;
  }

  h3.offer__h3 ~ p {
    margin-left: 15px;
  }
}
