<oui-page-header data-heading="{{:: $ctrl.description || $ctrl.serviceName }}"
                 data-description="{{:: $ctrl.serviceName }}">
    <oui-header-tabs data-ng-if="!$ctrl.vps.isExpired">
        <oui-header-tabs-item data-text="{{:: 'vps_tab_dashboard' | translate }}"
                              data-state="iaas.vps.detail.dashboard"
                              data-state-params="{ serviceName: $ctrl.serviceName }"></oui-header-tabs-item>
        <oui-header-tabs-item data-text="{{:: 'vps_tab_secondary_dns' | translate }}"
                              data-state="iaas.vps.detail.secondary-dns"
                              data-state-params="{ serviceName: $ctrl.serviceName }"></oui-header-tabs-item>
        <oui-header-tabs-item data-ng-repeat="feature in ::$ctrl.features track by $index"
                              data-text="{{:: feature.textId | translate }}"
                              data-state="{{:: feature.state }}"></oui-header-tabs-item>
    </oui-header-tabs>
</oui-page-header>
