.manager-account-sidebar-links {
  @import '@ovh-ux/ui-kit/dist/scss/_tokens.scss';

  a,
  .btn-link {
    font-weight: bold;
    color: $p-500 !important;
    padding: 0;
    text-decoration: none;
    white-space: initial;
    text-align: left;
    letter-spacing: normal;

    .oui-icon {
      line-height: 1;
      color: $p-500;
      font-size: 1.5rem;
      vertical-align: middle;
      margin-right: 1rem;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &_divider {
    display: block;
    border-top: 1px solid darken($p-075, 10%);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
