// Charts Search Bar
.information-block {
  height: 50px;
  border: 1px solid;
  .background-color-fn(@barBlockBackground);
  .color-fn(@barBlockFont);
  .border-color-fn(@barBlockBorder);
  .rounded(@RADIUS_CONST);
  // .box-shadow( 2px 2px 2px @grey3);

  .options {
    padding: 10px 0 0 10px;
  }
}
