.metrics-token-add {
  &__labels {
    display: flex;
  }

  &__labels-item {
    margin-right: 5px;

    &-label {
      font-size: 14px;
    }

    &-action {
      margin-top: 30px;
    }
  }

  &__footer {
    margin-top: 2.5rem;
  }
}
