.log-welcome {
  .thumbnail {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    transition: border 0.2s ease-in-out;
  }

  .caption {
    padding: 9px;
    color: #333;
  }
}
