.manager-hub-payment-mean {
  button {
    background: #e3eaf3;
    border-radius: 0.5rem;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
  }
}
