manager-error-page {  /* stylelint-disable-line */

  $error-color: rgb(193, 27, 27);
  $error-bg-color: rgb(255, 210, 221);
  $bg-color: rgb(241, 249, 253);

  width: 100%;
  height: 100%;
  overflow: auto;

  .ovh-manager-error-page {
    background-color: $bg-color;

    .minh-100 {
      min-height: 100%;
    }

    .oui-message.oui-message_error {
      background-color: $error-bg-color;
      border: 0;
      border-radius: 0;
      color: $error-color;
    }
  }
}
