// media query
@timeline-mobile-width: 1000px;

// padding desktop
@timeline-padding-desktop-left: 64px;

// Timeline badge
@timeline-circle-width: 25px;

// Timeline panel
@timeline-panel-max-width: 430px;

// Timeline panel arrow
@timeline-panel-arrow-top-width: 8px;
@timeline-panel-arrow-right-width: 16px;

.border-arrow() {
  border-color: transparent @gray-lighter;
  top: calc(~'50% - ' @timeline-panel-arrow-top-width);
  border-top-width: @timeline-panel-arrow-top-width;
  border-right-width: @timeline-panel-arrow-right-width;
  left: -@timeline-panel-arrow-right-width;
  border-left-width: 0;
  border-bottom-width: @timeline-panel-arrow-top-width;
}

.telecom-pack-xdsl-orderFollowUp {
  ul.timeline {
    &::before {
      left: @timeline-padding-desktop-left + @timeline-circle-width / 2 + 3;
      background-color: @text-color;
    }

    li {
      timeline-badge {
        float: left;
        box-shadow: none;
        width: @timeline-circle-width;
        height: @timeline-circle-width;
        line-height: @timeline-circle-width;

        &.success {
          background-color: @as-500 !important;
        }

        &.warning {
          background-color: @aw-500 !important;
        }

        &.danger {
          background-color: @ae-500 !important;
        }

        &.info {
          background-color: #3f5167 !important;
        }
      }

      timeline-panel {
        background-color: @gray-lighter;
        box-shadow: none;
        border: none;
        float: left;
        left:
          @timeline-panel-arrow-top-width +
          @timeline-panel-arrow-right-width;
        max-width: @timeline-panel-max-width;

        &::before {
          border-color: @body-bg;
          border-width: 0;
          left:
            -(
              (
                @timeline-panel-arrow-top-width +
                @timeline-panel-arrow-right-width
              ) * 2
            );
        }

        &::after {
          .border-arrow();
        }

        .timeline-panel {
          display: table;
          width: 100%;

          &-status {
            display: table-cell;
            vertical-align: middle;
            width: 32px;
          }

          &-content {
            display: table-cell;
            vertical-align: middle;

            .service-title {
              margin-bottom: 8px;
            }

            .service-item {
              line-height: normal;
            }
          }
        }
      }
    }

    timeline-event .timeline-inverted {
      display: flex;
      align-items: center;

      timeline-badge {
        position: static;
      }
    }

    timeline-event:first-child {
      li timeline-panel {
        &::before {
          top: 0;
          border-width:
            @timeline-panel-arrow-top-width +
            @timeline-panel-arrow-right-width;
        }
      }
    }

    timeline-event:last-child {
      li timeline-panel {
        &::before {
          top: calc(~'50% - ' @timeline-panel-arrow-top-width);
          border-width:
            @timeline-panel-arrow-top-width +
            @timeline-panel-arrow-right-width;
        }
      }
    }
  }

  .timeline-success {
    ul.timeline::before {
      background-color: @as-500;
    }
  }

  // angular-timeline original css
  // just change the min-width/max-width variable
  // angular-timeline.css
  @media only screen and (min-width: @timeline-mobile-width) {
    ul.timeline {
      li {
        timeline-panel {
          float: left;
          width: 50%;
        }

        timeline-badge {
          left: @timeline-padding-desktop-left + @timeline-circle-width;
        }
      }

      timeline-event .timeline-inverted {
        margin-left: 92px;
      }
    }
  }

  @media only screen and (max-width: (@timeline-mobile-width - 1)) {
    ul.timeline {
      &::before {
        left: @timeline-circle-width / 2;
      }

      li {
        timeline-panel {
          width: calc(~'100% - 51px');
          float: left;

          &::after {
            .border-arrow();
          }
        }

        timeline-badge {
          left: 0;
          margin-left: 0;
          top: 0;
        }
      }
    }
  }
  // angular-timeline-animations.css
  @media only screen and (min-width: @timeline-mobile-width) {
    .timeline timeline-event:nth-child(odd) timeline-panel.bounce-in {
      animation: cd-bounce-2 0.6s;
    }

    .timeline timeline-event:nth-child(even) timeline-panel.bounce-in {
      animation: cd-bounce-2-inverse 0.6s;
    }
  }

  @media only screen and (max-width: (@timeline-mobile-width - 1)) {
    .timeline timeline-event timeline-panel.bounce-in {
      animation: cd-bounce-2 0.6s;
    }
  }
}
