.manager-hub-user-infos {
  @import '~@ovh-ux/manager-hub/src/variables.scss';

  $circle-radius: 2.5rem;

  background-color: $p-000-white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.075);
  text-align: center;
  border-radius: $hub-border-radius-default;
  padding: 0.25rem;
  color: $hub-text-color;

  hr {
    height: 1px;
    border: 0;
    color: #eee;
    background-color: #eee;
    margin-top: 2rem;
  }

  &_text-small {
    font-size: 0.9rem;
  }

  & &_initials {
    width: $circle-radius * 2;
    height: $circle-radius * 2;
    display: block;
    font-size: $circle-radius;
    padding-top: $circle-radius * 0.2;
    background-color: $p-300;
    color: $p-000-white !important;
    border-radius: $circle-radius;
    text-align: center;
    font-weight: normal;
  }

  & &_profile {
    &_link {
      color: $p-500;
      font-weight: 600;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      .manager-hub-user-infos_initials {
        background-color: $p-400;
      }

      .manager-hub-user-infos_profile_link {
        color: $p-700;
      }
    }
  }

  p.oui-chip {
    color: $p-700;
    line-height: 1.875rem;
  }

  &_initials-centered {
    position: relative;
    top: -$circle-radius;
    margin: auto;
    margin-bottom: $circle-radius * -1.25;
  }

  &_user-name {
    button.btn.btn-link {
      text-decoration: none;
      width: 100%;

      span {
        color: $p-500;
        font-weight: 600;
      }

      .oui-icon {
        font-size: 1rem;
        vertical-align: middle;
        margin-left: 0.2rem;
        font-weight: 600;
      }
    }

    &__login {
      white-space: initial;
    }
  }

  &_role {
    white-space: initial;
  }

  &_links {
    clear: both;
    text-decoration: none;

    .btn.btn-link {
      color: $p-500;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $p-700;
        text-decoration: none;
      }
    }
  }

  .oui-badge {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
