@tailwind utilities;

@import '@ovhcloud/ods-themes/default';
@import '@ovh-ux/muk/dist/style.css';
@import '@ovhcloud/ods-react/normalize-css';

html {
  font-family: var(--ods-font-family-default);
}
