/* Private Networks - Header */
@private-networks-header-font-size: 1.5625rem;
@private-networks-header-font-size_medium-plus: 1.9375rem;
@private-networks-header-font-color: #333;
@private-networks-header-font-weight: 500;
@private-networks-header-line-height: 1.1;
@private-networks-header-background-color: white;
@private-networks-header-border-left-color: #e3e3e3;
@private-networks-header-border-top-color: @private-networks-header-border-left-color;
@private-networks-header-network-name-font-size: 1.125rem;
@private-networks-header-network-name-font-size_medium-plus: 1.25rem;
@private-networks-header-network-name-font-color: #777;
@private-networks-header-edit-vrack-button-color: #61afa0;
@private-networks-header-edit-vrack-button-color_hover: darken(
  @private-networks-header-edit-vrack-button-color,
  15%
);

/* Private Networks - List */
@private-networks-list-border-left-color: @private-networks-header-border-left-color;

/* Private Networks - Action */
@private-networks-action-button-background-color: #f2f2f2;
@private-networks-action-button-background-color_hover: white;
@private-networks-action-button-border-color: #e5e5e5;
@private-networks-action-font-color: #333;

.private-networks {
  list-style: none;
  padding-left: 0;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: @private-networks-list-border-left-color;
  margin-top: 3.125rem;

  &_no-vrack {
    border-left: none;
    margin-top: 4.6875rem;
  }

  &__header {
    color: @private-networks-header-font-color;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: @private-networks-header-border-left-color;
    padding-left: 0.875rem;
    font-weight: @private-networks-header-font-weight;
    line-height: @private-networks-header-line-height;
    margin-left: 1.5625rem;
    margin-top: -3.625rem;
    background-color: @private-networks-header-background-color;

    &-title {
      font-size: @private-networks-header-font-size;
    }

    &-network-name {
      display: inline-block;
      font-size: @private-networks-header-network-name-font-size;
      color: @private-networks-header-network-name-font-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-edit-vrack-button {
      border: none;
      color: @private-networks-header-edit-vrack-button-color;
      cursor: pointer;
    }

    &-edit-vrack-button:hover {
      color: @private-networks-header-edit-vrack-button-color_hover;
      text-decoration: none;
    }

    &_no-vrack {
      border-left: none;
    }
  }

  &__description {
    margin: 0.9375rem 0 0.78125rem;
  }

  &__item {
    margin-top: 2.25rem;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: @private-networks-header-border-top-color;

    &_no-vrack {
      border-top: none;
    }

    &_action {
      border-top: 0;
      margin: 0;

      &-button {
        background-color: @private-networks-action-button-background-color;
        border-width: 1px;
        border-style: solid;
        border-color: @private-networks-header-border-top-color;
        width: 1.5625rem;
        height: 1.5625rem;
        margin-left: -0.875rem;
      }

      &-button:focus {
        outline: 0;
      }

      &-button:hover {
        background-color: @private-networks-action-button-background-color_hover;
      }

      &-button[disabled] {
        cursor: not-allowed;
        color: lighten(@private-networks-action-font-color, 40%);
      }

      &-button[disabled]:hover {
        background-color: @private-networks-action-button-background-color;
      }

      &:last-child {
        margin-top: 1.25rem;
      }
    }
  }
}

/* Medium+ targeted styles */
@media (min-width: @screen-md-min) {
  .private-networks {
    &__header-title {
      font-size: @private-networks-header-font-size_medium-plus;
    }

    &__header-network-name {
      font-size: @private-networks-header-network-name-font-size_medium-plus;
    }
  }
}
