.notificationsList {
  @import '@ovh-ux/ui-kit/dist/scss/_tokens';

  list-style: none;
  margin: 0;
  padding: 0;

  &_group {
    &_title {
      font-size: 1.125rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }

  &_empty {
    &_placeholder {
      vertical-align: middle;
      font-size: 1.25rem;

      .oui-icon {
        padding-bottom: 0.25rem;
      }
    }
  }
}
