/* Table */
@table-background-color: white;
@table-margin: 2 * @global-margin;

/* Table - Cell */
@table-cell-height: 2.625rem;
@table-cell-font-size: 0.875rem;
@table-cell-font-weight: @font-regular;
@table-cell-font-weight_header: @font-semi-bold;
@table-cell-font-color: @dove;
@table-cell-font-color_header: @mineshaft;
@table-cell-border-bottom-color: @gallery;
@table-cell-background-color_header: @concrete;
@table-cell-background-color_hover: rgba(242, 242, 242, 0.4);
@table-actions-row-background-color: @rhino;

#ovh {
  .table(
  @margin: @table-margin,
  @cell-height: @table-cell-height,
  @cell-font-size: @table-cell-font-size,
  @cell-font-weight: @table-cell-font-weight,
  @cell-font-weight_header: @table-cell-font-weight_header,
  @cell-font-color: @table-cell-font-color,
  @cell-font-color_header: @table-cell-font-color_header,
  @cell-border-bottom-color: @table-cell-border-bottom-color,
  @cell-background-color_header: @table-cell-background-color_header,
  @cell-background-color_hover: @table-cell-background-color_hover,
  @row-actions-background-color: @table-actions-row-background-color,
) {
    width: 100%;
    margin: @margin 0;

    &_fixed {
      table-layout: fixed;
    }

    &__row {
      &:hover > &__cell {
        background-color: @cell-background-color_hover;
      }

      &_actions {
        transition: all 1s ease-out;
        overflow: hidden;

        &.hidden {
          max-height: 0;
        }

        &.shown {
          max-height: 200px;
        }

        th:first-child {
          padding-left: 10px;
        }
      }
    }

    &__cell {
      text-align: left;
      font-size: @cell-font-size;
      font-weight: @cell-font-weight;
      height: @cell-height;
      border-style: solid;
      border-width: 1px 0 1px 0;
      border-top-color: transparent;
      border-bottom-color: @cell-border-bottom-color;
      color: @cell-font-color;
      padding-right: 0.625rem;

      &:first-child {
        padding-left: 0.625rem;
      }

      &_header {
        user-select: none;
        color: @cell-font-color_header;
        font-weight: @cell-font-weight_header;
        border-bottom: 0;
        min-height: @cell-height;
        background-color: @cell-background-color_header;
      }

      &_actions {
        background-color: @row-actions-background-color;
        color: white;
        min-height: @cell-height;
        border-bottom: 0;
      }

      &_tiny {
        width: 3.125rem;
      }

      &_small {
        width: 7.5rem;
      }

      &_medium {
        width: 11.25rem;
      }

      &_large {
        width: 18.75rem;
      }

      &_xlarge {
        width: 25rem;
      }
    }
  }
}

.ovh-table,
.cloud-table {
  #ovh > .table();
}
