.server-data-grid {
  overflow: scroll;
  display: block;
  width: 100%;
}
.action-menu {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#container > #right-side {
  button:has([class*='icon--columns']) {
    display: none;
  }
}
