@cui-grid-margin: 0.9375rem;

.cui-grid-cell {
  padding: @cui-grid-margin / 2;
  width: 33.33%;
}

.cui-grid-list {
  display: flex;
  flex-wrap: wrap;
  margin: @cui-grid-margin - (@cui-grid-margin / 2);

  &-item {
    .oui-select-picker,
    .oui-radio_thumbnail {
      height: 100%;
    }
  }

  .cui-grid-cell {
    button {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: @screen-sm-min) and (max-width: 1439px) {
  .cui-grid-cell {
    width: 50%;
  }
}

@media only screen and (max-width: (@screen-sm-min - 1)) {
  .cui-grid-cell {
    width: 100%;
  }
}
