.iplb-vrack {
  &__box {
    margin-bottom: 20px;

    &-dl {
      margin-bottom: 0;
    }

    //  TODO => Remove margin from button.  We shouldn't have to do that but that box is a temporary thing.
    &-button {
      .oui-button {
        margin-bottom: 0;
      }
    }
  }
}
