@import '@ovh-ux/manager-hub/src/variables.scss';

@mixin manager-hub-billing-summary {
  $bg-color: $p-300;
  $bg-image: url('../../assets/billing-background.svg');

  background-color: $bg-color;
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-size: cover;
  color: $p-000-white;
  font-weight: 600;
  text-align: center;
  border-radius: $hub-tile-border-radius;
  padding: $hub-tile-padding;
  width: 100%;

  > h3 {
    color: $p-000-white;
  }

  &__billing-link {
    margin-top: 1rem;
  }

  .oui-icon {
    color: $p-000-white;
  }

  p,
  span {
    > a {
      color: $p-000-white;
      margin-bottom: -1.5rem;
      text-decoration: underline !important;
    }
  }

  .oui-ui-select {
    width: 100%;
    max-width: 15rem;
    margin: auto;
    padding: 0 1rem;

    .ui-select-match {
      &,
      &:hover,
      &:focus,
      &[aria-expanded="'true'"] {
        background-color: transparent;
        border-color: $p-000-white;
        border-width: 2px;
        border-radius: 0.25rem;
        color: $p-000-white;
        font-weight: 600;

        .ui-select-match-icon {
          color: inherit;
        }
      }
    }

    .ui-select-dropdown {
      background-color: $bg-color;
      border: 2px solid $p-000-white;
      border-top: none;
      width: calc(100% - 2rem);
      left: 1rem;

      .ui-select-choices-row {
        color: $p-000-white;
        background-color: transparent;
        font-weight: 600;

        &:hover {
          color: $p-000-white;
          background-color: $p-700;
        }
      }
    }
  }

  &__bill-total {
    font-weight: 600;
    font-size: calc(2rem + 1vw);
    white-space: nowrap;
    display: block;
  }

  &__bill-status .oui-icon {
    font-size: 1.5rem;
  }
}

hub-billing-summary .manager-hub-billing-summary {
  @include manager-hub-billing-summary;
}
