@import '@ovh-ux/manager-hub/src/variables.scss';

.manager-hub-billing-summary {
  $bg-color: #4495ee;
  $bg-image: url('./assets/background.svg');

  background-color: $bg-color;
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-size: cover;
  color: $p-000-white;
  text-align: center;
  border-radius: $hub-tile-border-radius;
  padding: $hub-tile-padding;
  width: 100%;
  height: 100%;

  > h3 {
    color: $p-000-white;
  }

  &_billing-link {
    @include hub-link-button;

    margin-top: 2rem;
  }

  p,
  span {
    font-weight: bold;
    color: inherit;

    .oui-icon {
      color: $p-000-white;
      font-weight: bold;
    }

    > a {
      color: $p-000-white;
      margin-bottom: -1.5rem;
      text-decoration: underline !important;
    }
  }

  .oui-ui-select {
    width: 100%;
    padding: 0 1rem;

    button {
      background-color: transparent;
      border-color: $p-000-white;
      border-width: 2px;
      color: $p-000-white;
    }

    .ui-select-dropdown {
      background-color: $bg-color;
      border-color: $p-000-white;
      border-width: 2px;
      box-shadow: none;
      width: calc(100% - 2rem);
      left: 1rem;
    }

    .oui-icon::before {
      color: $p-000-white;
    }
  }

  .ui-select-match:hover {
    background-color: transparent;
    border-color: $p-000-white;
  }

  &_bill-total {
    font-weight: 600;
    font-size: calc(2rem + 1vw);
    white-space: nowrap;
    display: block;
  }
}
