@import '@ovh-ux/manager-hub/src/variables.scss';

.manager-hub-billing-summary {
  $bg-color: #4495ee;
  $bg-image: url('./assets/background.svg');
  $text-color: white;

  background-color: $bg-color;
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-size: cover;
  color: $text-color;
  text-align: center;
  border-radius: $hub-tile-border-radius;
  padding: $hub-tile-padding;
  width: 100%;
  height: 100%;

  > h3 {
    color: white;
  }

  &_billing-link {
    @include hub-link-button;

    margin-top: 2rem;
  }

  p {
    font-weight: bold;

    .oui-icon {
      color: white;
      font-weight: bold;
    }
  }

  .oui-ui-select {
    width: 100%;
    padding: 0 1rem;

    button {
      background-color: transparent;
      border-color: $text-color;
      border-width: 2px;
      color: $text-color;
    }

    .ui-select-dropdown {
      background-color: $bg-color;
      border-color: $text-color;
      border-width: 2px;
      box-shadow: none;
      width: calc(100% - 2rem);
      left: 1rem;
    }

    .oui-icon::before {
      color: $text-color;
    }
  }

  .ui-select-match:hover {
    background-color: transparent;
    border-color: $text-color;
  }

  &_bill-total {
    font-weight: 600;
    font-size: calc(2rem + 1vw);
    white-space: nowrap;
    display: block;
  }
}
