@cloud_green_3: #65afa0; // darker

.nasha-add {
  ul {
    list-style-type: none;
  }

  .page-header {
    h1 {
      color: @cloud_green_3;
    }
  }

  .contract-link {
    text-decoration: underline;
    color: black;

    &-icon {
      text-decoration: none;
    }
  }

  .validate-btn {
    background-color: lightgrey;
    border-color: #aaa;
    color: black;
    white-space: initial;
  }

  .order-btn {
    white-space: initial;
  }
}
