#openstackClient {
  @HTERM_HEIGHT: 250px;
  @HTERM_BAR_HEIGHT: 30px;

  .openstackClientBody {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: @HTERM_HEIGHT;
    z-index: 1020;
    background-color: black;
    border: 1px solid darken(@TABLE_BACKGROUND_HEADER, 10%);

    .header * {
      display: inline-block;
    }

    .header {
      height: @HTERM_BAR_HEIGHT;
      padding: 2px;
      padding-left: 5px;
      border-bottom: 2px solid darken(@TABLE_BACKGROUND_HEADER, 10%);
      background-color: @TABLE_BACKGROUND_HEADER;
      color: white;

      .title,
      .expiration {
        font-size: 18px;
      }

      .buttons {
        float: right;

        button.btn {
          background-color: @TABLE_BACKGROUND_HEADER;
          padding: 0;
          height: 25px;
          width: 25px;
          color: white;
          border: 1px solid white;
        }
      }

      .expiration {
        float: right;
        margin-right: 10px;
      }
    }

    .settings {
      background-color: @TABLE_BACKGROUND_EVEN;

      > * {
        display: inline;
        width: inherit;
      }

      .btn {
        padding: 2px;
        margin: 0 3px 3;
      }

      label {
        margin-left: 5px;
        margin-right: 2px;
      }

      height: @HTERM_BAR_HEIGHT;
    }

    .terminal-wrapper {
      height: calc(~'100% - 60px');
      width: 100%;
      color: white;
    }
  }

  .openstackClientBody.maximized {
    top: 44px;
    height: inherit;
  }

  .openstackClientBody.minimized {
    height: @HTERM_BAR_HEIGHT;
    left: inherit;
    max-width: 350px;
    width: 100%;

    .header {
      cursor: pointer;
    }

    .terminal-wrapper {
      height: 0;
    }
  }

  .margin {
    height: @HTERM_HEIGHT;
  }

  .btn.success {
    background-color: green;
  }
}
