@import '@ovh-ux/ui-kit/dist/scss/tokens/_colors';
@import 'bootstrap4/scss/_functions.scss';
@import 'bootstrap4/scss/_variables.scss';
@import 'bootstrap4/scss/_mixins.scss';
@import 'bootstrap4/scss/_utilities.scss';

pci-projects-project-database-flavors-list {
  tr.table-single-select-row {
    td {
      cursor: pointer !important;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $p-050;
    }

    &.disabled {
      opacity: 0.5;
      td {
        cursor: not-allowed !important;
      }
    }

    &.selected {
      td {
        @extend .font-weight-bold;
        background-color: $p-075;
      }
    }
  }
}
