.office-product-list {
  margin: 10px 0 10px 0;

  li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    transition: all 0.5s;

    &.more {
      font-weight: bolder;
      font-size: 20px;
      margin: 0 10px;
    }
  }
}
