@import '@ovh-ux/manager-react-components/dist/style.css';
@import '@ovh-ux/manager-pci-common/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
button {
  font-family: var(--ods-font-family-default);
}

.caption-price::part(text) {
  @apply font-bold;
}

.selected-tile-title::part(text) {
  @apply font-bold;
}

.font-bold-class::part(text) {
  @apply font-bold;
}

.text-critical::part(text) {
  color: var(--ods-color-critical-500);
}

.badge-deployment-multizone::part(badge) {
  background-color: var(--ods-color-information-200);
}
