@import '@ovh-ux/ui-kit/dist/scss/tokens/_colors';

$base-color: $p-500;
$button-disabled: $p-075;

@mixin buttonState($color: $base-color) {
  border: 2px solid $button-disabled;

  &:hover {
    border-color: $color;
  }
  &:checked {
    border-color: $color;
  }
}

.command {
  &__switch-button-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    @include buttonState;
  }

  &__switch-button-right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    @include buttonState;
  }

  &__switch-button--enabled {
    border-color: $base-color;
  }

  &__switch-button--disabled {
    border-color: $button-disabled;
  }
}
