@tailwind base;
@tailwind components;
@tailwind utilities;

/** TODO: change with mx-12 when a fix is done in the taliwind config core */
.application {
  @apply mx-11 mt-8;
}

code {
  padding: 2px 4px !important;
  font-size: 90% !important;
  color: #c7254e !important;
  background-color: #f9f2f4 !important;
  border-radius: 6px !important;
}
