.custom-block
  &.tip
    border-color $badgeTipColor

  &.warning
    background-color lighten($badgeWarningColor, 40)
    border-color $badgeWarningColor

  &.danger
    background-color lighten($badgeErrorColor, 40)
    border-color $badgeErrorColor
