@require './badge'
@require './custom-blocks'

.site-name
  position absolute
  width 1px
  height 1px
  padding 0
  margin -1px
  overflow hidden
  clip rect(0, 0, 0, 0)
  white-space nowrap
  border 0

.home
  .hero .description,
  .feature p,
  .footer
    color #4d5592 !important
