pci-project-creating-not-paid {
  @import 'bootstrap4/scss/_functions';
  @import 'bootstrap4/scss/_variables';
  @import 'bootstrap4/scss/mixins/_breakpoints';

  $step-dimension: 40px;

  .pci-projects-creating-not-paid {
    background-color: rgb(241, 249, 253);

    h2 {
      font-size: 20px;
      line-height: 25px;
      font-weight: bold;
    }

    small {
      line-height: 16px;
    }

    .oui-progress-tracker {
      width: 125px;

      .oui-progress-tracker__step {
        &::after {
          height: 1px;
          left: $step-dimension;
          top: 1.1rem;
        }

        &:last-child {
          flex: 0;
        }

        .oui-progress-tracker__status {
          &::before {
            background-color: transparent;
            border: 1px solid rgb(155, 155, 155);
            color: rgb(155, 155, 155);
            font-weight: normal;
            height: $step-dimension;
            width: $step-dimension;
            line-height: 2.2rem;
          }
        }

        &.oui-progress-tracker__step_active {
          .oui-progress-tracker__status {
            &::before {
              background-color: transparent;
              border: 2px solid rgb(40, 89, 192);
              color: rgb(40, 89, 192);
              font-weight: 600;
            }
          }
        }

        &.oui-progress-tracker__step_complete
          .oui-progress-tracker__status::before {
          content: counter(oui-progress-tracker);
          font-family: inherit;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .actions-container {
        text-align: center;

        a,
        .oui-button {
          max-width: 100%;
          display: block;
          width: 100%;
          margin-bottom: $spacer;
        }
      }
    }
  }
}
