.badge
  background-color inherit !important
  color #454449 !important
  &.tip, &.green
    background-color #a7d74d !important
  &.error
    background-color lighten(#d85639, 20) !important
  &.warning, &.warn, &.yellow
    background-color #ffbb22 !important
