.video-guide {
  margin: 10px;
  padding: 5px;
  box-shadow: 0 5px 10px @grey8;
  background-color: @white;

  p {
    text-align: center;
  }

  img {
    max-width: 50px;
  }
}

.small-divider-info {
  border-bottom: 2px solid @blue-boostrap-info; /* color from bootstrap text-info */
}
