.cloud-billing-history-details-spinner-ctnr {
  margin-top: 200px;
}

.cloud-billing-history-details-ctnr {
  .cloud-billing-history-content {
    .cloud-billing-history-header {
      padding-left: 15px;

      .cloud-billing-history-header-total {
        font-size: 36px;
        font-weight: 400;

        @media (min-width: @screen-sm-min) {
          margin-right: 60px;
          height: 55px;
          float: left;
        }
      }

      .cloud-billing-history-header-links {
        font-size: 14px;

        @media (min-width: @screen-sm-min) {
          height: 55px;
          float: left;
          display: table;
        }

        .cloud-billing-monthly-bill-link {
          font-weight: bold;
        }

        .cloud-billing-all-bill-link,
        .cloud-billing-monthly-bill-link {
          color: @CLOUD_GREEN_COLOR;
          display: block;

          @media (min-width: @screen-sm-min) {
            display: table-row;
          }
        }

        .fa-file-pdf-o {
          padding-left: 4px;
          color: #d10c01;
        }
      }
    }

    .cloud-billing-history-monthly {
      clear: left;
    }

    section {
      padding-top: 15px;
    }
  }
}
