.widget-presentation-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;

  .widget-presentation-card-item--separator {
    border-left: 1px solid #dcdcdc;
    padding-left: 1rem;
  }

  .widget-presentation-card-item {
    display: flex;
    flex-direction: column;

    .widget-presentation-card-item-title {
      font-size: 1.125rem;
      font-weight: 500;
    }

    .widget-presentation-card-item-value {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
