.actions-tile__browse-btn .oui-button:disabled,
.actions-tile__browse-btn .oui-button:disabled:hover,
.actions-tile__browse-btn .oui-button:disabled:focus {
  background-color: white;
  border: 0;
  color: #d5d7dc;
}
