$buttons-width: 15rem;
$buttons-margin: 0.2rem;
$buttons-wrapper-margin-top: 1rem;
$img-width: 10rem;
$img-wrapper-margin-bottom: 1rem;
$modal-margin: 0;

.cookie-policy-modal {
  .img-wrapper {
    margin-bottom: $img-wrapper-margin-bottom;

    img {
      width: $img-width;
    }
  }

  .oui-modal__header {
    display: none;
  }

  .banner-buttons {
    margin-top: $buttons-wrapper-margin-top;
    .oui-button {
      width: $buttons-width;
      margin: $buttons-margin;
    }
  }
}
