.form_import {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 150px;
  .btn-primary;
}

.form_import_file_input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;

  /* Opacity settings for all browsers */
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:dximagetransform.microsoft.alpha(opacity=0); /* stylelint-disable-line */
}

.inside_modal {
  margin: 20px 2%;
}

.container-infos {
  background-color: #f3f3f3;
  border-radius: 3px;
  margin: 0 0 20px 0;
  padding: 7px;

  img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 15px 0 0;
  }

  .container-infos-list {
    padding-left: 75px;

    &_no-icon {
      padding-left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .container-infos-list-item {
      .container-infos-list-item-label {
        width: 25rem;
        text-align: right;
        margin-right: 0.3125rem;
      }
    }
  }
}

.add_cname {
  margin-bottom: 10px;

  p {
    padding: 20px 5%;
  }

  .wizard-container:target {
    border: 0;
  }
}

.modal-header.storage-add-object-modal-header {
  top: 50px;
  background-color: #273b54;
  border-bottom: 2px solid #122844;
}

.table.storage-details-table {
  th {
    background-color: #273b54;
  }
}

.storage-table-type-icon {
  width: 25px;
  margin-left: 20px;
}

.storage-details-logo {
  width: 50px;
  height: 50px;
}

.storage-logo,
.storage-logo-label {
  color: #52d2f0;
}

.max-width-400 {
  max-width: 400px;
}
