.telecom-telephony-service-fax-campaigns-read {
  .modal-body {
    .list-group {
      .list-group-item {
        display: inherit;
      }
    }
  }

  dl {
    > dd:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .todos-list {
    max-height: 150px;
    overflow-y: auto;
  }
}
