#sidebar-menu .ms-Icon {
  line-height: 1;
  vertical-align: middle;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  /* stylelint-disable-next-line property-no-unknown */
  font-smooth: always;
  /* stylelint-disable-next-line property-no-unknown */
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

#sidebar-menu .menu-item .item-icon i.nutanix-icon_small {
  font-size: 0.7em;
}
