.manager-hub-shortcut-tile {
  @import '@ovh-ux/manager-hub/src/variables.scss';

  $notification-pill-font-color: $p-000-white;
  $notification-pill-bg-color: #b91a1a;
  $notification-pill-size: 1.3rem;

  text-align: center;

  > a {
    color: $hub-title-color;
    font-weight: 600;
  }

  &_icon {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: auto;
    background-color: $p-000-white;
    border-radius: 0.4rem;
    position: relative;
  }

  &_description {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .oui-icon {
    font-size: 2rem;
    margin-top: 1rem;
    background-color: $p-000-white;
    color: $hub-title-color;
  }

  &_notification {
    color: $notification-pill-font-color;
    background-color: $notification-pill-bg-color;
    border-radius: $notification-pill-size;
    width: $notification-pill-size;
    height: $notification-pill-size;
    line-height: $notification-pill-size;
    display: block;
    position: absolute;
    top: -$notification-pill-size * 0.2;
    right: -$notification-pill-size * 0.2;
  }
}
