ovh-manager-hub-shortcut-tile {
  .manager-hub-shortcut-tile {
    @import '@ovh-ux/ui-kit/dist/scss/_tokens';
    @import '@ovh-ux/manager-hub/src/variables.scss';

    $notification-pill-font-color: $p-000-white;
    $notification-pill-bg-color: #b91a1a;
    $notification-pill-size: 1.2rem;

    text-align: center;

    > a {
      display: block;
      color: $p-800;
      font-weight: 600;

      &:hover {
        text-decoration: none;
      }
    }

    &__icon {
      display: flex;
      width: 4rem;
      height: 4rem;
      margin: auto;
      background-color: $p-000-white;
      border-radius: 0.4rem;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $p-200;
      }
    }

    &__description {
      display: block;
      margin-top: 0.25rem;
      line-height: 1.25;
      font-size: 0.8rem;
      font-weight: 600;
    }

    .oui-icon {
      font-size: 2rem;
      margin-top: 1rem;
      color: $p-800;
    }
  }
}
