.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: var(--ods-size-04);
  align-items: flex-end;
  top: 50%;

  .triangle {
    position: absolute;
    right: 0;
    top: var(--ods-size-n-05);
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 9px solid transparent;
    border-bottom: var(--ods-size-05) solid var(--ods-color-gray-000);
    border-left: 9px solid transparent;
    margin-right: 7px;
  }

  .tooltip {
    position: relative;
    filter: drop-shadow(0px 0px 5px var(--ods-color-gray-100));
    border-radius: var(--ods-size-border-radius-02);
    border: 1px solid var(--ods-color-gray-000);
    background-color: var(--ods-color-gray-000);
    z-index: 1;
    padding: var(--ods-size-03) var(--ods-size-06);
    display: none;
    row-gap: var(--ods-size-03);
    white-space: nowrap;
    margin-top: var(--ods-size-05);

    &.visible {
      display: grid;
    }
  }
}
