.msc-billing-tile-wrapper {
  display: block;
  text-decoration: none;
  padding: 2px;

  .billing-tile-content {
    display: flex;
    flex-direction: column;
    min-width: 420px;
    padding: 2px;

    .tooltiplinks {
      display: inline-grid;
    }

    .link-icon {
      margin-left: 10px;
    }
  }

  .block {
    position: relative;
  }
}
