.tile-title {
  display: block;
  margin-bottom: 5px;
}

.next-billing-date-label {
  display: block;
  margin-bottom: 5px;
}

.link-text {
  margin-right: 10px;
}

.new-link-icon {
  display: inline list-item;
  margin-left: 10px;
}
