.tile-title {
  display: block;
  margin-bottom: var(--ods-size-03);
}

.tile-description {
  display: block;
}

.resub-link {
  display: block;
  margin-top: var(--ods-size-05);
}

.link-icon {
  display: inline list-item;
  margin-left: var(--ods-size-04);
}
