.tile-title {
  display: block;
  margin-bottom: var(--ods-size-03);
}

.link-text {
  margin-right: var(--ods-size-04);
}

.new-link-icon {
  display: inline list-item;
  margin-left: var(--ods-size-04);
}
