ovh-advices {
  display: block;

  a.oui-button {
    white-space: normal;

    .oui-icon-external-link {
      top: auto;
      bottom: 0%;
    }
  }

  oui-tile-button.oui-tile__item {
    border-bottom: none;
    border-top: none;
  }

  oui-tile-definition.oui-tile__item {
    border-top: 1px solid #aee5f3;
  }

  oui-tile-definition.oui-tile__item:last-child {
    border-bottom: none;
  }

  oui-tile-description div.advice-description:not(:first-child) {
    padding-top: 1rem;
  }

  oui-tile-description div.advice-description:first-child {
    padding-top: 0.5rem;
  }

  .oui-tile__item:last-child {
    border-bottom: none;
  }

  .oui-tile__definition {
    width: 100%;
  }

  .oui-tile__description {
    word-break: keep-all;
  }
}
