@import 'bootstrap/scss/bootstrap';

.restricted {
  background-color: rgb(241, 249, 253);

  .navbar {
    padding-right: 2rem;
  }

  .aside {
    height: 2.75rem;
  }

  .restricted-main {
    @extend .mx-auto;
    box-sizing: border-box;
    background-color: white;
    max-width: 62rem;
  }

  .restricted-guides {
    gap: 1rem;
    & > * {
      flex: 1 1 0px;
    }
  }
}
