@import "bootstrap4/scss/bootstrap";

.modal-header {
  background-color: #bef1ff;
  color: #00185e;
}

.btn-close {
  color: #00185e;
  background: none;
  border: none;
}

.btn-close:after {
  content: '\2715';
  position: relative;
  left: -3px;
  top: -3px;
}