@import 'bootstrap4/scss/bootstrap';
@import '@ovh-ux/manager-hub/src/variables.scss';

.modal-header {
  background-color: $p-200;
  color: $p-800
}

.btn-close {
  color: $p-800;
  background: none;
  border: none;
}

.btn-close:after {
  content: '\2715';
  position: relative;
  left: -3px;
  top: -3px;
}