img.img-circle-bordered {
  padding: 5px;
  border: 1px solid #cbcbcb;
  background: white;
}

.pointer-help {
  cursor: help;
}

.cursor-disabled {
  cursor: not-allowed;
}

.no-outline:focus {
  outline: 0;
}

.dropdown-menu > li > button {
  min-width: 100%;
}

input[type='number'].hide-arrows {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

//------------ ngSwitch animate ------------

.animate-switch-container {
  position: relative;
}

.animate-switch.ng-animate {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.animate-switch.ng-enter,
.animate-switch.ng-leave.ng-leave-active {
  opacity: 0;
  top: -10px;
}

.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

// ---

// I like it loud
.animate-none-leave {
  &.ng-leave {
    display: none !important;
    animation-duration: 0s !important;
  }
}

.table-relative {
  position: relative;

  div.cell-confirm {
    left: 0;
    position: absolute;
    z-index: 1000;
  }
}
