@cloud_sandbox: #86d0f3;

@cloud_steadfast: #f9b256;

@cloud_dedicated: #e99595;

@cloud_power8: #a7b4c3;

@cloud_sandbox_contrast: #fff;

@cloud_steadfast_contrast: #fff;

@cloud_dedicated_contrast: #fff;

@cloud_power8_contrast: #fff;

// note: all cloud colors are moved to main variables.less

/***** CLOUD v6 *****/

@cloud_yellow: #eac201;
@cloud_yellow_light: #faf2c4;

@cloud_yellow_darken: darken(@cloud_yellow, 5%);

@cloud_green_1: #dfeeeb; // light
@cloud_green_2: #c3dfda; // medium
@cloud_green_3: #65afa0; // darker
@cloud_green_4: #8fa6a4; // darker (caca oie)
@cloud_green_5: #e1f0ed; // light 2

@cloud_table_head: @cloud_green_3;

@cloud_table_odd: @cloud_green_5;
@cloud_table_even: @cloud_green_2;

@cloud_primary_color: @cloud_yellow;

@labelCloudFontColor: #757575;
@importantCloudFontColor: #0f4571;
@lightButtonColor: #eee;
