.cui-inline-adder {
  .flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .flex-wrap(@wrap: wrap) {
    -webkit-flex-wrap: @wrap;
    -moz-flex-wrap: @wrap;
    -ms-flex-wrap: @wrap;
    flex-wrap: @wrap;
  }

  .flex-direction(@direction: row) {
    -webkit-flex-direction: @direction;
    -moz-flex-direction: @direction;
    -ms-flex-direction: @direction;
    flex-direction: @direction;
  }

  .justify-content(@justify: center) {
    -webkit-justify-content: @justify;
    -moz-justify-content: @justify;
    -ms-justify-content: @justify;
    justify-content: @justify;
    -ms-flex-pack: @justify;
  }

  .align-content(@align: center) {
    -webkit-align-content: @align;
    -moz-align-content: @align;
    -ms-align-content: @align;
    align-content: @align;
  }

  .align-items(@align: center) {
    -webkit-align-items: @align;
    -moz-align-items: @align;
    -ms-align-items: @align;
    align-items: @align;
  }

  background: #fff;

  &__group {
    .flexbox();
    .flex-direction(row);

    min-height: 100px;
    border: 1px solid #dadce0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;

    &_content {
      .flexbox();
      .flex-direction(column);
      .flex-wrap();

      margin: 25px 20px;
      flex: 1;

      input {
        margin: 0;
      }
    }

    @media (min-width: 600px) {
      &_content {
        .flex-direction(row);
      }
    }

    &_actions {
      background: #f2f2f2;
      .flexbox();
      .flex-direction(column);
      .align-items(center);
      .justify-content(center);

      flex: 0 0 3.75rem;

      button {
        .align-items(center);
        .justify-content(center);
        .flexbox();
        .flex-direction(column);

        height: 2.08125rem;
        width: 2.08125rem;
        background: #fff;
        border: 1px solid #bcbec0;
        border-radius: 3px;

        i {
          font-size: 0.9375rem;
        }
      }
    }

    &_item {
      flex: 1;
    }

    &_line_break {
      width: 110%;
      height: 1px;
      background: #dadce0;
      margin: 10px -20px 10px -20px;
    }

    @media (min-width: 600px) {
      &_item:not(:first-child) {
        margin-left: 10px;
      }

      &_line_break + &_item {
        margin-left: 0;
      }
    }
  }

  &__group:last-child {
    margin-bottom: 0;
  }
}
