/* Button */
@button-font-size: 0.875rem;
@button-font-weight: @font-semi-bold;
@button-padding: 0.625rem 1.5rem 0.625rem 1.5rem;
@button-radius: @global-radius;
@button-min-height: 2.125rem;

/* Filled Button */
@filled-button-font-color_disabled: @dusty;
@filled-button-background-color: @picton;
@filled-button-background-color_hover: @java;
@filled-button-background-color_disabled: @alto;
@filled-button-box-shadow-color_active: rgba(0, 0, 0, 0.25);

/* Hollow Button */
@hollow-button-font-color: @zodiac;
@hollow-button-font-color_hover: @hollow-button-font-color;
@hollow-button-font-color_disabled: @nobel;
@hollow-button-background-color: white;
@hollow-button-background-color_disabled: @concrete;
@hollow-button-border-color: @silver;
@hollow-button-border-color_hover: @dusty;
@hollow-button-border-color_disabled: @mercury;
@hollow-button-box-shadow-color_active: rgba(0, 0, 0, 0.15);

/* Table Action Button */
@table-action-button-font-color: @java;
@table-action-button-font-color_hover: @dodger;

#ovh {
  .button(
  @font-size: @button-font-size,
  @font-weight: @button-font-weight,
  @padding: @button-padding,
  @radius: @button-radius,
  @min-height: @button-min-height,
  @margin: @global-margin 0
) {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    font-size: @font-size;
    font-weight: @font-weight;
    margin: @margin;
    padding: @padding;
    border-radius: @radius;
    min-height: @min-height;

    &,
    &:focus,
    &:hover {
      #ovh > .animate();

      text-decoration: none;
      outline: 0;
    }

    &_icon {
      position: relative;
    }

    &__text {
      padding: 0 0.3125rem;
    }

    &__icon {
      height: 0.875rem;
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -0.4375rem;
    }

    &__icon_left {
      left: 0.9375rem;
    }

    &__icon_left + &__text,
    &__icon_right + &__text {
      padding: 0 0.4375rem;
    }

    &__icon_right {
      right: 0.9375rem;
    }
  }

  .filled-button(
  @background-color: @filled-button-background-color,
  @background-color_hover: @filled-button-background-color_hover,
  @box-shadow-color_active: @filled-button-box-shadow-color_active,
  @background-color_disabled: @filled-button-background-color_disabled,
  @font-color_disabled: @filled-button-font-color_disabled
) {
    background-color: @background-color;
    border: 1px solid transparent;

    &:hover {
      background-color: @filled-button-background-color_hover;
    }

    &[disabled],
    &[disabled]:focus,
    &[disabled]:hover {
      background-color: @background-color_disabled;
      color: @font-color_disabled;
      cursor: not-allowed;
    }

    &:active {
      box-shadow: inset 1px 1px 3px 0 @box-shadow-color_active;
    }
  }

  .hollow-button(
  @background-color: @hollow-button-background-color,
  @font-color: @hollow-button-font-color,
  @font-color_hover: @hollow-button-font-color_hover,
  @border-color: @hollow-button-border-color,
  @border-color_hover: @hollow-button-border-color_hover,
  @box-shadow-color_active: @hollow-button-box-shadow-color_active,
  @background-color_disabled: @hollow-button-background-color_disabled,
  @font-color_disabled: @hollow-button-font-color_disabled,
  @border-color_disabled: @hollow-button-border-color_disabled,
) {
    border-width: 1px;
    border-style: solid;
    border-color: @border-color;
    background-color: @background-color;

    &,
    &:focus,
    &:hover {
      color: @font-color;
      transition-property: border-color;
    }

    &:hover {
      color: @hollow-button-font-color_hover;
      border-color: @hollow-button-border-color_hover;
    }

    &[disabled],
    &[disabled]:focus,
    &[disabled]:hover {
      background-color: @background-color_disabled;
      color: @font-color_disabled;
      border-color: @border-color_disabled;
      cursor: not-allowed;
    }

    &:active {
      box-shadow: inset 1px 1px 2px 0 @box-shadow-color_active;
    }
  }
}

.ovh-button,
.cloud-button {
  #ovh > .button();

  &_primary {
    #ovh > .filled-button();
  }

  &_secondary {
    #ovh > .hollow-button();
  }

  &_table-action {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: @table-action-button-font-color;

    &:hover {
      color: @table-action-button-font-color_hover;
    }
  }
}

a.ovh-button,
a.cloud-button {
  &_primary,
  &_secondary {
    color: @hollow-button-font-color;
  }
}
