@tailwind utilities;

@import '@ovhcloud/ods-themes/default';

html {
  font-family: var(--ods-font-family-default);
}

.progress__full-width::part(progress) {
  width: 100%;
}

.tile__link--breakable {
  &::part(link) {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100%;
  }
  &::part(label) {
    white-space: break-spaces;
  }
}
