/* Switch - Label */
@switch-label-font-weight: @font-regular;
@switch-label-font-size: 0.875rem;
@switch-label-font-size_large: 1rem;

/* Switch - Paddle */
@switch-paddle-border-radius: 50%;
@switch-paddle-background-color_on: white;
@switch-paddle-background-color_off: @switch-paddle-background-color_on;
@switch-paddle-z-index: @base-z-index + 2;

/* Switch - Rail */
@switch-rail-border-radius: 1.375rem;
@switch-rail-background-color_on: @shakespeare;
@switch-rail-background-color_off: @mischka;

/* Switch - Level */
@switch-level-picto-color: white;
@switch-level-picto-color_disabled: @concrete;

/* Switch - Disabled */
@switch-background-color_disabled: @silver;
@switch-paddle-background-color_disabled: @concrete;

#ovh {
  .switch(
  @label-font-weight: @switch-label-font-weight,
  @label-font-size: @switch-label-font-size,
  @label-font-size_large: @switch-label-font-size_large,
  @paddle-background-color_off: @switch-paddle-background-color_off,
  @paddle-background-color_on: @switch-paddle-background-color_on,
  @rail-background-color_off: @switch-rail-background-color_off,
  @rail-background-color_on: @switch-rail-background-color_on,
  @paddle-box-shadow_on: 0 2px 0 0 @pacific,
  @paddle-box-shadow_off: 0 2px 0 0 rgba(0, 0, 0, 0.1),
  @rail-box-shadow_on: 0 2px 0 0 @pacific inset,
  @rail-box-shadow_off: 0 2px 0 0 @heather inset,
  @paddle-border-radius: @switch-paddle-border-radius,
  @rail-border-radius: @switch-rail-border-radius,
  @paddle-z-index: @switch-paddle-z-index
) {
    position: relative;
    display: block;
    padding-right: 3.125rem;

    &__input {
      /* Invisible but read by screen readers */
      z-index: -1;
      opacity: 0;
    }

    &__label,
    &__paddle,
    &__level {
      user-select: none;
      cursor: pointer;
    }

    &__label {
      display: inline-block;
      margin-top: 0.375rem;
      font-weight: @label-font-weight;
      font-size: @label-font-size;

      &_large {
        font-size: @label-font-size_large;
      }
    }

    &__paddle::before,
    &__paddle::after {
      #ovh > .animate();

      content: '';
      position: absolute;
    }

    &__paddle::before {
      height: 1.53125rem;
      width: 3.5rem;
      right: 0;
      top: 0.25rem;
      background-color: @rail-background-color_off;
      box-shadow: @rail-box-shadow_off;
      border-radius: @rail-border-radius;
    }

    &__paddle::after {
      width: 1.0625rem;
      height: 1.0625rem;
      right: 2.125rem;
      top: 0.5rem;
      background-color: @paddle-background-color_off;
      box-shadow: @paddle-box-shadow_off;
      border-radius: @paddle-border-radius;
      z-index: @paddle-z-index;
      transform: translate3d(0, 0, 0);
    }

    &__input:checked ~ &__paddle::before {
      background-color: @rail-background-color_on;
      box-shadow: @rail-box-shadow_on;
    }

    &__input:checked ~ &__paddle::after {
      right: 0.25rem;
      background-color: @paddle-background-color_on;
      box-shadow: @paddle-box-shadow_on;
    }
  }

  .switch-level(
  @picto-color: @switch-level-picto-color,
  @picto-color_disabled: @switch-level-picto-color_disabled
) {
    &__level {
      user-select: none;
      cursor: pointer;
    }

    &__level::before,
    &__level::after {
      position: absolute;
      content: '';
      top: 0.4375rem;
      width: 0.75rem;
      height: 0.75rem;
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-bottom-color: @picto-color;
      border-radius: 1px;
      box-shadow: none;
    }

    &__level::before {
      right: 0.5625rem;
      transform: rotate(45deg);
    }

    &__level::after {
      right: 0.9375rem;
      transform: rotate(-45deg);
      z-index: @base-z-index + 1;
    }

    &__level_disabled {
      cursor: not-allowed;
      border-color: @picto-color_disabled;
    }

    &__input:checked ~ &__level::before {
      right: 2.1875rem;
      top: 0.5625rem;
      width: 0.4375rem;
      height: 0.75rem;
      border-style: solid;
      border-color: @picto-color;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }

    &__input:checked ~ &__level::after {
      display: none;
    }
  }

  .switch-disabled(
  @background-color: @switch-background-color_disabled,
  @paddle-background-color: @switch-paddle-background-color_disabled
) {
    &__input[disabled] ~ &__paddle,
    &__input[disabled] ~ &__level {
      cursor: not-allowed;
    }

    &__input[disabled] ~ &__paddle::before,
    &__input[disabled] ~ &__paddle::after {
      box-shadow: none;
    }

    &__input[disabled] ~ &__paddle::before {
      box-shadow: none;
      background-color: @background-color;
    }

    &__input[disabled] ~ &__paddle::after {
      #ovh > .animate();

      box-shadow: none;
      background-color: @paddle-background-color;
    }
  }
}

.ovh-switch,
.cloud-switch {
  #ovh > .switch();
  #ovh > .switch-disabled();
  #ovh > .switch-level(); /* Optional */
}
