.manager-hub-support {
  @import 'bootstrap4/scss/_functions.scss';
  @import 'bootstrap4/scss/_variables.scss';
  @import 'bootstrap4/scss/_mixins.scss';
  @import 'bootstrap4/scss/_utilities.scss';
  @import '~@ovh-ux/manager-hub/src/variables.scss';

  h3 {
    display: inline-block;
  }

  &_count {
    @include hub-pill;
  }

  &_more {
    float: right;
    margin-top: 0.25rem;
  }

  table {
    margin-top: 1rem;

    tr {
      border-bottom: 1px solid #eee;

      td {
        padding-bottom: 1rem;
      }

      td:first-child {
        padding-left: 1rem;
      }
    }
  }

  a {
    > .oui-icon {
      color: $hub-primary-color;
      font-size: 0.85rem;
    }
  }

  &_service {
    color: $hub-text-color;
  }

  &_illustration {
    background-image: url('./assets/assistance.png');
    background-repeat: no-repeat;
    height: 12rem;
    background-position: center;
    margin-top: -2rem;
  }
}
