.cloud-billing-consumption-current-spinner-ctnr {
  margin-top: 200px;
}

.cloud-billing-consumption-current {
  .cloud-billing-total {
    font-size: xx-large;
    font-style: normal;
    font-weight: bold;
    color: @CLOUD_GREY_COLOR;
  }

  .cloud-billing-consumption-monthly,
  .cloud-billing-consumption-hourly {
    header {
      border: solid 1px #ddd;
      color: @CLOUD_GREEN_COLOR;
      padding-left: 10px;
      padding-bottom: 60px;

      h3 {
        font-weight: 600;

        small {
          color: @CLOUD_GREEN_COLOR;
          font-size: smaller;
        }
      }
    }
  }
}
