.border-ods-primary-100 {
  border-color: var(--ods-color-primary-100);
}

.background-ods-primary-100 {
  background-color: var(--ods-color-primary-100);
}

.background-ods-primary-000 {
  background-color: var(--ods-color-primary-000);
}
