@import '~@ovh-ux/ui-kit/dist/scss/_tokens';

pci-project-billing-history {
  .flatpickr-monthSelect-months {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr);
  }

  .flatpickr-monthSelect-month {
    color: $p-500;
    cursor: pointer;
    padding: 0.5rem;

    &.selected,
    &:hover:not(.disabled) {
      background-color: $p-500;
      color: $p-000;
      border-radius: $base-border-radius-medium;
    }

    &.disabled:not(.selected) {
      cursor: not-allowed;
      opacity: 0.5;
      border-color: transparent;
      background-color: transparent;
    }
  }
}
