ovh-manager-pci-project-database-connectors {
  .large-icon {
    font-size: 1.5rem;
    width: 28px;
    height: 28px;
    &:focus {
      outline: none;
    }
  }
  .round-icon {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }
}
