@import 'oui4/dist/scss/tokens/_colors.scss';
@import '@ovh-ux/manager-hub/src/variables.scss';

.oui-button {
  transition: all ease-in 200ms;
  border-radius: $hub-border-radius-default;

  &.oui-button_secondary {
    border: 2px solid $p-500;

    &,
    .oui-icon {
      color: $p-500;
    }

    &:hover,
    &:focus {
      background-color: rgb(239, 249, 253);
    }
  }

  &.oui-button_icon-alone .oui-icon {
    color: $p-500;
  }

  &.oui-button_icon-only {
    background-color: transparent;
    color: $p-500;

    &:hover,
    &:focus {
      background-color: $p-500;
      border: 2px solid transparent;
      border-radius: $hub-border-radius-default;

      &,
      .oui-icon {
        color: #fff;
      }
    }

    &:disabled {
      background-color: transparent;
      color: rgb(196, 207, 219);
    }
  }

  &.oui-button_link {
    color: $p-500;
    font-weight: $hub-font-weight-semibold;
    text-decoration: none;
  }

  &:disabled {
    &,
    &:hover,
    &:focus {
      background-color: #c4cfdb;
      border: 0;
      color: #113f6d;

      & .oui-icon::before {
        color: #113f6d;
      }
    }
  }

  * {
    color: inherit;
  }
}

.oui-action-button,
.oui-action-menu-button {
  border-color: $hub-button-fg-color;

  circle {
    fill: $hub-button-bg-color;
  }
}

.oui-action-button[aria-expanded='true'],
.oui-action-menu-button[aria-expanded='true'],
.oui-action-button:hover,
.oui-action-button:focus,
.oui-action-menu-button:hover,
.oui-action-menu-button:focus {
  background-color: $hub-button-bg-color;
  border-color: $hub-button-bg-color;

  circle {
    fill: $hub-button-fg-color;
  }
}
