@import '@ovh-ux/ui-kit/dist/scss/tokens/_colors.scss';
@import '@ovh-ux/manager-hub/src/variables.scss';

.oui-action-button,
.oui-action-menu-button {
  border-color: $hub-button-fg-color;

  circle {
    fill: $hub-button-bg-color;
  }
}

.oui-action-button[aria-expanded='true'],
.oui-action-menu-button[aria-expanded='true'],
.oui-action-button:hover,
.oui-action-button:focus,
.oui-action-menu-button:hover,
.oui-action-menu-button:focus {
  background-color: $hub-button-bg-color;
  border-color: $hub-button-bg-color;

  circle {
    fill: $hub-button-fg-color;
  }
}
