@import 'oui4/dist/scss/_tokens';

.oui-chip {
  background-color: $p-100;
  color: $p-700;
  border-radius: 0.75rem;
  font-size: $mercury-font-size;
  line-height: 1.6rem;
  padding: 0 $base-spacing-small;
}

button.oui-chip {
  font-size: $earth-font-size;
  line-height: 1;
  padding:
    $base-spacing-small $base-spacing-large $base-spacing-small
    $base-spacing-small;
}
