@import 'oui4/dist/scss/tokens/_colors.scss';

.oui-message {
  border-radius: 0.5rem;
}

.oui-message__body_error,
.oui-message_error {
  padding-bottom: 1rem;
  color: $ae-500;
  border: transparent;
  background-color: $ae-300;
}
