@import 'oui4/dist/scss/tokens/_colors.scss';
@import '@ovh-ux/manager-hub/src/variables.scss';

.oui-page-header {
  background: $p-000-white;

  .oui-page-header__container {
    padding-left: 0;
  }

  h1 {
    font-size: $hub-title-size;
    font-weight: $hub-title-weight;
    color: $hub-title-color;
  }
}
