@import 'oui4/dist/scss/_tokens';
@import '@ovh-ux/manager-hub/src/variables.scss';

.oui-page-header {
  background: $p-000-white;

  &__title {
    font-size: $saturn-font-size;
    font-weight: $saturn-font-weight;
    color: $saturn-color;
  }

  &__container {
    padding-left: 0;
    padding-bottom: $base-spacing-small;
  }
}
