@import 'oui4/dist/scss/tokens/_colors.scss';

.oui-status {
  max-width: none;
  line-height: 0.85rem;

  &_error,
  &_warning,
  &_success {
    font-weight: bold;
  }

  &_error {
    color: $ae-500;
  }

  &_warning {
    color: $aw-500;
  }

  &_success {
    color: $as-500;
  }
}
