@import 'oui4/dist/scss/_tokens';
@import '@ovh-ux/manager-hub/src/variables.scss';

span,
p {
  color: $p-800-text;
}

h1,
h2 {
  font-size: $saturn-font-size;
  font-weight: $saturn-font-weight;
  color: $p-800;
  margin-top: 1rem;
}

h3 {
  font-size: $jupiter-font-size;
  font-weight: $jupiter-font-weight;
  color: $p-800;

  * {
    color: inherit;
  }
}

a,
.oui-link {
  color: $p-500;
  font-weight: $hub-font-weight-semibold;
  text-decoration: none;

  * {
    color: inherit;
  }

  &:hover,
  &:focus,
  &:active {
    color: $p-700;
  }
}
