@import '@ovh-ux/ui-kit/dist/scss/tokens/_colors';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_fonts';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_globals';

pci-project-data-integration-onboarding {
  .manager-on-boarding-layout {
    .placeholder {
      img {
        max-height: unset !important;
        max-width: 1200px;
        width: 100%;
      }
    }
    .mobile-logo {
      display: none;
    }
  }

  @media screen and (max-width: $device-breakpoint-phone) {
    .manager-on-boarding-layout {
      .placeholder {
        display: none !important;
      }
      .mobile-logo {
        display: block;
        img {
          max-height: 150px;
        }
      }
    }
  }
}
