.cloud-billing-history {
  .cloud-billing-history-monthly,
  .cloud-billing-history-hourly {
    header {
      border: solid 1px #ddd;
      color: @CLOUD_GREEN_COLOR;
      padding-left: 10px;

      h3 {
        font-size: 14px;
        font-weight: 600;
      }

      @media (min-width: @screen-sm-min) {
        h3 {
          font-size: 16px;
        }
      }
    }
  }

  .cloud-billing-history-nav {
    .nav {
      li {
        button,
        a {
          cursor: pointer;
          padding: 0 15px;
        }

        .active {
          border: 1px solid @CLOUD_GREEN_COLOR;
          border-bottom-color: white;
          border-radius: 2px 2px 0 0;

          h4 {
            font-weight: 700;
          }
        }
      }
    }

    .nav-tabs {
      border-bottom: 1px solid @CLOUD_GREEN_COLOR;
    }
  }

  .cloud-billing-history-content-ctnr {
    display: block;
    padding: 20px;
  }
}
