ovh-manager-database-list {
  @import '~bootstrap4/scss/_functions';
  @import '~bootstrap4/scss/_variables';
  @import '~bootstrap4/scss/_mixins';
  @import '~bootstrap4/scss/_utilities';
  @import '~bootstrap4/scss/_grid';
}
ovh-manager-pci-project-databases {
  img.database-engine-logo {
    width: 3.125rem;
  }
}
