@import (less) 'font-awesome/css/font-awesome.min.css';

.video-guide {
  margin: 10px;
  padding: 5px;
  box-shadow: 0 5px 10px #cacaca;
  background-color: #fff;

  p {
    text-align: center;
  }

  img {
    max-width: 50px;
  }
}

.small-divider-info {
  border-bottom: 2px solid #5bc0de;
}
