.cloud-compute-quota {
  .quota-table {
    .head-icon {
      margin: 5px 0;

      i,
      span {
        vertical-align: middle;
      }

      i {
        font-size: 28px;
      }

      span {
        margin: 5px 0 0 5px;
      }
    }

    .flag-box {
      .flag-wrapper {
        width: 35px;
        height: 24px;
        position: relative;
        overflow: hidden;
        border-radius: 4px;

        span {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          font-size: 21px;
        }
      }

      .flag-text {
        margin-top: 10px;
      }
    }
  }
}
