@button-action-background-color: transparent;
@button-action-background-border-color: rgba(0, 162, 191, 0.09);
@button-action-activated-zone-background-color: rgba(0, 162, 191, 0.09);
@button-action_hover-background-color: #00a2bf;

@button-action-foreground-color: #00a2bf;
@button-action_hover-foreground-color: #fff;

.cui-button-action {
  overflow: visible;
  width: 32px;

  &__background {
    fill: @button-action-background-color;
    stroke: @button-action-background-border-color;
    stroke-width: 2;
  }

  &__foreground {
    fill: @button-action-foreground-color;
  }

  &:hover {
    .cui-button-action__background {
      fill: @button-action_hover-background-color;
      stroke: none;
    }

    .cui-button-action__foreground {
      fill: @button-action_hover-foreground-color;
      transform-origin: center;
    }
  }

  .button-container_active & {
    .cui-button-action_active();
  }
}

.cui-button-action_active() {
  .cui-button-action__background {
    fill: @button-action-activated-zone-background-color;
    stroke: none;
  }

  &:hover {
    .cui-button-action__background {
      fill: @button-action_hover-background-color;
      stroke: none;
    }
  }
}

// Action button embedded in oui-datagrid
.cui-dropdown-menu-container:hover {
  .cui-dropdown-menu {
    .cui-button-action {
      .cui-button-action_active();
    }
  }
}
