.cloud-project-compute {
  .cloud-compute-content-ctnr-responsive {
    min-height: 600px;
  }

  .cloud-compute-tabs-ctnr {
    .badge-new {
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 8px;
      background: #d9534f;
    }
  }

  .cloud-compute-content-ctnr {
    display: block;
    padding: 20px 20px 0 20px;
  }
}
