/* vRack - Service Type List */
@vrack-service-type-list-border-color: #c7ccd2;
@vrack-service-type-list-background-color: #edefec;
@vrack-service-type-list-min-height: 23.75rem;

/* vRack - Service Type */
@vrack-service-type-font-color: #122844;
@vrack-service-type-chevron-size: 0.5rem;
@vrack-service-type-icon-size: 1.125rem;
@vrack-service-type-name-font-size: 0.875rem;
@vrack-service-type-name-font-weight: 700;

/* vRack - Service Group */
@vrack-service-group-color: #687689;
@vrack-service-group-chevron-size: @vrack-service-type-chevron-size;
@vrack-service-group-name-font-size: 0.875rem;

/* vRack - Service */
@vrack-service-background-color: #f4f5f3;
@vrack-service-background-color_selected: white;
@vrack-service-border-color: #dee0de;
@vrack-service-border-color_selected: #aaadaf;
@vrack-service-font-color: #687689;
@vrack-service-font-color_selected: #112745;
@vrack-service-font-size: 0.9375rem;
@vrack-service-box-shadow_selected: 0 0 6px 0 rgba(0, 0, 0, 0.5);

.vrack {
  &__mapper {
    &-icon {
      margin-top: 5rem;
      width: 3.75rem;
      height: 2.8125rem;
      margin-bottom: 1.875rem;
    }
  }

  &__loading-indicator,
  &__mapper-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__service-type-list,
  &__service-group-list,
  &__service-list {
    list-style: none;

    .oui-spinner {
      margin-left: 5px;
    }
  }

  &__service-type-list {
    border-color: @vrack-service-type-list-border-color;
    border-width: 3px 0 0 0;
    border-style: solid;
    background-color: @vrack-service-type-list-background-color;
    min-height: 23.75rem;
    padding: 1.5rem;
    padding-right: 1.5rem;
  }

  &__service-type {
    position: relative;
    padding-bottom: 0.9375rem;
    color: @vrack-service-type-font-color;

    &::before {
      font-family: 'ovh-font', sans-serif;
      font-size: @vrack-service-type-chevron-size;
      content: '\f10d'; /* .ovh-font-small-arrow-right */
    }

    &-name {
      display: inline-block;
      font-size: @vrack-service-type-name-font-size;
      font-weight: @vrack-service-type-name-font-weight;
      margin-bottom: 1rem;
      user-select: none;
    }

    &-name:hover {
      cursor: pointer;
    }

    &-icon {
      font-size: @vrack-service-type-icon-size;
      padding: 0 0.3125rem;
      margin-bottom: 0.125rem;
    }
  }

  &__service-type_expanded {
    &::before {
      content: '\f10c'; /* .ovh-font-small-arrow-down */
    }

    > ul.vrack__service-list {
      display: block;
    }

    > ul.vrack__service-group-list {
      display: block;
    }
  }

  &__service-group-list,
  &__service-list {
    display: none;
  }

  &__service-group-list {
    padding-left: 1.375rem;
  }

  &__sub-service-list {
    padding-left: 0;
  }

  &__service-list {
    padding-left: 1.125rem;

    &_group {
      padding-left: 1.3125rem;
    }
  }

  &__service-group {
    padding-bottom: 1.5rem;
    color: @vrack-service-group-color;

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      font-family: 'ovh-font', sans-serif;
      font-size: @vrack-service-group-chevron-size;
      content: '\f10d'; /* .ovh-font-small-arrow-right */
    }

    &-name {
      display: inline-block;
      padding: 0 0 1rem 0.625rem;
      font-size: @vrack-service-group-name-font-size;
      user-select: none;
    }

    &-name:hover {
      cursor: pointer;
    }
  }

  &__service-group_expanded {
    &::before {
      content: '\f10c'; /* .ovh-font-small-arrow-down */
    }

    > ul.vrack__service-list {
      display: block;
    }
  }

  &__service-group &__service-list {
    display: none;
  }

  &__service {
    padding: 0.625rem 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-color: @vrack-service-border-color;
    background-color: @vrack-service-background-color;
    margin-bottom: 0.3125rem;
    font-size: @vrack-service-font-size;
    color: @vrack-service-font-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    cursor: default;

    &_selected {
      background-color: @vrack-service-background-color_selected;
      border-color: @vrack-service-border-color_selected;
      color: @vrack-service-font-color_selected;
      box-shadow: @vrack-service-box-shadow_selected;
    }

    &_selectable:hover {
      cursor: pointer;
    }
  }
}
