@import (less) 'bootstrap/less/variables';

/* vRack - Header */
@vrack-header-background-color: #fff;

/* vRack - Spinner */
@vrack-spinner-size: 1rem;
@vrack-spinner-size_mapper: 1.375rem;

/* vRack - Section - Title */
@vrack-section-title-font-size: 1.625rem;
@vrack-section-title-font-weight: 300;
@vrack-section-title-font-color: #4d5e73;

/* vRack - Text */
@vrack-text-font-size: 0.9375rem;
@vrack-text-font-color: #959eab;

.vrack {
  min-width: 20rem;
  overflow-x: hidden;

  > * {
    padding: 0 3.25rem;
  }

  i.oui-icon-pen_line {
    font-size: 16px !important;
  }

  &__spinner  {
    display: inline-block;
    font-size: @vrack-spinner-size;

    &_mapper {
      display: block;
      text-align: center;
      font-size: @vrack-spinner-size_mapper;
      margin-top: 1.875rem;
      margin-bottom: 1.875rem;
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    min-height: 6.875rem;
    background-color: @vrack-header-background-color;
    padding-bottom: 1.25rem;
    margin: 0 0 20px 0;
  }

  &__error-list,
  &__error-item {
    padding: 0;
    margin: 0;
  }

  &__error-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &_in-header {
      margin-left: 0.625rem;
    }
  }

  &__edit-button {
    font-size: 1rem;
    margin-bottom: 0.625rem;
    flex: 0 0 3.125rem;
  }

  &__edit-input {
    flex: 0 0 18.75rem;
    height: 2.25rem;

    @media (max-width: @screen-xs) {
      flex: 0 0 13.75rem;
    }
  }

  &__edit-form {
    flex: 1;
    display: flex;
  }

  &__section-title {
    font-size: @vrack-section-title-font-size;
    color: @vrack-section-title-font-color;
    font-weight: @vrack-section-title-font-weight;
    margin: 2.1875rem 0 0.9375rem 0;
  }

  &__text {
    display: inline-block;
    font-size: @vrack-text-font-size;
    color: @vrack-text-font-color;
  }

  &__description {
    font-size: @vrack-text-font-size;
    color: @vrack-text-font-color;
  }

  &__empty-description-text {
    margin: 2.1875rem 0 0.9375rem 0;
  }
}
