.cloud-consumption-chart {
  .axis {
    shape-rendering: crispEdges;
    fill: #000;
    font-size: 10px;
  }

  .bar-text {
    font-size: 12px;
    text-anchor: middle;
    font-weight: bold;
  }

  .threshold-text {
    font-size: 10px;
    text-anchor: middle;
    font-weight: bold;
  }

  .threshold-amount-text {
    font-size: 10px;
    text-anchor: end;
  }

  .axis line {
    stroke: #a1a1a1;
  }

  .axis path {
    stroke: #a1a1a1;
    fill: none;
  }

  .line {
    stroke: red;
  }

  .barNow {
    fill: #777;
  }

  .barFuture {
    fill: #ddd;
  }
}
