pci-project-new-payment { /* stylelint-disable-line */
  .pci-projects-new-payment {
    .add-voucher {
      .btn-voucher {
        background-color: rgb(230, 245, 252);
        border: 0;
        border-radius: 0;
        min-height: 85px;
      }

      .oui-box {
        background-color: rgb(230, 245, 252);
        border: 0;
        border-radius: 0;
      }
    }

  }
}
