pci-project-new-payment {
  @import '~bootstrap4/scss/_functions';
  @import '~bootstrap4/scss/_variables';
  @import '~bootstrap4/scss/mixins/_breakpoints';

  .pci-projects-new-payment {
    .add-voucher {
      .btn-voucher {
        background-color: rgb(230, 245, 252);
        border: 0;
        border-radius: 0;
        min-height: 85px;
      }

      .oui-box {
        background-color: rgb(230, 245, 252);
        border: 0;
        border-radius: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      .alternative-payment-box.border-right {
        border-right: 0 !important;
        margin-bottom: $spacer;
      }
    }

    @include media-breakpoint-down(md) {
      .voucher-form {
        .oui-button.oui-button_secondary {
          width: 100%;
          max-width: 100%;
          display: block;
        }
      }
    }
  }
}
