.logs-change-password {
  &__rule {
    color: #59697d;

    i {
      padding-right: 10px;
      font-size: 0.9375rem;
      color: inherit;
    }
  }

  &__rule_invalid {
    color: #b04020;
  }

  &__rules {
    list-style-position: inside;
    padding: 0;
    list-style-type: none;
  }
}

.oui-input-group {
  margin: 0 0 0.625rem;
}
