.kubernetes-network-form-load-balancers-subnet-toggler {
  font-size: 1.5rem;
}

.kubernetes-network-form-subnet-container {
  .oui-field {
    margin-bottom: 1rem !important;
  }
}

.kubernetes-network-form-gateway-container {
  .oui-field {
    margin-bottom: 1rem !important;
  }
}
