.kubernetes-network-form {
  .kubernetes-network-form-load-balancers-subnet-toggler {
    font-size: 1.5rem;
  }

  .oui-field__label {
    .kubernetes-network-form-load-balancers-subnet-toggler {
      font-size: 1rem;
    }
  }

  .kubernetes-network-form-subnet-container {
    .oui-field {
      margin-bottom: 1rem !important;
    }
  }

  .kubernetes-network-form-gateway-container {
    .oui-field {
      margin-bottom: 1rem !important;
    }
  }
}
