@import '../../../index.less';

.telecom-pack-voipLine-activation {
  .phone-item {
    margin: 8px 0;

    .oui-radio_thumbnail-light {
      height: 350px;
    }

    .thumbnail-light {
      height: 350px;
      padding: 1.25rem;
      border: 1px solid #59d2ef;
      border-radius: 6px;
      background: #fff;
      cursor: pointer;
    }

    .thumbnail-label {
      font-weight: 600;
      color: #113f6d;
    }

    .thumbnail-light-selected {
      height: 350px;
      padding: 1.25rem;
      border: 2px solid #00a2bf;
      background: #e0f6fd;
      border-radius: 6px;
      cursor: pointer;
    }

    .thumbnail {
      border: 0;

      .sized {
        width: 100px;
        height: 100px;
      }

      span.ovh-font {
        display: block;
        text-align: center;
        font-size: 90px;
        margin-left: auto;
        margin-right: auto;
        color: @text-color;
      }
    }
  }
}
