.error-jumbotron {
  .oui-message.oui-message_error {
    background-color: rgb(255, 210, 221);
    border: 0;
    border-radius: 0 !important;
    color: rgb(193, 27, 27);
  }

  ul {
    padding-inline-start: 2.5rem;
  }
}
