#sso-modal {
  .panel {
    background: #efefef;
  }

  .panel-disabled {
    opacity: 0.6;
  }

  .sso-modal-account-badge-ctnr {
    display: table-cell;
    width: 50px;
    vertical-align: top;
  }

  .sso-modal-account-infos-ctnr {
    display: table-cell;
  }

  .sso-modal-account-badge {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding-top: 8px;
    background: #aaa;
    color: #555;
    border-radius: 300px;
    text-align: center;
    font-size: 24px;
  }

  .sso-modal-account-infos {
    word-break: break-all;
    color: #555;
  }
}
