@import '@ovh-ux/ui-kit/dist/scss/tokens/_colors';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_fonts';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_globals';

$walk-me-z-index: $base-z-index-popover + 100;

.onboarding-walkme {
  &_overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: $walk-me-z-index - 1;
  }

  &_step {
    position: absolute;
    box-shadow: rgba(0, 80, 215, 0.75) 0px 0px 0px 5000px;
    z-index: $walk-me-z-index;
    transition: all 0.3s ease-out;
  }

  &_popover {
    z-index: $walk-me-z-index + 1 !important;

    &_footer {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      flex-wrap: wrap;
      min-width: 100%;
    }

    &[x-placement=''],
    &[x-placement^='bottom'] {
      margin-top: 0.75rem !important;

      .onboarding-walkme_popover_arrow {
        top: -0.85rem !important;
      }
    }

    &[x-placement^='top'] {
      margin-bottom: 0.75rem !important;

      .onboarding-walkme_popover_arrow {
        bottom: -0.85rem !important;
      }
    }

    &[x-placement^='right'] {
      margin-left: 0.75rem !important;

      .onboarding-walkme_popover_arrow {
        left: -0.85rem !important;
      }
    }

    &[x-placement^='left'] {
      margin-right: 0.75rem !important;

      .onboarding-walkme_popover_arrow {
        right: -0.85rem !important;
      }
    }
  }
}

@media (max-width: $device-breakpoint-tablet-max-width) {
  .onboarding-walkme {
    &_popover {
      &_footer {
        flex-direction: column;
        gap: 0.5rem;

        button {
          width: 100%;
        }
      }
    }
  }
}
