.alerts-home {
  // TODO remove when component supports column align
  .oui-datagrid th:nth-child(3),
  .oui-datagrid td:nth-child(3) {
    text-align: right;
    padding-right: 0;
  }

  .oui-datagrid th:nth-child(4),
  .oui-datagrid td:nth-child(4) {
    text-align: center;
  }
}
