dbaas-logs-detail {
  .back_button_inline_text {
    button {
      padding: 0.75rem 0;
      min-width: 3.125rem;
    }

    h2 {
      display: inline-block;
    }
  }

  .numeric_without_bottom_margin {
    .oui-input-group {
      margin: 0;
    }
  }

  .datagrid-without-pagination {
    oui-pagination {
      display: none;
    }
  }
}
