@tailwind utilities;

@import '@ovhcloud/ods-themes/default';
@import '@ovh-ux/manager-react-components/dist/style.css';

html {
  font-family: var(--ods-font-family-default);
}

// ods table has 1rem hardcoded line height
// which cuts letter from links and badge inside
// cells
ods-table td {
  line-height: unset !important;
}

.menu-item-button {
  &::part(button) {
    width: 100%;
    justify-content: left;
    height: 32px;
    border-radius: 0;
  }
}

// put min-width otherwise the input is
// changing size when the clear button appear/disappear
ods-input#datagrid-searchbar::part(input) {
  min-width: 240px;
}
