@tailwind utilities;

@import '@ovhcloud/ods-themes/default';
@import '@ovh-ux/muk/dist/style.css';
@import '@ovh-ux/logs-to-customer/dist/style.css';
html {
  font-family: var(--ods-font-family-default);
}

// ods table has 1rem hardcoded line height
// which cuts letter from links and badge inside
// cells
ods-table td {
  line-height: unset !important;
}

.menu-item-button {
  &::part(button) {
    width: 100%;
    justify-content: left;
    height: 32px;
    border-radius: 0;
  }
}

.sub-row > td {
  padding: 0 0 0 var(--expander-column-width) !important;
}

.sub-row table,
.sub-row tr {
  border: none;
}

.sub-row table td {
  border-left: none !important;
  border-right: none !important;
}

.sub-row table tr:first-child td {
  border-top: none;
}

.sub-row table tr:last-child td {
  border-bottom: none;
}

.sub-row table tr td:first-child {
  border-left: none;
}

.sub-row table tr td:last-child {
  border-right: none;
}

// put min-width otherwise the input is
// changing size when the clear button appear/disappear
ods-input#datagrid-searchbar::part(input) {
  min-width: 240px;
}
