hub-dashboard {
  .hub-banner {
    background-color: #f5feff;
    color: #4d5592;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .hub-dashboard-product {
    margin-top: 2.5rem;
  }
}
