@import (less) 'font-awesome/css/font-awesome.min.css';
@import (less) 'ovh-manager-webfont/dist/css/ovh-font.css';

.user-ssh {
  .sshkey-ctnr .panel-body {
    max-height: 450px;
    overflow: auto;
    word-wrap: break-word;
  }

  textarea.user-ssh-key {
    resize: none;
    line-height: inherit;
  }
}
