.option_card {
  border: 1px solid var(--ods-color-primary-100);

  .card-children {
    background-color: var(--ods-color-neutral-050);
  }
}

.option_card_selected {
  border: 2px solid var(--ods-color-information-500);
  background-color: #f3fdff;
  margin: 0;

  .card-children {
    background-color: var(--ods-color-primary-050);
  }
}
