ovh-manager-account-sidebar {
  .manager-hub-user-panel {
    @import 'bootstrap4/scss/_functions.scss';
    @import 'bootstrap4/scss/_variables.scss';
    @import 'bootstrap4/scss/_mixins.scss';
    @import 'bootstrap4/scss/_utilities.scss';
    @import 'bootstrap4/scss/_grid.scss';
    @import 'bootstrap4/scss/_buttons.scss';
    @import 'bootstrap4/scss/_button-group.scss';
    @import '@ovh-ux/manager-hub/src/variables.scss';

    background-color: $p-075;
    height: 100%;
    padding: 2rem;
    padding-top: 3rem;
    overflow: auto;

    .minw-0 {
      min-width: 0;
    }

    h3 {
      font-size: 1rem;
      font-weight: $jupiter-font-weight;
      color: $p-800;

      * {
        color: inherit;
      }
    }

    p {
      line-height: inherit;
    }

    &_divider {
      display: block;
      border-top: 1px solid darken($p-075, 10%);
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    &_links {
      a,
      .btn-link {
        font-weight: bold;
        color: $p-500;
        padding: 0;
        text-decoration: none;
        white-space: initial;
        text-align: left;
        letter-spacing: normal;

        .oui-icon {
          line-height: 1;
          color: $p-500;
          font-size: 1.5rem;
          vertical-align: middle;
          margin-right: 1rem;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
