.cda-modal {
  header {
    .cancel-button {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .cda-form {
    .cda-input-label {
      font-weight: bold;
    }
  }
}

.cda-table {
  .cda-table-col-action {
    width: 1%;
  }
}

.cda-dl {
  dd {
    margin-bottom: 10px;
  }
}

.cda-status-ok {
  color: #64afa0;
}

@media (max-width: 800px) {
  .cda-table .dropdown-menu-right {
    left: 0;
  }
}
