@import "../../node_modules/bootstrap4/scss/_functions";
@import "../../node_modules/bootstrap4/scss/_variables";
@import "../../node_modules/bootstrap4/scss/_mixins";
@import '../../node_modules/bootstrap4/scss/_utilities.scss';

// Microsoft Icons
// @import './../../../node_modules/office-ui-fabric-react/dist/sass/variables/_Icon.Variables.scss';
// @import './../../../node_modules/office-ui-fabric-react/dist/sass/variables/_ZIndex.Variables.scss';
// @import './../../../node_modules/office-ui-fabric-react/dist/sass/mixins/_Icon.Mixins.scss';
// @import './../../../node_modules/office-ui-fabric-react/dist/sass/_Icon.Definitions.scss';
// @import './../../../node_modules/office-ui-fabric-react/dist/sass/_Icon.scss';