.navbar {
  box-shadow: none !important;
  background-color: var(--ods-color-primary-700) !important;
  width: 100%;

  :global(.oui-navbar-toggler__hamburger span) {
    background-color: var(--ods-color-primary-100) !important;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    width: min-content;

    &Item {
      width: max-content;
    }
  }

  &Logo {
    display: block;

    svg {
      display: flex;
      height: 1.5rem;
      fill: white;
    }
  }

  &Separator {
    height: 2rem;
    width: 1px;
    margin: 0 0.25rem;
    background-color: var(--ods-color-primary-100);
  }
}

.small-device-pnr-switch {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.25rem;
}
