@import '@ovh-ux/ui-kit/dist/scss/tokens/_colors';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_fonts';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_globals';

.navbar {
  box-shadow: none !important;
  width: 100%;
  padding: 0 1.5rem 0 0.375rem !important;

  @media (max-width: $device-breakpoint-tablet-max-width) {
    padding: 0 0.5rem 0 0.375rem !important;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    width: min-content;

    &Item {
      width: max-content;
    }
  }

  &Logo {
    display: block;

    svg {
      display: flex;
      height: 1.5rem;
      fill: var(--ods-color-primary-700)
    }
  }
}

.small-device-pnr-switch {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.25rem 0 0;
}