.navbar {
  box-shadow: none !important;
  width: 100%;

  &List {
    display: flex;
    flex-wrap: wrap;
    width: min-content;

    &Item {
      width: max-content;
    }
  }

  &Logo {
    display: block;

    svg {
      display: flex;
      height: 1.5rem;
      fill: var(--ods-color-primary-700)
    }
  }
}

.small-device-pnr-switch {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.25rem 0 0;
}