.cloud-vps-section {
  @import 'font-awesome/less/font-awesome.less';
  @import 'flag-icon-css/less/flag-icon.less';
  @import '../dashboard/vpsTileStatus/vps-tile-status.less';
  @import '../upgrade/vps-upgrade.less';

  .vps-dl-horizontal {
    display: flex;
    flex-wrap: wrap;

    .vps-item-horizontal {
      min-width: 35%;
      padding: 0.625rem;
    }
  }

  /* ==================================================
  =            Add some flags definitions            =
  ================================================== */
  .flag-icon {
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  }

  .flag-icon-uk {
    .flag-icon-gb();
  }

  .flag-icon-eri {
    .flag-icon-gb();
  }

  .flag-icon-sbg {
    .flag-icon-fr();
  }

  .flag-icon-sbg1 {
    .flag-icon-fr();
  }

  .flag-icon-gra {
    .flag-icon-fr();
  }

  .flag-icon-rbx {
    .flag-icon-fr();
  }

  .flag-icon-gra1 {
    .flag-icon-fr();
  }

  .flag-icon-bhs {
    .flag-icon-ca();
  }

  .flag-icon-bhs1 {
    .flag-icon-ca();
  }

  .flag-icon-waw {
    .flag-icon-pl();
  }

  .flag-icon-lim {
    .flag-icon-de();
  }

  .flag-icon-de {
    .flag-icon-de();
  }

  .flag-icon-sgp {
    .flag-icon-sg();
  }

  .flag-icon-syd {
    .flag-icon-au();
  }
}
