@import 'oui4/dist/scss/tokens/_colors.scss';
@import '@ovh-ux/manager-hub/src/variables.scss';

.oui-ui-select,
.oui-ui-select_multiple {
  .ui-select-match-container {
    border-color: $p-100;

    &:focus,
    &:hover {
      box-shadow: none;
      border-color: $p-100;
      background-color: rgb(239, 249, 253);
    }

    &:focus {
      border-color: $p-500;
      color: $p-500;
    }
  }
}
