.dbaasts-project-details-key {
  .table-condensed > tbody > tr > td {
    vertical-align: middle;
  }

  .label-key-tag {
    background-color: @dbaasts_blue_1;
    font-weight: normal;
    font-size: 100%;
  }

  .dbaasts-tags {
    text-overflow: ellipsis;
    overflow: hidden;

    /* so that ellipsis dots are white in the labels */
    color: white;
    max-width: 5em;

    @media (min-width: @screen-sm-min) {
      max-width: 10em;
    }

    @media (min-width: @screen-md-min) {
      max-width: 10em;
    }

    @media (min-width: @screen-lg-min) {
      max-width: 20em;
    }

    @media (min-width: 1500px) {
      max-width: 40em;
    }
  }
}

.dbaasts-highlight {
  color: @dbaasts_green_1;
}
