@import (less) 'ovh-ui-kit-bs/dist/css/oui-bs3.css';
@import 'bootstrap/less/mixins.less';
@import (less) '@ovh-ux/ui-kit/dist/css/oui.css';
@import (less) 'ovh-angular-list-view/dist/ovh-angular-list-view.min.css';
@import 'font-awesome/less/font-awesome.less';
@import 'ovh-common-style/less/helpers.less';
@import 'ovh-common-style/less/animation.less';
@import 'ovh-common-style/less/table.less';
@import 'ovh-common-style/less/datepicker-ui.less';
@import 'ovh-common-style/less/bootstrap3-extend.less';
@import 'ovh-common-style/less/bootstrap3-col-height.less';
@import 'ovh-common-style/less/spinner/spinner.less';
@import 'ovh-common-style/less/fonts/open-sans.less';
@import 'ovh-manager-webfont/dist/less/ovh-font.less';
@import 'flag-icon-css/less/flag-icon.less';

// Overide Bootstrap Params
@screen-xs-max: @v6-max-with;
@screen-sm-min: @v6-min-with;
@screen-sm-max: @device-breakpoint-tablet-max-width;
@screen-md-min: @device-breakpoint-tablet;
@screen-md-max: @device-breakpoint-medium-max-width;
@screen-lg-min: @device-breakpoint-medium;

@component-offset-horizontal: 200px;
@modal-backdrop-bg: #59697d;

// Params use by bootstrap and app
@v6-min-with: 801px;

@v6-max-with: 800px;

@font-size-base: 12px;

@border-radius-base: 2px;

@border-radius-large: 2px;

@border-radius-small: 1px;

@top_bar_height: 80px;

// App params structure
@TopNavHeight: 44px;

@MobileTopNavHeight: @TopNavHeight;

@TopTabBackground: #e0e0e0;

@TopNavBackground: @TopTabBackground;

@UNIVERS: #edc200;

@UNIVERS_HOVER: #e9d473;

@UNIVERS_SECONDARY: hsl(168, 32%, 54%); //#65afa0;

@UNIVERS_SECONDARY_HOVER: lighten(@UNIVERS_SECONDARY, 8%);

@DefaultFontSize: 12px;

// Zindex
@zIndexFullOverlay: 1040;
@imgPath: '../assets/';

@table-header-background-color: @UNIVERS_SECONDARY;

.cui-modal {
  .modal-content {
    .oui-modal {
      background-color: white;

      .oui-list__header {
        font-size: 1rem;
        font-weight: bold;
      }

      .oui-list__link {
        color: inherit;
        font-size: inherit;
        text-decoration: underline;
        display: initial;
      }

      .oui-list__items {
        font-size: 0.9375rem;
        padding-left: 15px;
        margin-bottom: 8.5px;
        list-style-type: disc;
      }
    }

    .oui-checkbox__label {
      font-size: 1rem;
    }
  }
}

.table {
  &.table-pretty {
    thead {
      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

/*
 * Base structure
 */
html {
  height: 100%;
}

.browsehappy {
  background: #ccc;
  color: #000;
  padding: 0 10px;
}

//BackDrop
#full-overlay {
  background: black;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: @zIndexFullOverlay;
  display: none;

  &.nav-open {
    display: none;
  }
}
//Mobile
@media (max-width: @v6-max-with) {
  #full-overlay[class*='nav-open'] {
    display: block;

    // &[class*="sidebar"] {
    //     z-index: @zIndexFullOverlaySidebar;
    // }
  }
}

/*
 * content
 */

#content {
  padding: 0;

  .oui-header,
  .page-header {
    margin-top: rem-calc(16);
  }

  .oui-header,
  .oui-header + .oui-header-tabs,
  .page-header,
  .nav.nav-tabs {
    margin-left: rem-calc(32);
    margin-right: rem-calc(32);
  }
}

@media (max-width: @v6-max-with) {
  #content {
    margin-top: @MobileTopNavHeight - 1;
  }
}

/*
 * container
 */

.container {
  width: auto;
}

//App-wide Styles

/* Responsive: Portrait tablets and up */
@media screen and (min-width: @v6-min-with) {
  .container {
    max-width: 730px;
  }
}
//App-wide Styles

/* Responsive: Portrait tablets and up */
@media screen and (min-width: @v6-min-with) {
  .container {
    max-width: 730px;
  }
}

// inject:less
// inject:less
@import 'cda/cda.less';
@import 'cda/details/home/detail/cda-detail.component.less';
@import 'cda/user/details/cda-user-details.less';
@import 'cda/user/details/permissions/edit/cda-user-details-permission-list-edit.less';
@import 'cloud/cloud.less';
@import 'cloud/cloud.variables.less';
@import 'cloud/less/cloud.classic-tabs.less';
@import 'cloud/less/cloud.popover.less';
@import 'cloud/less/cloud.ribbonOffer.less';
@import 'cloud/less/cloud.sweet-success.less';
@import 'cloud/offer/cloud-offer.less';
@import 'cloud/project/add/cloud-project-add.less';
@import 'cloud/project/billing/cloud-project-billing.less';
@import 'cloud/project/billing/consumption/cloud-project-billing-consumption.less';
@import 'cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.less';
@import 'cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.less';
@import 'cloud/project/billing/history/cloud-project-billing-history.less';
@import 'cloud/project/billing/history/details/cloud-project-billing-history-details.less';
@import 'cloud/project/billing/rights/cloud-project-billing-rights.less';
@import 'cloud/project/cloud-project.less';
@import 'cloud/project/compute/cloud-project-compute.less';
@import 'cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.less';
@import 'cloud/project/compute/infrastructure/ip/add_OLD_/cloud-project-compute-infrastructure-ip-add.less';
@import 'cloud/project/compute/infrastructure/less/cloud-project-compute-infrastructure-ip.less';
@import 'cloud/project/compute/infrastructure/less/cloud-project-compute-infrastructure-vm.less';
@import 'cloud/project/compute/infrastructure/less/cloud-project-compute-infrastructure-volume.less';
@import 'cloud/project/compute/infrastructure/openstackClient/cloud-project-compute-infrastructure-openstack-client.less';
@import 'cloud/project/compute/infrastructure/popover/cloud-project-compute-infrastructure-popover.less';
@import 'cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork.less';
@import 'cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetworks.less';
@import 'cloud/project/compute/infrastructure/privateNetwork/dialog/cloud-project-compute-infrastructure-privateNetwork-dialog-menu-item.less';
@import 'cloud/project/compute/infrastructure/privateNetwork/dialog/cloud-project-compute-infrastructure-privateNetwork-dialog-region.less';
@import 'cloud/project/compute/infrastructure/privateNetwork/dialog/cloud-project-compute-infrastructure-privateNetwork-dialog.less';
@import 'cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.less';
@import 'cloud/project/compute/infrastructure/virtualMachine/loginInformation/cloud-project-compute-infrastructure-virtual-machine-login-information.less';
@import 'cloud/project/compute/infrastructure/virtualMachine/monitoring/cloud-project-compute-infrastructure-virtualMachine-monitoring.less';
@import 'cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.less';
@import 'cloud/project/compute/loadbalancer/cloud-project-compute-loadbalancer.less';
@import 'cloud/project/compute/quota/cloud-project-compute-quota.less';
@import 'cloud/project/compute/regions/regions.less';
@import 'cloud/project/compute/ssh/cloud-project-compute-ssh.less';
@import 'cloud/project/details/cloud-project-details.less';
@import 'cloud/project/onboarding/onboarding-pci.less';
@import 'cloud/project/openstack/openstack.less';
@import 'cloud/project/openstack/users/openrc/openstack-users-openrc.less';
@import 'cloud/project/storage/storage-add/storage-add.less';
@import 'cloud/project/storage/storage.less';
@import 'common/common.less';
@import 'common/less/button.less';
@import 'common/less/flag.less';
@import 'common/less/link.less';
@import 'common/less/navbar.less';
@import 'common/less/ovh-alert.less';
@import 'common/less/utils.less';
@import 'dbaas/dbaas-metrics/dashboard/chart-pie/metrics-chart-pie.component.less';
@import 'dbaas/dbaas-metrics/dashboard/metrics-dashboard.less';
@import 'dbaas/dbaas-metrics/platform/metrics-platform.less';
@import 'dbaas/dbaas-metrics/token/metrics-token.less';
@import 'dbaas/dbaas-metrics/token/preview/metrics-token-preview.less';
@import 'deskaas/deskaas-details/deskaas-details.less';
@import 'deskaas/deskaas-upgrade/deskaas-upgrade.less';
@import 'deskaas/deskaas.less';
@import 'home/home.less';
@import 'oui-less-override.less';
@import 'ui-components/accordion/accordion-list.less';
@import 'ui-components/accordion/accordion.less';
@import 'ui-components/advanced-options/advanced-options.less';
@import 'ui-components/form/form.less';
@import 'ui-components/icons/button-action.less';
@import 'ui-components/inline-adder/inline-adder.less';
@import 'ui-components/input/key-value.less';
@import 'ui-components/panel/panel.less';
@import 'ui-components/preview-list/_variables.less';
@import 'ui-components/preview-list/preview-list.less';
@import '../components/cloud-ui/autocomplete/autocomplete.less';
@import '../components/cloud-ui/button/button.less';
@import '../components/cloud-ui/constants.less';
@import '../components/cloud-ui/content/content.less';
@import '../components/cloud-ui/header/header.less';
@import '../components/cloud-ui/mixins.less';
@import '../components/cloud-ui/search/search.less';
@import '../components/cloud-ui/switch/switch.less';
@import 'cloud/components/region.less';
@import '../components/ovh-ui/button/button.less';
@import '../components/ovh-ui/constants.less';
@import '../components/ovh-ui/mixins.less';
@import 'cloud/components/runabove/modal/modal.less';
@import 'cloud/components/runabove/promise-task-state/promise-task-state.less';
@import 'cloud/components/runabove/runabove.less';
// endinject
// endinject

@import (less) 'animate.css/animate.css';
@import (less) 'bootstrap-additions/dist/modules/popover.min.css';
@import (less) 'flag-icon-css/css/flag-icon.min.css';
@import (less) 'messenger/build/css/messenger.css';
@import (less) 'messenger/build/css/messenger-theme-future.css';
@import (less) 'messenger/build/css/messenger-theme-flat.css';
@import (less) 'messenger/build/css/messenger-theme-block.css';
@import (less) 'xterm/dist/xterm.css';

.ovh-manager-cloud-app {
  #nprogress {
    .peg {
      box-shadow: none;
    }
  }
}
