/*
 * Since oui-less is still in it's infant stage, we feel the need to override some css.
 * These fixes should try to be in accordance with CX guidelines.
 * These fixes should also aim to be temporary.
 * Try to improve oui-less instead of making these fixes.)
 */

.oui-message {
  max-width: inherit;
}

.oui-table {
  font-size: rem-calc(16);

  &-empty {
    margin-top: rem-calc(20);
    padding: rem-calc(20);
    font-style: italic;
    text-align: center;
    border-radius: @oui-global-base-radius;
    background-color: @oui-color-concrete;
    color: #000;
  }

  &__cell_action-menu {
    width: 80px;

    @media screen and (max-width: (@oui-responsive-breakpoint-tablet - 1px)) {
      width: 100%;
    }
  }

  &__cell_component {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__row {
    transition-duration: 0s;
  }
}

.tui-dropdown-menu {
  z-index: 10;
}

.oui-status_help {
  background-color: @oui-color-info-fade;
}

.oui-radio-toggle-group {
  // Overidden to avoid text wrapping in radio component.
  // This fix should be removed once it is fixed in the oui-radio component.
  max-width: none;

  .oui-radio-toggle {
    flex: none;
  }

  :first-of-type.oui-radio-toggle .oui-radio-toggle__label {
    border-right-width: 1px;
  }

  :last-of-type.oui-radio-toggle .oui-radio-toggle__label {
    border-left-width: 1px;
  }
}

.oui-tile-h-100 {
  // This fix can be removed once fixed in the component
  .oui-tile {
    height: 100%;
  }
}

.oui-popover__content-container {
  // Fix done to avoid words in the pop-over from breaking.
  // This fix can be removed, once this fix is in the component.
  word-break: normal;
}
