@import '@ovh-ux/ui-kit/dist/less/_tokens';

.cui-advanced-options {
  padding: rem-calc(24);
  color: #000;
  background-color: #f2f2f2;
  border: 1px solid #bbbdbf;
  border-radius: @base-border-radius-small;
  font-size: rem-calc(16);

  &__header {
    display: flex;

    &-text {
      flex-grow: 1;
    }
  }

  &__content {
    margin-top: rem-calc(24);
  }

  .oui-field-control {
    width: 100%;
  }
}
