.vps-tile-status {
  margin: 1rem 2rem 0;
  padding: 0.6rem;

  &_grey  {
    background-color: @oui-color-concrete;
  }

  &__icon {
    font-size: 2rem;
    vertical-align: middle;
    line-height: 1.5;

    &_success {
      color: @oui-color-success-light;
    }

    &_error {
      color: @oui-color-error-light;
    }
  }

  &__text {
    font-weight: 600;
    vertical-align: middle;
    padding-left: 3rem;
    line-height: 1.5;
  }
}
