ovh-manager-pci-storages-database-connector-config-component {
  button.oui-tabs-tab.ng-scope {
    white-space: break-spaces;
    text-align: center;
    width: min-content;
    font-size: 0.875rem;
  }

  .preview {
    background-color: #122844;
    color: white;
    font-family: monospace;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
