#publicCloudInstancesDatagrid {
  margin-bottom: 20rem;

  .ip-list::after {
    content: ',...';
  }
}

.regions-badges {
  .oui-3az {
    background-color: #0050d7 !important;
    color: #fff;
  }
  .oui-1az {
    background-color: #157eea !important;
    color: #fff;
  }
  .oui-localzone {
    background-color: #bef1ff !important;
    color: #000e9c;
  }
}
