.manager-hub-payment-mean {
  @import 'oui4/dist/scss/_tokens';
  @import '@ovh-ux/manager-hub/src/variables.scss';

  > a {
    background: $p-100;
    border-radius: 0.5rem;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    text-decoration: none;
  }

  img {
    width: 24px;
    height: 24px;
  }

  &_status {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .oui-icon {
    color: $p-800;
  }
}
