ovh-manager-hub-payment-mean {
  .manager-hub-payment-mean {
    @import '~@ovh-ux/ui-kit/dist/scss/_tokens';
    @import '~@ovh-ux/manager-hub/src/variables.scss';

    > a {
      background: $p-100;
      border-radius: 0.5rem;
      color: inherit;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      width: 100%;
      text-decoration: none;
      transition: background-color 250ms;
    }

    > a:hover {
      background-color: $p-200;
      text-decoration: none;
    }

    img {
      width: 2.5rem;
    }

    h3 {
      font-size: 0.85rem;
      margin: 0;
      padding: 0;
      line-height: 1.5rem;
    }

    &_label {
      font-size: 0.75rem;

      > p {
        color: inherit;
      }
    }

    &_status {
      font-size: 0.8rem;
      font-weight: bold;
      max-width: none;
      line-height: 0.85rem;
    }

    .oui-badge {
      &_error {
        color: $ae-500;
      }

      &_warning {
        color: $aw-500;
      }

      &_success {
        color: $as-500;
      }
    }

    .oui-icon {
      color: $p-800;
    }

    .oui-icon-arrow-right {
      color: $p-500;
    }
  }
}
