@btn-color: #333;

@btn-bg: transparent;

@btn-border: transparent;

@btn-default-color: #333;

@btn-default-bg: hsl(0, 0%, 95%); //#f3f3f3

@btn-default-border: darken(@btn-default-bg, 5%);

@btn-primary-color: #333;

@btn-primary-bg: hsl(47, 100%, 55%); //#FFCC19;

@btn-primary-border: darken(@btn-primary-bg, 10%);

@btn-secondary-color: #333;

@btn-secondary-bg: hsl(168, 31%, 90%); //#DFEEEB;

@btn-secondary-border: darken(@btn-secondary-bg, 5%);

@btn-danger-color: white;

@btn-danger-bg: hsl(7, 64%, 52%); //#d34836;

@btn-danger-border: darken(@btn-danger-bg, 15%);

@btn-search-color: #333;

@btn-search-bg: hsl(168, 31%, 71%); //#9ECCC3;

@btn-search-border: darken(@btn-search-bg, 15%);

@btn-form-bg: #fff;
@btn-form-color: #337ab7;

/* BUTTONS */

.btn {
  //box-shadow: 1px 1px 1px rgba(92, 92, 92, 0.6);

  background-color: @btn-bg;
  border-color: @btn-border;
  color: @btn-color;

  &:focus {
    outline: 1px dotted darken(@btn-bg, 20%);
    color: lighten(@btn-color, 25%);
  }

  &:hover {
    background-color: lighten(@btn-bg, 5%);
    color: lighten(@btn-color, 25%);
  }

  &:disabled {
    box-shadow: none;
  }

  &:active {
    border-color: lighten(@btn-border, 8%);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.125);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);

    &:focus {
      outline: 0;
    }
  }

  &.btn-default {
    background-color: @btn-default-bg;
    border-color: @btn-default-border;
    color: @btn-default-color;

    &:focus {
      outline: 1px dotted darken(@btn-default-bg, 20%);
    }

    &:active {
      border-color: lighten(@btn-default-border, 8%);
    }

    &:hover {
      background-color: lighten(@btn-default-bg, 5%);
    }
  }

  &.btn-primary {
    background-color: @btn-primary-bg;
    border-color: @btn-primary-border;
    color: @btn-primary-color;

    &:focus {
      outline: 1px dotted darken(@btn-primary-bg, 20%);
    }

    &:active {
      border-color: lighten(@btn-primary-border, 8%);
    }

    &:hover {
      background-color: lighten(@btn-primary-bg, 5%);
    }
  }

  &.btn-secondary {
    background-color: @btn-secondary-bg;
    border: 1px solid @btn-secondary-border;
    color: @btn-secondary-color;

    &:focus {
      outline: 1px dotted darken(@btn-secondary-bg, 20%);
    }

    &:active {
      border-color: lighten(@btn-secondary-border, 8%);
    }

    &:hover {
      background-color: lighten(@btn-secondary-bg, 5%);
    }
  }

  &.btn-danger {
    background-color: @btn-danger-bg;
    border-color: @btn-danger-border;
    color: @btn-danger-color;

    &:focus {
      outline: 1px dotted darken(@btn-danger-bg, 20%);
    }

    &:active {
      border-color: lighten(@btn-danger-border, 7%);
    }

    &:hover {
      background-color: lighten(@btn-danger-bg, 5%);
    }
  }

  //@btn-search-bg: hsl(217, 28%, 48%);//#4B6EA8;
  &.btn-search {
    background-color: @btn-search-bg;
    border-color: @btn-search-border; // #38537e;  //6
    color: @btn-search-color;

    &:focus {
      outline: 1px dotted darken(@btn-search-bg, 20%); //#324970; //8
    }

    &:active {
      border-color: lighten(@btn-search-border, 7%); //#426094; //3
    }

    &:hover {
      background-color: lighten(@btn-search-bg, 5%); //#5579b3; //-2
    }
  }

  &.btn-form {
    background-color: @btn-form-bg;
    border: 1.1px solid @btn-form-color;
    color: @btn-form-color;
  }
}
