
ul.selectList {
  width: 60%;
  margin: 10px auto 20px auto;
  background-color: @defaultBackground;
  border: solid 1px @barBlockBorder;
  max-height: 150px;
  overflow-y: scroll;

  li {
    line-height: 24px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 10px;

    &.lineSelected {
      background-color: @defaultLineSelectedBackground;
      color: @defaultLineSelectedFont;
    }
  }
}
