.job-title__header h2 {
  margin: 0;
  padding-top: 0.313rem;
  line-height: normal;
  color: #999;
  font-size: 1rem;
  font-weight: 400;
}

.job-details__content {
  margin-top: 2rem;
}

.details__action-button__danger .oui-button_ghost {
  color: #b94a48;
}
