@import '~@ovh-ux/ui-kit/dist/less/_tokens';

.telephony-card {
  &__title {
    display: block;
    margin-bottom: 10px;
  }

  &__wrapper {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 10px;
  }

  &__ctnr {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    color: @p-500;
    font-size: 24px;
    margin: 5px;
  }

  &__description {
    margin-left: 24px;
  }
}
