@cloud-project-sidebar-width: 250px;

@cloud-project-sidebar-zindex: 1020;

@cloud-project-bottombar-zindex: 1010;

//--------SIDEBAR--------

.cloud-project-sidebar {
  width: @cloud-project-sidebar-width;
  position: fixed;
  top: @top_bar_height;
  bottom: 0;
  border-right: 1px solid #d2d2d2;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: @cloud-project-sidebar-zindex;
}

/* Overriding header tab active color */
.cloud-project-compute-content {
  .oui-header-tabs__item_active {
    .oui-button_dropdown {
      border-bottom-color: @UNIVERS;
    }
  }
}

@media (max-width: @screen-md-min) {
  .cloud-project-sidebar {
    position: static;
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding: 0;
  }
}

/* Medium devices (desktops, 992px and up to 1200px) */
@media (min-width: @screen-md-min) and (max-width: @screen-lg-min) {
  .cloud-project-sidebar {
    width: @cloud-project-sidebar-width - 50px;
  }
}

//--------CONTENT--------

.cloud-project-content.with-sidebar {
  margin-left: @cloud-project-sidebar-width; //because sidebar
}

@media (max-width: @screen-md-min) {
  .cloud-project-content.with-sidebar {
    margin-left: 0; //because sidebar become topbar
  }
}

/* Medium devices (desktops, 992px and up to 1200px) */
@media (min-width: @screen-md-min) and (max-width: @screen-lg-min) {
  .cloud-project-content.with-sidebar {
    margin-left: @cloud-project-sidebar-width - 50px; //because sidebar but small screen
  }
}

//--------CONTENT--------

.cloud-project-bottombar-zone {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(68, 133, 120, 0.8);
  z-index: @cloud-project-bottombar-zindex;
  padding: 0 @cloud-project-sidebar-width; //because sidebar
}

@media (max-width: @screen-md-min) {
  .cloud-project-bottombar-zone {
    padding: 0; //because sidebar become topbar
  }
}

/* Medium devices (desktops, 992px and up to 1200px) */
@media (min-width: @screen-md-min) and (max-width: @screen-lg-min) {
  .cloud-project-bottombar-zone {
    padding: 0 @cloud-project-sidebar-width - 50px; //because sidebar but small screen
  }
}
