navbar-notifications-list {
  @import '~@ovh-ux/ui-kit/dist/scss/_tokens';

  .oui-badge {
    position: absolute;
    right: 2rem;
    top: 1.25rem;
    padding: 0 $base-spacing-small;
    border-radius: 10pt;
    margin-left: 5px;
    font-size: $mercury-font-size;
    font-weight: bold;
    color: $p-000;
  }

  .oui-badge_error {
    background-color: $ae-500;
  }

  .oui-badge_info {
    background-color: $p-500;
  }
}
