.twinColumnSelect {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #656568;
  font-size: 12px;
}

.twinColumnSelect .twinColumnSelect-box {
  background: none repeat scroll 0 0 #efefef;
  min-height: 200px;
}

.twinColumnSelect .twinColumnSelect-box .twinColumnSelect-left-elements {
  background: #d8e2e4;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.twinColumnSelect .twinColumnSelect-box .twinColumnSelect-left-elements:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.twinColumnSelect .twinColumnSelect-box .twinColumnSelect-left-elements.active {
  background-color: #3d92b1;
  color: #fff;
}

.twinColumnSelect .buttons {
  text-align: center;
}

.twinColumnSelect .buttons button {
  display: inline-block;
  margin: 10px;
  position: relative;
  background-color: #dbdbdb;
  background-image: none;
  color: #656568;
  border: medium none;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #cacaca inset;
}

.twinColumnSelect .buttons button:hover {
  background-color: #3d92b1;
  color: #fff;
  cursor: pointer;
}

.twinColumnSelect .buttons button.disabled {
  opacity: 0.5;
  background: #dbdbdb;
  cursor: default;
}

.label-big {
  margin: 0 5px;
  line-height: 25px;
  width: 150px;
}

.icon-usb-white {
  background-image: url('../../../../images/icn/icn-usb-white.png') !important;
  background-position: 0 0;
}
