.log-streams-follow {
  &__connection_status {
    background: #fff;
    border: 1px solid #bbbdbf;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    padding: 15px 20px;
    margin-bottom: 20px;
    width: 100%;

    @media (min-width: 700px) {
      width: 50%;
    }
  }
}
