.table {
  th {
    padding: 1rem 1rem;
    border-bottom: solid 1px var(--ods-color-blue-200);
  }
  tbody {
    td {
      padding: 1rem 1rem;
      border-bottom: solid 1px var(--ods-color-blue-200);
    }

    td:first-child {
      border-left: solid 1px var(--ods-color-blue-200);
    }

    td:last-child {
      border-right: solid 1px var(--ods-color-blue-200);
    }
  }
}
