@tailwind utilities;

@import '@ovhcloud/ods-themes/default';

html {
  font-family: var(--ods-font-family-default);
}

.fw-bold::part(text) {
  font-weight: bold;
}

.delete-modal-input-caption + ods-form-field {
  width: 100%;
  display: flex;
  margin-top: 0;
}
