.roadmap-changelog-datagrid td {
  /* eslint-disable-next-line css/no-important */
  vertical-align: top !important;
}

.roadmap-changelog-datagrid-cell {
  max-width: 24rem;
  word-wrap: break-word;
}
