.dashboard-widget-modal-content[class*="_modal-content_"]:not([hidden]) {
  margin: auto !important;
  max-width: calc(100% - 64px) !important;
  max-height: calc(100vh - 64px) !important;

  [class^="_modal-header_"] {
    display: none !important;
  }

  .chart-component-wrapper {
    height: calc(100vh - 100px);  
  }

  @media screen and (width >= 576px) {
    max-width: calc(100% - 64px) !important;
    max-height: calc(100vh - 64px) !important;
  }

  @media (min-width: 1024px) {
    max-width: calc(100% - 100px) !important;
    max-height: calc(100vh - 200px) !important;

    .chart-component-wrapper {
      height: calc(100vh - 400px);    
    }
  }
}

[data-scope="dialog"]:has(.dashboard-widget-modal-content) {
  [class^="_modal-header_"] {
    display: none !important;
  }

  &[data-part="content"] {
    max-width: calc(100% - 64px) !important;
    max-height: calc(100vh - 64px) !important;
  }

  .chart-component-wrapper {
    height: calc(100vh - 100px);  
  }

  @media screen and (width >= 576px) {
    &[data-part="content"] {
      max-width: calc(100% - 64px) !important;
      max-height: calc(100vh - 64px) !important;
    }
  }

  @media (min-width: 1024px) {
    &[data-part="content"] {
      max-width: calc(100% - 100px) !important;
      max-height: calc(100vh - 200px) !important;
    }

    .chart-component-wrapper {
      height: calc(100vh - 400px);    
    }
  }
}
