.oui-datagrid-column-reasons {
  max-width: 31rem;
  white-space: normal;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

oui-modal {
  p.confirmation-message {
    span {
      white-space: nowrap;
    }
  }
}
