// .mainContainer i {
#main-container i {
  &.icon-little-FR,
  &.icon-little-CA,
  &.icon-little-UK,
  &.icon-little-PL,
  &.icon-little-IT,
  &.icon-little-ES,
  &.icon-little-DE,
  &.icon-little-CN,
  &.icon-little-US {
    width: 15px;
    height: 11px;
    background: transparent url('../../../images/flags_little_os.jpg') no-repeat
      0 0;
    margin: 4px 10px 0 20px;
  }

  &.icon-little-FR {
    background-position: -75px 0;
  }

  &.icon-little-CA {
    background-position: -15px 0;
  }

  &.icon-little-IT {
    background-position: -60px 0;
  }

  &.icon-little-ES {
    background-position: -30px 0;
  }

  &.icon-little-DE {
    background-position: -90px 0;
  }

  &.icon-little-UK {
    background-position: -105px 0;
  }

  &.icon-little-PL {
    background-position: -120px 0;
  }

  &.icon-little-CN {
    background-position: 0 0;
  }

  &.icon-little-US {
    background-position: -45px 0;
  }

  &.icon-CN,
  &.icon-CA,
  &.icon-ES,
  &.icon-US,
  &.icon-IT,
  &.icon-FR,
  &.icon-DE,
  &.icon-UK,
  &.icon-PL,
  &.icon-AU,
  &.icon-SG {
    width: 30px;
    height: 22px;
    background: url('../../../images/flags_os.png') no-repeat 0 0;
    margin: 0 10px 0 0;
  }

  &.icon-CN {
    background-position: 0 0;
  }

  &.icon-CA {
    background-position: -30px 0;
  }

  &.icon-ES {
    background-position: -60px 0;
  }

  &.icon-US {
    background-position: -90px 0;
  }

  &.icon-IT {
    background-position: -120px 0;
  }

  &.icon-FR {
    background-position: -150px 0;
  }

  &.icon-DE {
    background-position: -180px 0;
  }

  &.icon-UK {
    background-position: -210px 0;
  }

  &.icon-PL {
    background-position: -240px 0;
  }

  &.icon-AU {
    background-position: -270px 0;
  }

  &.icon-SG {
    background-position: -300px 0;
  }
}
