.download-icon-container {
  margin: 0 auto 20px;
  width: 120px;
  padding-bottom: 20px;
  border-bottom: 3px solid #8bcfed;

  .download-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 120px;
    font-size: 2.5rem;
    box-sizing: border-box;
    border: 3px solid #8bcfed;
    border-radius: 50%;

    & > span {
      color: #162843;
    }
  }
}
