//Custome icones

.icon-white {
  background-image: url('../../../images/glyphicons-halflings-white.png');
}

.icon-warning,
.icon-check {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.icon-warning {
  background-image: url('../../../images/icn/warning-jaune.png');
  background-position: 0 0;
}

.icon-check {
  background-image: url('../../../images/icn/icn-check.png');
}

.icon-back-detail,
.icon-back-detail:hover {
  width: 32px;
  height: 32px;
  background-image: url('../../../images/back-icon.png');
  background-position: 0;
}

.icon-product,
i.icon-ip,
i.icon-save,
i.icon-licences,
i.icn-exchange-hosted,
i.icon-protection-domain,
i.icon-whois-domain,
i.icon-main-dns,
i.icon-second-dns,
i.icon-redirection-domain,
i.icon-sous-domain,
i.icon-basket-small,
i.icon-btn-help {
  width: 30px;
  height: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  float: left;
  margin: 0 6px 0 0;
}

//i.icon-save { background-image : url('../../../images/icn/icn_save_blue.png');}
//i.icon-licences { background-image : url('../../../images/icn/icn_licences_blue.png');}
//i.icn-exchange-hosted { background-image: url('../../../images/icn/icn_exchange_hosted_blue.png');}
//i.icon-ip { background-image : url('../../../images/icn/icn_ip_blue.png');}
//i.icon-protection-domain { background-image: url('../../../images/icn/icn_protection_domain.png'); }
//i.icon-whois-domain { background-image: url('../../../images/icn/icn_whois_domain.png'); }
//i.icon-main-dns { background-image: url('../../../images/icn/icn_main_dns.png'); }
//i.icon-second-dns { background-image: url('../../../images/icn/icn_second_dns.png'); }
//i.icon-redirection-domain { background-image: url('../../../images/icn/icn_redirection_web.png'); }
//i.icon-sous-domain { background-image: url('../../../images/icn/icn_sous_domain.png'); }
//i.icon-housing { background-image: url('../../../images/left_menu/icn-housing.svg'); }
//i.icon-basket-small { background-image: url('../../../images/icn/icn-basket-small.png'); background-position: 0 0;}
//i.icon-btn-help { background-image: url('../../../images/icn/icn-btn-help-small.png'); background-position: 0 0; width: 20px; height: 20px;}

.icon-action-multiple,
.icon-option {
  background: url('../../../images/icn/icn_action_multiple.png') no-repeat;
  width: 18px;
  height: 18px;
}

i.state-pending,
i.state-stopped,
i.state-error,
i.state-cancel {
  margin: 0 auto;
  display: block;
  width: 17px;
  height: 16px;
}

#main-container i.icon-option-delete {
  width: 35px;
  height: 36px;
  background: transparent url(../../../images/icn/icn-option-delete.png)
    no-repeat 0 center;
}

//From ovh-font
i.icon-newtab,
i.ovh-font-arrow-down,
i.ovh-font-arrow-left,
i.ovh-font-arrow-right,
i.ovh-font-arrow-up {
  width: 18px;
  height: 18px;
}

i.icon-newtab {
  background: url('../../../images/icn/newtab.svg') no-repeat;
}

i.icon-arrow-down {
  background: url('../../../images/icn/arrow/arrow-down.svg') no-repeat;
}

i.icon-arrow-left {
  background: url('../../../images/icn/arrow/arrow-left.svg') no-repeat;
}

i.icon-arrow-right {
  background: url('../../../images/icn/arrow/arrow-right.svg') no-repeat;
}

i.icon-arrow-up {
  background: url('../../../images/icn/arrow/arrow-up.svg') no-repeat;
}
