i.icon-data,
i.icon-server,
i.icon-housing,
i.icon-cdn,
i.icon-vrack,
i.icon-domain,
i.icon-nas,
i.icon-vps,
i.icon-ip,
i.icon-save,
i.icon-licences,
i.icon-cdnwebstorage {
  width: 30px;
  height: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  float: left;
  margin: 0 6px 0 0;
}

i.icon-server {
  background-image: url('../../../images/icn/icn-server.png');
}

i.icon-housing {
  background-image: url('../../../images/icn/icn-housing.svg');
}

i.icon-cdn,
i.icon-domain {
  background-image: url('../../../images/icn/icn-cdn.png');
}

i.icon-domain {
  background-image: url('../../../images/icn/icn_domain_purple.png');
}

i.icon-vrack {
  background-image: url('../../../images/icn/icn-vrack.png');
}

i.icon-nas {
  background-image: url('../../../images/icn/icn-nas.png');
}

i.icon-vps {
  background-image: url('../../../images/icn/icn_vps_blue.png');
}

i.icon-ip {
  background-image: url('../../../images/icn/icn_ip_blue.png');
}

i.icon-save {
  background-image: url('../../../images/icn/icn_save_blue.png');
}

i.icon-licences {
  background-image: url('../../../images/icn/icn_licences_blue.png');
}

i.icon-cdnwebstorage {
  //background-image : url("../images/icn/icn-cdn-webstorage.png");
}
