@import '@ovh-ux/ui-kit/dist/scss/tokens/_colors';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_fonts';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_globals';

.oui-box_kyc-digital-process {
  max-width: 80%;
  @media (max-width: $device-breakpoint-tablet-max-width) {
    max-width: 100%;
  }

  &.oui-box_tagged {
    position: relative;
    .oui-box__tag {
      display: flex;
      position: absolute;
      top: -14px;
      height: 28px;
      left: -1px;
      background-color: #bef1ff;
      padding: 0.5rem;
      align-items: center;
    }
  }

  .oui-icon {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
  }
}
