.iplb {
  @import '@ovh-ux/ui-kit/dist/less/_tokens';
  @import '@ovh-ux/manager-cloud-styles/src/ui-components/preview-list/preview-list.less';
  @import '@ovh-ux/manager-cloud-styles/src/ui-components/panel/panel.less';
  @import '@ovh-ux/manager-cloud-styles/src/ui-components/form/form.less';
  @import '@ovh-ux/manager-cloud-styles/src/ui-components/input/key-value.less';

  &-no-data {
    text-align: center;
    font-style: italic;
  }

  .oui-badge_help {
    background-color: @p-075;
  }
}
