.iplb {
  $flag-icon-css-path: '~flag-icon-css/flags';

  @import '~flag-icon-css/sass/flag-icon';
  @import 'bootstrap4/scss/_functions.scss';
  @import 'bootstrap4/scss/_variables.scss';
  @import 'bootstrap4/scss/_mixins.scss';
  @import 'bootstrap4/scss/_utilities.scss';
  @import 'bootstrap4/scss/_grid.scss';

  .flag-icon-eri {
    @extend .flag-icon-fr;
  }

  .flag-icon-sbg {
    @extend .flag-icon-fr;
  }

  .flag-icon-sbg1 {
    @extend .flag-icon-fr;
  }

  .flag-icon-gra {
    @extend .flag-icon-fr;
  }

  .flag-icon-rbx {
    @extend .flag-icon-fr;
  }

  .flag-icon-gra1 {
    @extend .flag-icon-fr;
  }

  .flag-icon-bhs {
    @extend .flag-icon-ca;
  }

  .flag-icon-bhs1 {
    @extend .flag-icon-ca;
  }

  .flag-icon-waw {
    @extend .flag-icon-pl;
  }

  .flag-icon-lim {
    @extend .flag-icon-de;
  }

  .flag-icon-de {
    @extend .flag-icon-de;
  }

  .flag-icon-sgp,
  .flag-icon-sgp1 {
    @extend .flag-icon-sg;
  }

  .flag-icon-syd,
  .flag-icon-syd1 {
    @extend .flag-icon-au;
  }

  .flag-icon-qc {
    @extend .flag-icon-ca;
  }

  .flag-icon {
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  }
}
