@import '@ovh-ux/ui-kit/dist/less/_tokens';

.cui-accordion {
  @self: cui-accordion;

  color: #000;
  font-size: rem-calc(16);

  &__header {
    display: flex;
    background-color: #f2f2f2;
    border: 1px solid #bbbdbf;
    border-bottom: 1px solid #bbbdbf;
    border-radius: @base-border-radius-small;
    padding: rem-calc(24);

    &-text {
      flex-grow: 1;
      margin-right: rem-calc(24);
    }

    &-title {
      color: #00a2bf;
      text-decoration: underline;
      outline: none;
      cursor: pointer;
      margin-bottom: 0;
    }
  }

  &__button {
    border: none;
    background-color: #f2f2f2;
    outline: none;

    &:active,
    &:focus {
      box-shadow: none;
    }

    &-icon {
      font-size: rem-calc(20);
      vertical-align: middle;
      color: #00a2bf;
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-container {
      display: flex;
      align-items: center;
      margin-left: rem-calc(3);
    }
  }

  &__body {
    display: none;
  }

  &__content {
    padding: rem-calc(24);
    border-color: #bbbdbf;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 @base-border-radius-small @base-border-radius-small;

    > :last-child {
      margin-bottom: 0;

      .oui-datagrid {
        margin-bottom: 0;
      }
    }
  }

  &_open {
    .@{self}__header {
      border-radius: @base-border-radius-small @base-border-radius-small 0 0;
    }

    .@{self}__body {
      display: block;
    }

    .@{self}__button {
      &-icon {
        transform: rotate(-180deg);
      }
    }
  }
}
