dedicated-cloud-datacenter-backup {
  .datacenter-backup {
    section {
      border-top: 1px solid #bbbdbf;
      margin: 25px 0;
    }

    .datacenter-backup-capabilities {
      .oui-checkbox__label {
        font-weight: normal;
      }
    }
  }
}

dedicated-cloud-datacenter-backup .oui-icon.datacenter-backup-right-arrow,
dedicated-cloud-datacenter-backup-upgrade .oui-icon.datacenter-backup-right-arrow {
  color: inherit;
  position: absolute;

  &::before {
    font-size: 1rem;
    padding-top: 0.4rem;
  }
}
