.homepage {
  position: absolute;
  inset: 0;
}

.homepage__content {
  display: flex;
  flex-flow: column;
  row-gap: 2rem;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 90px #fff, 0 0 100px #fff;
  border-radius: 0 0 20em 0;
  padding: 4rem;
  max-width: 45rem;
  background-color: #fff;
}

.homepage__content__links {
  display: flex;
  flex-flow: column;
  row-gap: 2rem;
  font-size: 1.4rem;
}
