// Vendors
@import '@ovh-ux/ui-kit/dist/less/_tokens';
@import (less) '@ovh-ux/ui-kit/dist/css/oui.css';
@import (less) 'ovh-ui-kit-bs/dist/css/oui-bs3.css';
@import 'ovh-manager-webfont/dist/less/ovh-font';
@import 'less/utils/variables';
@import 'less/utils/function';
@import 'less/utils/elements';
@import 'less/common/animation';
@import 'less/common/autocomplete';
@import 'less/common/button';
@import 'less/common/datePicker';
@import 'less/common/global';
@import 'less/common/graphicalTools';
@import 'less/common/icon';
@import 'less/common/incident';
@import 'less/common/linkedPopover';
@import 'less/common/microsoft';
@import 'less/common/navbar';
@import 'less/common/progress';
@import 'less/common/selectList';
@import 'less/common/switch';
@import 'less/common/textInput';
@import 'less/common/tooltip';
@import 'less/common/wizard';
@import 'less/module/emails/emails';
@import 'less/module/modules/modules';
@import (less) 'angular-moment-picker/dist/angular-moment-picker.min.css';
@import (less) 'font-awesome/css/font-awesome.min.css';
@import (less) 'animate.css/animate.min.css';
@import (less) 'angular-xeditable/dist/css/xeditable.min.css';

.ovh-manager-web-app {
  #nprogress {
    .peg {
      box-shadow: none;
    }
  }

  .oui-header,
  .page-header {
    margin-top: rem-calc(16);
  }

  .oui-header,
  .oui-header + .oui-header-tabs,
  .page-header,
  .nav.nav-tabs {
    margin-left: rem-calc(32);
    margin-right: rem-calc(32);
  }
}
