.log-live-tail {
  background-color: #122844;
  color: white;
  position: relative;
  flex: 0 0 70%;
  max-height: 600px;

  &.fullScreen {
    flex: 1 1 100%;
  }

  .logs {
    font-family: monospace;
    padding: 10px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    font-size: 0.8rem;
    scroll-behavior: smooth;

    i.cursor {
      content: '';
      display: inline-block;
      background-color: white;
      vertical-align: top;
      width: 8px;
      height: 17px;
      animation: tail-logs-blink 1s step-end infinite;
    }

    span.highlight {
      background-color: yellow;
      color: #122844;
    }
  }

  .bottomBtn {
    position: absolute;
    right: 20px;
    z-index: 10;
    bottom: 10px;
  }

  .log {
    overflow-wrap: anywhere;
  }

  .log-timestamp {
    color: DodgerBlue;
  }

  .log-severity {
    text-transform: uppercase;
    text-align: right;
  }

  .log-timestamp::after,
  .log-severity::after {
    content: '|';
    display: inline-block;
    padding-left: 1ch;
    color: white;
    opacity: 0.3;
  }

  /*
  https://en.wikipedia.org/wiki/Syslog#Severity_level
  */

  // level 0 - emerg
  .log-severity[data-level='0'] {
    color: Magenta;
  }
  // level 1 - alert
  .log-severity[data-level='1'] {
    color: Violet;
  }
  // level 2 - crit
  .log-severity[data-level='2'] {
    color: red;
  }
  // level 3 - err
  .log-severity[data-level='3'] {
    color: Crimson;
  }
  // level 4 - warning
  .log-severity[data-level='4'] {
    color: Gold;
  }
  // level 5 - notice
  .log-severity[data-level='5'] {
    color: RosyBrown;
  }
  // level 6 - info
  .log-severity[data-level='6'] {
    color: LightSkyBlue;
  }
  // level 7 - debug
  .log-severity[data-level='7'] {
    color: Cyan;
  }
}

.log-tile {
  flex: 1;
  max-height: 70vh;
}

@keyframes tail-logs-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
