.pci-project-new-config {
  .oui-collapsible__header {
    border: 0;
    background-color: transparent;
    padding: 0;
    height: 2rem;
  }
  .oui-collapsible__header:focus {
    outline-width: 0;
  }
  .oui-collapsible__body {
    border-width: 0 !important;
    background-color: transparent !important;
  }
  .oui-collapsible__toggle-icon {
    left: 6rem !important;
  }
}
