.information-tile__definition {
  display: flex;
  color: #999;
  font-size: 0.875rem;
  font-weight: 400;
  border-top: 1px solid #eaeaea;
  padding: 0.813rem 0;
}

.notebook-title__header h2 {
  margin: 0;
  padding-top: 0.313rem;
  line-height: normal;
  color: #999;
  font-size: 1rem;
  font-weight: 400;
}

.notebook-details__content {
  margin-top: 2rem;
}
