@import (less) 'ovh-ui-kit-bs/dist/css/oui-bs3.css';
@import 'flag-icon-css/less/flag-icon.less';
@import (less) 'flag-icon-css/css/flag-icon.min.css';

.veeam {
  @max-width: 1000px;
  @tile-gutter: 16px;
  @spacing-top: 32px;
  @spacing-side_s: 32px;
  @spacing-side_l: 48px;

  @tile-margin: @tile-gutter / 2;

  .flag-icon {
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  }

  .flag-icon-uk {
    .flag-icon-gb();
  }

  .flag-icon-eri {
    .flag-icon-gb();
  }

  .flag-icon-sbg {
    .flag-icon-fr();
  }

  .flag-icon-sbg1 {
    .flag-icon-fr();
  }

  .flag-icon-gra {
    .flag-icon-fr();
  }

  .flag-icon-rbx {
    .flag-icon-fr();
  }

  .flag-icon-gra1 {
    .flag-icon-fr();
  }

  .flag-icon-bhs {
    .flag-icon-ca();
  }

  .flag-icon-bhs1 {
    .flag-icon-ca();
  }

  .flag-icon-waw {
    .flag-icon-pl();
  }

  .flag-icon-lim {
    .flag-icon-de();
  }

  .flag-icon-de {
    .flag-icon-de();
  }

  .flag-icon-sgp {
    .flag-icon-sg();
  }

  .flag-icon-syd {
    .flag-icon-au();
  }

  .tab-menu {
    list-style: none;
    padding: 0;

    &__tab {
      position: relative;
      float: left;
      padding: 0;
      transition: all 1000ms ease-in;

      a {
        display: block;
        padding: 8px 24px;
        color: #333;
        text-decoration: none;
      }

      &::after {
        position: absolute;
        content: '';
        display: block;
        height: 3px;
        width: 0;
        left: 50%;
        bottom: 0;
      }

      &_active {
        a {
          color: #113f6d;
          font-weight: 700;
        }

        &::after {
          width: 100%;
          left: 0;
          animation: tab-active-animation 200ms ease-in 1 forwards;
        }
      }
    }
  }

  @keyframes tab-active-animation {
    0% {
      width: 0;
      left: 50%;
    }

    100% {
      width: 100%;
      left: 0;
    }
  }

  .oui-message {
    margin: @spacing-top @spacing-side_l 0 @spacing-side_l;

    @media (max-width: 1280px) {
      margin: @spacing-top @spacing-side_s 0 @spacing-side_s;
    }
  }

  &-header {
    padding: @spacing-top @spacing-side_l;
    background-color: #e9ebe7;

    &__title {
      margin: 0;
      margin-bottom: 16px;
      font-size: rem-calc(36);
      font-weight: 400;
    }
  }

  &__storage {
    padding: @spacing-top @spacing-side_l;

    .oui-datagrid {
      font-size: rem-calc(16);

      .oui-datagrid__cell {
        &_action {
          vertical-align: middle;
          width: 80px;
          text-align: right;
        }
      }
    }

    .back-button {
      display: inline-block;
      padding: rem-calc(10) 0;
    }
  }

  &__row {
    margin: 0;
  }

  @media (max-width: 1280px) {
    &-header {
      padding: @spacing-top @spacing-side_s;
    }

    &__dashboard {
      padding: @spacing-top - @tile-margin @spacing-side_s - @tile-margin;
    }

    &__storage {
      padding: @spacing-top @spacing-side_s;
    }
  }
}
