.contracts-toggle-icon, .contracts-toggle {
    display:block!important;
    text-align: center;
}
.contracts-toggle-icon {
    color:#000!important;
    width: 80%;
    margin-left: 12%
}

.contracts-toggle, .contracts-toggle:hover {
    text-decoration: none!important;
    color:#000;
    text-align: center;
    cursor: default;
}

.contracts-list {
    height : 350px;
    overflow-y : auto;
}

.contracts-breadcrumb-container {
    text-align: center;
}

a.contracts-breadcrumb-navigate,
.contracts-breadcrumb ul li a,
.icon-pdf {
    cursor: pointer
}

.contracts-breadcrumb ul{
    margin: 0 5px;
    display:inline-block;
    width: 60%;
}

.contracts-breadcrumb ul li{
    list-style: none;
    display: inline-block;
}

.contracts-breadcrumb ul li a {
    display: inline-block;
    margin: 5px;
    background-color: #AAA;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.contracts-breadcrumb ul li a.active {
    background-color: #38A7C3;
}

.contracts-breadcrumb ul li a.active:hover {
    background-color: #41D7F3;
}

.contracts-breadcrumb ul li a:not(.active):hover {
    background-color: #000;
}

.accordion-inner .contracts-content {
    overflow-y  : auto;
    overflow-x  : hidden;
    word-wrap   : break-word;
    word-break  : keep-all;
    text-align  : justify;
}

.accordion-footer {
    display: block;
    padding: 8px 15px;
}

.icon-pdf {
    width: 20px;
    height: 21px;
    background-position: transparent url('../images/icn-pdf.png') no-repeat 0 100%;
    vertical-align: middle;
}

.icon-pdf:hover {
    background-position: 0 0;
}
