.kubernetes-proxy-form {
  .container-fluid {
    padding: 0;
    .col-xs-12 {
      margin-bottom: 0.5rem;
      white-space: nowrap;
    }
  }

  .kubernetes-proxy-form-toggler {
    font-size: 1.5rem;
  }

  .oui-field__label {
    .kubernetes-proxy-form-toggler {
      font-size: 1rem;
    }
  }

  .kubernetes-proxy-form-radio-field {
    .oui-field {
      margin-bottom: 1rem !important;
    }
  }

  .kubernetes-proxy-form-ipvs {
    .oui-field {
      margin-bottom: 0 !important;
    }
  }
}
