/* Search */
@cloud-search-font-color: @bayoux;
@cloud-search-font-size: 1.125rem;
@cloud-search-font-weight: @font-regular;
@cloud-search-icon-font-weight: @font-thin;
@cloud-search-border-color: @silver;

#ovh {
  .search(
  @search-font-color: @cloud-search-font-color,
  @search-font-size: @cloud-search-font-size,
  @search-font-weight: @cloud-search-font-weight,
  @search-icon-font-weight: @cloud-search-icon-font-weight,
  @search-font-selection-color: @bondi,
  @search-border-color: @silver,
  @radius: @global-radius,
  @focused: @polar
) {
    &-box {
      display: block;
      position: relative;
    }

    &-icon {
      //position: absolute;
      //left: 12px;
      //bottom: 15px;
      position: absolute;
      left: 0.4375rem;
      bottom: 0.5625rem;
    }

    &-input {
      border: 1px solid @search-border-color;
      color: @search-font-color;
      border-radius: @radius;
      font-size: @search-font-size;
      font-weight: @search-font-weight;
      position: relative;
      padding-left: 1.5rem;

      &::selection {
        background: @search-font-selection-color;
      }

      &:focus {
        border-style: solid;
        border-width: 1px;
        border-color: #0090b1;
        border-radius: 3px;
        background-color: #f5fcfd;
        box-shadow: 0 0 4px 0 #000, inset 0 3px 0 0 #d0eff6;
      }
    }
  }
}

.cloud-search {
  #ovh > .search();
}
