@tailwind utilities;

@import '@ovhcloud/ods-themes/default';

html {
  font-family: var(--ods-font-family-default);
}

.input-at::part(input) {
  text-align: center;
}

ods-button.action-menu-item::part(button) {
  width: 100%;
  justify-content: left;
}

ods-modal::part(dialog) {
  max-height: 100vh;
}
