@tailwind utilities;

@import '@ovhcloud/ods-themes/default';
@import '@ovh-ux/manager-react-components/dist/style.css';

html {
  font-family: var(--ods-font-family-default);
}

.input-at::part(input) {
  text-align: center;
}

ods-text::part(text) {
  width: 100%;
}

ods-button.action-menu-item::part(button) {
  width: 100%;
  justify-content: left;
}

ods-modal::part(dialog) {
  max-height: 100vh;
}

// ods table has 1rem hardcoded line height
// which cuts letter from links and badge inside
// cells
ods-table td {
  line-height: unset !important;
}

// match height for datagrid loading rows
tr:has(ods-skeleton) {
  height: 65px !important;
}

// tag doesn't seems centered if line is bigger
ods-tag.org-tag::part(tag) {
  transform: translateY(-10%);
}

// put min-width otherwise the input is
// changing size when the clear button appear/disappear
ods-input#datagrid-searchbar::part(input) {
  min-width: 240px;
}

// make last cell of ods table row small (actions)
ods-table tbody tr td:last-child,
ods-table thead tr th:last-child {
  width: 1%;
}

.dns-field {
  width: 100%;

  &::part(text) {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  ods-clipboard {
    flex: 1;
    width: 100%;

    &::part(input) {
      width: 100%;
    }
  }
}

table.dns-fields {
  border-collapse: collapse;

  tr {
    // match Clipboard fixed height + focus style
    height: 42px;
    td {
      height: 42px;
    }
  }

  td:has(ods-clipboard) {
    display: flex;
    align-items: center;
    ods-clipboard {
      flex: 1;
      width: 100%;
    }
  }
}

.diag-dns-icon {
  color: var(--ods-color-critical-400);
}
