/* Private Network Dialog */
@private-network-dialog-min-width: 23.125rem;

/* Private Network Dialog - Header */
@private-network-dialog-header-background-color: #f8f8f8;
@private-network-dialog-header-min-height: 4rem;

/* Private Network Dialog - Header - Title */
@private-network-dialog-header-title-font-family: 'OpenSans-Light', sans-serif;
@private-network-dialog-header-title-font-size: 1.5625rem;

/* Private Network Dialog - Description */
@private-network-dialog-description-min-height: 3.5rem;

/* Private Network Dialog - Description - Header */
@private-network-dialog-description-header-font-family: 'HelveticaNeue',
  sans-serif;
@private-network-dialog-description-header-font-size: 1.3125rem;

/* Private Network Dialog - Description - Edit Button */
@private-network-dialog-description-edit-button-font-color: #adadad;
@private-network-dialog-description-edit-button-font-color_hover: darken(
  @private-network-dialog-description-edit-button-font-color,
  10%
);
@private-network-dialog-description-edit-button-background-color: white;
@private-network-dialog-description-edit-button-font-size: 0.9375rem;

/* Private Network Dialog - Description - Error Item */
@private-network-dialog-description-error-item-font-color: #a94442;
@private-network-dialog-description-error-item-font-size: 0.75rem;

/* Private Network Dialog - Vlan - Header */
@private-network-dialog-vlan-header-font-size: 1rem;

/* Private Network Dialog - Vlan - Helper */
@private-network-dialog-vlan-helper-font-color: #adadad;
@private-network-dialog-vlan-helper-font-size: 0.75rem;

/* Private Network Dialog - Form Group */
@private-network-dialog-form-group-background-color: white;

/* Private Network Dialog - Legend */
@private-network-dialog-legend-font-size: 0.75rem;
@private-network-dialog-legend-font-weight: bold;

/* Private Network Dialog - Back Button */
@private-network-dialog-back-button-background-color: transparent;
@private-network-dialog-back-button-min-height: 4rem;
@private-network-dialog-back-button-font-size: 1.3125rem;
@private-network-dialog-back-button-font-weight: 300;

/* Private Network Dialog - Back Button - Icon */
@private-network-dialog-back-button-icon-font-width: 1.875rem;

/* Private Network Dialog - Notice - Icon */
@private-network-dialog-notice-icon-font-width: @private-network-dialog-back-button-icon-font-width;
@private-network-dialog-notice-background-color: #d8edf8;
@private-network-dialog-notice-border-color: #bbe8f2;
@private-network-dialog-notice-font-color: #31708f;

.private-network-dialog {
  .responsive-switch {
    &,
    &-switch,
    &-page-content {
      min-width: @private-network-dialog-min-width !important;
      overflow-x: hidden !important;
    }
  }

  &,
  &__form {
    height: 100%;
  }

  &-popover {
    outline: 0;

    .popover-content {
      padding: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: @private-network-dialog-header-min-height;
    background-color: @private-network-dialog-header-background-color;
    user-select: none;
  }

  &__header-title {
    font-family: @private-network-dialog-header-title-font-family;
    font-size: @private-network-dialog-header-title-font-size;
    margin: 0;
  }

  &__menu {
    list-style: none;
  }

  &__page_right {
    overflow-y: auto;
    max-height: 24.375rem;
  }

  &__notice {
    position: relative;
    background-color: @private-network-dialog-notice-background-color;
    border-style: solid;
    border-width: 1px;
    border-color: @private-network-dialog-notice-border-color;
    color: @private-network-dialog-notice-font-color;
    padding: 0.625rem;
    padding-left: 1.875rem;
    margin: 0.625rem;
    margin-bottom: 0;

    &::before {
      &:extend(.fa);

      position: absolute;
      font-family: 'FontAwesome', sans-serif;
      content: '\f05a'; /* .fa-info-circle */
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      height: 100%;
      width: @private-network-dialog-notice-icon-font-width;
    }
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: @private-network-dialog-description-min-height;
  }

  &__description-header {
    font-family: @private-network-dialog-description-header-font-family;
    font-size: @private-network-dialog-description-header-font-size;
    margin: 0;
  }

  &__description-edit-button {
    color: @private-network-dialog-description-edit-button-font-color;
    background-color: @private-network-dialog-description-edit-button-background-color;
    border: 0;
    font-size: @private-network-dialog-description-edit-button-font-size;

    &:hover {
      color: @private-network-dialog-description-edit-button-font-color_hover;
    }

    &:focus,
    &:active {
      outline: 0;
    }

    &-icon {
      vertical-align: baseline;
    }
  }

  &__vlan {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__vlan-inner {
    margin: 1.25rem 0;
    font-size: @private-network-dialog-vlan-header-font-size;

    i.ovh-font {
      padding-bottom: 4px;
    }
  }

  &__vlan-helper {
    color: @private-network-dialog-vlan-helper-font-color;
    font-size: @private-network-dialog-vlan-helper-font-size;
  }

  &__label {
    margin-right: 0.3125rem;

    &_checkbox {
      font-weight: normal;
    }

    &_range {
      display: inline;
    }
  }

  &__checkbox {
    margin-right: 0.3125rem;
    top: 2px;
  }

  &__input {
    &_range,
    &_address,
    &_mask {
      display: inline;
    }

    &_range {
      width: 7.5rem;
    }

    &_address {
      width: 7.5rem !important;
    }

    &_mask {
      width: 3.75rem !important;
    }

    &_vlan-id {
      width: 5rem !important;
      margin-right: 0.625rem;
    }
  }

  &__separator {
    padding: 0 0.625rem;
    display: inline;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem !important;
    height: 3.4375rem;

    &-button_save {
      margin-left: auto;
    }
  }

  &__description-controls {
    margin: 0.75rem 0 0.6875rem 0;
  }

  &__complete-edit-button {
    width: 1.875rem;
    height: 1.875rem;
    padding: 0;
  }

  &__error-list {
    margin: 0.625rem 0;
  }

  &__error-item {
    font-size: @private-network-dialog-description-error-item-font-size;
    border: 0 !important;
    color: @private-network-dialog-description-error-item-font-color;
  }

  &__form-group {
    background-color: @private-network-dialog-form-group-background-color;
    padding: 0.625rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__legend {
    border: 0;
    margin-bottom: 0.3125rem;
    font-size: @private-network-dialog-legend-font-size;
    font-weight: @private-network-dialog-legend-font-weight;
  }

  &__radio {
    position: static !important;
    margin-right: 0.3125rem !important;
  }

  &__back-button {
    position: relative;
    line-height: 1;
    width: 100%;
    background-color: @private-network-dialog-back-button-background-color;
    min-height: @private-network-dialog-back-button-min-height;
    border: 0;
    outline: 0;
    font-size: @private-network-dialog-back-button-font-size;
    font-weight: @private-network-dialog-back-button-font-weight;
    margin-bottom: 0.625rem;

    &::before {
      &:extend(.fa);

      position: absolute;
      font-family: 'FontAwesome', sans-serif;
      content: '\f104'; /* .fa-angle-left */
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      height: 100%;
      width: @private-network-dialog-back-button-icon-font-width;
    }
  }
}
