/* Private Network Dialog - Menu - Item */
@private-network-dialog-menu-item-background-color: white;
@private-network-dialog-menu-item-background-color_active: #dfeeeb;
@private-network-dialog-menu-item-button-height: 4.6875rem;
@private-network-dialog-menu-item-font-family: 'HelveticaNeue', sans-serif;

/* Private Network Dialog -  Menu - Item - Button */
@private-network-dialog-menu-item-button-font-color: #333;
@private-network-dialog-menu-item-button-font-color_after: #999;
@private-network-dialog-menu-item-button-font-color_after-hover: #333;
@private-network-dialog-menu-item-button-background-color: @private-network-dialog-menu-item-background-color;
@private-network-dialog-menu-item-button-background-color_after: #f7f7f7;
@private-network-dialog-menu-item-button-background-color_after-hover: #dfeeeb;
@private-network-dialog-menu-item-button-background-color_active: @private-network-dialog-menu-item-button-background-color_after-hover;

/* Private Network Dialog -  Menu - Item - Icon */
@private-network-dialog-menu-item-icon-font-size: 1.3125rem;

/* Private Network Dialog -  Menu - Item - Value */
@private-network-dialog-menu-item-value-font-size: 1.125rem;

/* Private Network Dialog -  Menu - Item - Description */
@private-network-dialog-menu-item-description-font-size: 0.75rem;
@private-network-dialog-menu-item-description-font-color: #333;

.private-network-dialog__menu-item {
  font-family: @private-network-dialog-menu-item-font-family;
  background-color: @private-network-dialog-menu-item-background-color;
  position: relative;

  &-button {
    width: 100%;
    padding: 0 1.875rem 0 0;
    height: @private-network-dialog-menu-item-button-height;
    background-color: @private-network-dialog-menu-item-button-background-color;
    border: 0;
    color: @private-network-dialog-menu-item-button-font-color;

    &:focus,
    &:active {
      outline: 0;
    }
  }

  &-button::after {
    &:extend(.glyphicon);

    content: '\e080'; /* .glyphicon-chevron-right */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1.875rem;
    background-color: @private-network-dialog-menu-item-button-background-color_after;
    color: @private-network-dialog-menu-item-button-font-color_after;
  }

  &-button:hover::after {
    background-color: @private-network-dialog-menu-item-button-background-color_after-hover;
    color: @private-network-dialog-menu-item-button-font-color_after-hover;
  }

  &-button_active {
    background-color: @private-network-dialog-menu-item-background-color_active;

    &::after {
      background-color: @private-network-dialog-menu-item-button-background-color_after-hover;
      color: @private-network-dialog-menu-item-button-font-color_after-hover;
    }
  }

  &-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-icon {
    font-size: @private-network-dialog-menu-item-icon-font-size;
    margin-right: 1rem;
  }

  &-value {
    margin: 0;
    font-size: @private-network-dialog-menu-item-value-font-size;
  }

  &-description {
    display: block;
    margin-top: 0.1875rem;
    font-size: @private-network-dialog-menu-item-description-font-size;
    color: @private-network-dialog-menu-item-description-font-color;
  }
}
