@import 'bootstrap4/scss/_functions.scss';
@import 'bootstrap4/scss/_variables.scss';
@import 'bootstrap4/scss/_mixins.scss';
@import 'bootstrap4/scss/_utilities.scss';
@import 'bootstrap4/scss/_grid.scss';

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}
