#module-ip .input-prepend.info > .add-on {
  border-color: #3a87ad;
  background-color: #d9edf7;
}

#module-ip .input-prepend.info > select,
#module-ip .input-prepend.info > input {
  border-color: #3a87ad;
  color: #3a87ad;
}

#module-ip .progress-striped .bar {
  background-color: #38a7c3;
}

/* table */

#module-ip-table tbody + tbody {
  border-top: 1px solid #ddd;
}

#module-ip-table tbody tr td {
  border-color: transparent;
  border-bottom: 1px solid #ddd !important;

  &:not(:first-child) {
    border-color: transparent;
  }

  &:first-child {
    border-left: 1px solid #ddd;
    padding-right: 0;
  }

  &:last-child {
    border-right: 1px solid #ddd;
  }
}

#module-ip-table tbody tr.even > td,
#module-ip-table tbody tr:nth-child(even) > td {
  background-color: transparent;
}

#module-ip-table tbody tr:hover > td,
#module-ip-table tbody tr:hover > th {
  background-color: #f5f5f5;
}

#module-ip-table tbody tr.error > td {
  background-color: #f2dede;
}

/* loader */

#module-ip-table i.loader-inline {
  height: 20px;
  margin-top: -3px;
}

/* icons */

i.icon-mod-ip {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

i.icon-mod-ip-warning {
  background: transparent url('../../../../images/icn/ico-ip-warning.png')
    no-repeat 0 0;
}

i.icon-mod-ip-spam {
  background: transparent url('../../../../images/icn/ico-ip-spam.png')
    no-repeat 0 0;
}

i.icon-mod-ip-attack {
  background: transparent url('../../../../images/icn/ico-ip-attack.png')
    no-repeat 0 0;
}

i.icon-mod-ip-rapport {
  background: transparent url('../../../../images/icn/ico-ip-rapport.png')
    no-repeat 0 0;
}

i.icon-mod-ip-edit {
  background: transparent url('../../../../images/icn/ico-ip-edit.png')
    no-repeat 0 0;
}

.dropdown {
  > ul {
    > li {
      > a {
        .disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}

.module-ip-table-responsive {
  overflow-x: inherit;
}

@media only screen and (max-width: 768px) {
  .module-ip-table-responsive {
    overflow-y: auto;
  }
}
