@import './_variables';

.preview-list {
  display: flex;
  flex-wrap: wrap;

  &_no-margin {
    margin: 0;
  }

  &__term {
    width: 50%;
    padding: 0.625rem;
    text-align: right;
    background-color: @cui-preview-list-term-background-color;
    color: @cui-preview-list-term-text-color;
    font-size: @cui-preview-list-term-font-size;
    border-top: 1px @cui-preview-list-border-color solid;
  }

  &__list-heading {
    color: @cui-preview-list-term-text-color;
    font-size: @cui-preview-list-term-font-size;
    font-weight: bold;
  }

  &__definition {
    width: 50%;
    padding: 0.625rem;
    overflow: hidden;
    background-color: @cui-preview-list-definition-background-color;
    color: @cui-preview-list-definition-text-color;
    font-size: @cui-preview-list-definition-font-size;
    text-overflow: ellipsis;
    border-top: 1px @cui-preview-list-border-color solid;

    &_list {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }
}
