.container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 101;
}

.chatbotButton {
  background: linear-gradient(135deg, #fdef61, #77fbfb);
  border: 3px solid white;
  border-right: none;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;

  svg {
    color: var(--ods-color-primary-700);
  }

  &:hover {
    background: linear-gradient(135deg, #fde047, #67e8f9);
  }
}
