.sparkconfig__arguments {
  padding: 0.5rem 0;
  border: 0;
  width: 30%;
}

.oui-field__warning-show {
  color: #8b6111;
  font-size: 0.875rem;
  text-align: justify;
}

.oui-field__warning-show .oui-icon-warning-circle {
  color: #faefa0;
  font-size: 0.875rem;
  vertical-align: sub;
}
