@import '../../dashboard/vrack-mapper.less';

.vrack {
  &__assigned-ipv6 {
    &__sub-item {
      display: flex;
      justify-content: end;
      flex-flow: wrap;
    }

    &__subnet,
    &__subrang {
      list-style: none;
      padding: 0.625rem 0.9375rem;
      border-width: 1px;
      border-style: solid;
      border-color: @vrack-service-border-color_selected;
      background-color: @vrack-service-background-color_selected;
      margin: 0.3125rem 0 0.3125rem 0;
      font-size: 0.9375rem;
      color: @vrack-service-font-color_selected;
      white-space: nowrap;
      user-select: none;
      cursor: default;
      box-shadow: @vrack-service-box-shadow_selected;
      overflow: hidden;

      &__title {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
