.msc-advices-wrapper {
  display: block;
  text-decoration: none;
  padding: var(--ods-size-01);

  .msc-advices-tile {
    background: var(--ods-color-primary-050);

    .msc-advices-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: var(--ods-size-01);
      line-height: 2;

      .link-icon {
        margin-left: var(--ods-size-03);
      }
    }

    .block {
      position: relative;
    }
  }
}
