.pci-project-new-payment-default {
  .default-method {
    .text-success {
      color: #417505 !important;

      &::before {
        content: '[';
      }

      &::after {
        content: ']';
      }
    }
  }
}
