//  Table of Mixins:
//
//   1. Animations
//

// 1. Animations
// --------------

#ovh {
  .animate-fast-out-slow-in(@duration: @animation-default-timing) {
    transition-duration: @duration;
    transition-timing-function: @animation-fast-out-slow-in;
  }

  .animate(@duration: @animation-default-timing) {
    transition-duration: @duration;
    transition-timing-function: @animation-default;
  }

  .candystripes(@color: rgba(255, 255, 255, 0.2)) {
    background-image: repeating-linear-gradient(
      -45deg,
      @color,
      @color 40%,
      transparent 25%,
      transparent 50%,
      @color 50%
    );
    background-size: 8px 8px;
    background-position: -1.25rem 0;
  }
}
