ovh-manager-kubernetes-detail-component {
  @import 'bootstrap4/scss/_functions';
  @import 'bootstrap4/scss/_variables';
  @import 'bootstrap4/scss/_mixins';
  @import 'bootstrap4/scss/_utilities';
  @import 'bootstrap4/scss/_grid';
}

.text-break {
  word-break: break-word;
}
