.hds-ready.alert-info {
  i {
    margin-right: 1em;
  }
}

.discount.alert-info {
  i {
    margin-right: 1em;
  }
}

.discount-label {
  font-weight: normal;
  font-size: 9px;
  border: 1px solid #cecece;
  line-height: 9px;
  color: #999;
  background-color: white;

  span {
    letter-spacing: 0.15em;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  i {
    padding-right: 0.5em;
  }

  &.discount-label-large {
    i {
      float: left;
      font-size: 15px;
    }

    .discount-label-inside {
      text-align: left;
    }

    margin-top: 5px;
    display: inline-block;
    white-space: normal;
    cursor: default;
    width: 72px;
  }
}
