.pcc-title {
  border-bottom: 1px solid @dedicated;
  font-size: 14px;
  line-height: 25px;
}

.pcc-title-2 {
  margin-left: 10px;

  .tooltip-inner {
    text-align: left;
    max-width: 300px;

    ul {
      margin-bottom: 0;
    }
  }
}

.pcc-options {
  &.span6:nth-child(2n + 1) {
    margin-left: 0;
  }

  dt {
    width: 220px;
    text-overflow: inherit;
    white-space: inherit;
  }

  dd {
    margin-left: 240px;
  }
}

.pcc-discover-link {
  display: block;
  border-top: 1px solid gainsboro;
  text-align: right;
  line-height: 30px;
}
