.oui-navbar {
  // Logo
  &__brand {
    .navbar-logo {
      height: 1.875rem;
    }
  }

  // Universes
  &-list_main {
    .navbar-universe(web, @oui-color-jungle);
    .navbar-universe(cloud, @oui-color-supernova);
    .navbar-universe(telecom, @oui-color-dodger);
    .navbar-universe(sunrise, @oui-color-california);
    .navbar-universe(gamma, @oui-color-california);

    .navbar-universe(@universe-selector, @universe-color) {
      .@{universe-selector} > .oui-navbar-link {
        &:hover,
        &:focus,
        &_active {
          color: @universe-color;
        }
      }
    }
  }

  // Languages menu
  &-menu {
    &_language &__item_active {
      &,
      &:hover,
      &:active {
        background-color: @oui-navbar-menu-background-color_hover;
      }

      .oui-navbar-link::after {
        content: @oui-icon-index-check_line;
        display: inline-block;
        margin-left: 1.25rem;
        margin-top: -0.1875rem;
        vertical-align: middle;
        font-family: 'Oui Icons', sans-serif;
        font-size: @oui-navbar-external-size;
        color: inherit;
      }
    }
  }

  // Icons
  .navbar-icon(icon-assistance);
  .navbar-icon(icon-notifications);
  .navbar-icon(icon-user);

  .navbar-icon(@icon-selector) {
    .navbar-@{icon-selector} {
      background:
        url('../../../assets/images/navbar/@{icon-selector}.svg')
        no-repeat center center;
      background-size: contain;

      &.oui-icon_shake {
        background:
          url('../../../assets/images/navbar/@{icon-selector}_on.svg')
          no-repeat center center;
      }
    }

    .oui-navbar-link {
      &:hover,
      &:focus,
      &_active,
      &[aria-expanded='true'] {
        .navbar-@{icon-selector} {
          background:
            url('../../../assets/images/navbar/@{icon-selector}_on.svg')
            no-repeat center center;
        }
      }
    }
  }

  // Logout
  .logout > .oui-navbar-link {
    &,
    &:hover,
    &:focus,
    &_active {
      font-weight: 600;
      color: @oui-color-error-dark;
    }
  }
}

.skipnav a {
  width: 1px;
  height: 1px;
  position: fixed;
  left: -100%;
  top: auto;
  overflow: hidden;
  z-index: -1;

  &:focus,
  &:active {
    width: auto;
    height: auto;
    left: 0.625rem;
    top: 0.625rem;
    overflow: auto;
    outline-width: 1px !important;
    outline-style: dotted !important;
    outline-color: initial !important;
    outline-offset: -2px !important;
    background-color: #fff;
    z-index: 1100;
  }
}

.skiptarget {
  width: 1px;
  height: 1px;
  overflow: hidden;
  float: right;
  position: absolute;
}
