$default-background-color: #fff;
$hover-background-color: rgb(233, 233, 233);
$default-border-color: #d2d1d1;
$selected-background-color: rgba(129, 211, 248, 0.1);
$selected-border-color: rgba(2, 167, 240, 1);

.card {
  border-radius: 3px;
  border: 1px solid $default-border-color;
  box-sizing: border-box;
  height: 100%;
  cursor: pointer;
  background-color: $default-background-color;
}

.card,
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card,
.card-body,
.card .card-footer {
  text-align: center;
  width: 100%;
}

.card:hover {
  background-color: $hover-background-color;
}

.card .card-body {
  flex-grow: 1;
  outline: 0;
  padding: 10px 40px;
}

.card .card-body .card-heading {
  font-weight: bold;
}

.card .card-footer {
  border-top: 1px solid $default-border-color;
  outline: 0;
  padding: 10px 5px;
}

.card .card-footer:empty {
  display: none;
}

.card-icon img,
.card-icon span {
  margin-bottom: 10px;
}

.card-icon {
  span {
    font-size: 30px;
  }

  img {
    height: 47px;
    width: 47px;
  }
}

.card.selected {
  border-color: $selected-border-color;
}

.card.selected .card-body,
.card.selected .card-footer,
.card.selected:hover {
  background-color: $selected-background-color;
}

.card.selected .card-footer {
  border-top: 1px solid $selected-border-color;
}

.card.selected .card-footer select {
  background-color: inherit;
}

.card.disabled {
  opacity: 0.6;
  cursor: default;
}

.card.disabled:hover {
  background-color: $default-background-color;
}
