@background-color: rgb(254, 234, 134);
@text-color: rgb(139, 97, 17);
@link-color: rgb(0, 80, 215);

.pci-project-banner {
  color: @text-color !important;
  background-color: @background-color;

  .pci-project-link_light {
    color: @link-color !important;
  }
}
