.pci-project {
  &.pci-project-creating {
    background-color: #f1f9fd;

    .pci-project-content {
      padding-bottom: 0 !important;
      padding-top: 0 !important;

      .pci-project-view {
        margin-top: 0!important;
        height: 100%;
      }
    }
  }
}
