ovh-manager-navbar {
  @import '~@ovh-ux/ui-kit/dist/less/_tokens';
  @import '~@ovh-ux/manager-account-sidebar/src/variables.less';

  .oui-navbar-menu_toggle {
    button.oui-navbar-link::after {
      content: @oui-icon-index-chevron-right;
      font-family: @base-font-family-icon;
      font-size: rem-calc(16);
      color: @p-800;
      padding: 0;
      position: absolute;
      top: 50%;
      right: rem-calc(16);
      transform: translateY(-50%);
    }
  }

  .oui-navbar-menu {
    &_panel {
      background-color: @p-075;
    }

    .oui-navbar-notification {
      flex-direction: column;
      padding: @base-spacing-medium;

      &__header {
        max-width: 8rem;
      }
    }

    .manager-navbar-notification {
      &_header {
        font-size: @mars-font-size;
        font-weight: bold;
        margin-bottom: @base-spacing-medium;
      }

      &_content {
        padding: @base-spacing-medium;
        margin-bottom: @base-spacing-medium;
        background-color: @p-000;
        border-radius: @base-border-radius-large;
        text-decoration: none;
        color: @p-800-text;
        box-shadow: @base-box-shadow-primary;

        &__highlight:hover {
          text-decoration: none;
          background-color: @p-100;
        }
      }
    }

    .oui-navbar-menu__item {
      border-bottom: none;

      &_active {
        background-color: @p-100;
      }
    }
  }

  @media screen and (min-width: @device-breakpoint-tablet) {
    ovh-manager-navbar-user-menu {
      margin-right: @base-spacing-large;
    }

    .manager-navbar-menu.oui-navbar-menu_notifications > .oui-navbar-list {
      max-height: none;
    }

    .manager-navbar-menu {
      .oui-navbar-notification__action {
        visibility: hidden;
      }

      .manager-navbar-notification_content:hover .oui-navbar-notification__action {
        visibility: visible;
      }
    }
  }

  @media screen and (max-width: (@device-breakpoint-medium - 1px)) {
    .oui-navbar-link_icon {
      padding: rem-calc(12) 0;
    }
  }

  .oui-navbar-link_icon {
    &,
    &:focus,
    &:hover,
    [aria-expanded='true'] {
      .oui-icon {
        margin-right: 0.25rem !important;
      }

      .navbar-small-icon {
        @small-icon-size: 1.25rem;

        font-size: @small-icon-size;
        width: @small-icon-size;
        height: @small-icon-size;
      }
    }

    .oui-icon__badge {
      background-color: @ae-500;
    }
  }

  .oui-navbar-backdrop {
    display: none;
  }

  ovh-manager-navbar-notifications-menu,
  ovh-manager-navbar-user-menu {
    button {
      cursor: pointer;
    }
  }

  .ovh-manager-navbar-user-menu_expanded {
    @media screen and (min-width: (@device-breakpoint-medium - 1px)) {
      button {
        cursor: default;
      }
    }
  }

  .ovh-sidebar-wrapper {
    position: fixed;
    top: rem-calc(44);
    right: 0;
    bottom: 0;
    z-index: 99;
    overflow-x: hidden;
    transition: padding 0.1s ease-out, opacity 0.2s ease-out;
    box-shadow: @base-box-shadow-secondary;
    opacity: 0;
    padding-left: @ovh-sidebar-width;
    pointer-events: none;

    .manager-hub-user-panel {
      width: 0;
    }

    .sidebar-show() {
      width: @ovh-sidebar-width;
      padding-left: 0;
      opacity: 1;
      pointer-events: auto;

      .manager-hub-user-panel {
        width: @ovh-sidebar-width;
      }
    }

    &.sidebar-expand {
      @media screen and (min-width: (@device-breakpoint-medium - 1px)) {
        .sidebar-show();
      }
    }

    &[aria-expanded='true'] {
      .sidebar-show();
    }
  }
}
