@import 'bootstrap/less/variables.less';

.add-button-item {
  margin-bottom: 25px;

  .add-button {
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 5px;
    position: relative;
  }

  .add-button-container {
    cursor: pointer;
    display: block;
    width: 170px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 85px solid rgba(0, 0, 0, 0.1);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;

    .glyphicon-ok {
      float: right;
      margin: -100px;
      font-size: 40px;
      color: #60b22f;
    }
  }

  &:hover,
  &.active {
    .add-button {
      background-color: @cloud_primary_color;
      border: 1px solid @cloud_primary_color;

      &[disabled],
      &.disabled {
        background-color: #555;
        border: 1px solid #555;
        cursor: not-allowed;
      }
    }
  }

  &.active {
    .add-button-container {
      border: 1px solid @cloud_primary_color;
    }
  }

  &:hover {
    .add-button-container {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);

      &:not(.active) {
        border: 85px solid rgba(0, 0, 0, 0.1);
      }
    }

    .add-button-container.add-button-disabled {
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
      transform: none;
      cursor: default;
    }
  }

  .green {
    &.add-button,
    &.add-button:hover {
      color: white;
      background-color: #60b22f;
      border: 1px solid #60b22f;
    }
  }
}

.option-list {
  margin: 1em;
  display: flex;
  align-content: justify;

  .storage-type,
  .storage-region {
    border: 1px solid #757575;
    margin: 0 1em 0 1em;
    padding-top: 1em;
    width: 30%;
    transition: background-color 0.3s ease-in;

    &.selected {
      background-color: #52d2f0;
    }

    .flat-radio {
      &-on {
        background-color: #009fe3;
      }

      &-off,
      &-on {
        border-color: #009fe3;
      }
    }
  }

  .storage-region-flag {
    vertical-align: top;
    font-size: 1.8em;
    display: inline-block;
  }

  .storage-type-logo {
    vertical-align: top;
    width: 2em;
    display: inline-block;

    &.pca {
      stroke-width: 1.4;
    }

    // .a, .cls-1 {
    //     stroke: red;
    // }
  }

  .storage-type-summary,
  .storage-region-summary {
    display: inline;

    .storage-type-title,
    .storage-region-title {
      font-weight: bold;
      display: inline;
    }

    .storage-type-description,
    .storage-region-description {
      margin-left: 4.6em;
    }
  }
}

#add_storage_panel {
  margin: 0 2% 35px 0;

  h3 {
    font-size: 2em;
    border-bottom: 1px solid black;
    transition: color 0.5s ease-in;

    &.step-disabled {
      color: #bbb;
    }
  }

  // make it behave like a ul-li so we get numbers
  counter-reset: section;

  .counter-step::before {
    counter-increment: section;
    content: counter(section) '. ';
  }

  .category-title {
    margin: 1em;
    font-size: 1.5em;
    color: #757575;
    border-bottom: 1px solid #757575;
    width: 93%;
  }

  .flat-radio {
    margin: 0.5em;
  }

  // .flat-radio {
  //   display: inline-block;
  //   vertical-align: top;
  //   margin-top: 3px;
  //   border: 2px solid rgba(255, 147, 0, 0.7);
  //   border-radius: 10px;

  //   .flat-radio-off {
  //     border: rgba(255, 147, 0, 0.7);
  //   }

  //   .flat-radio-on {

  //     border: rgba(255, 147, 0, 0.7);
  //     background-color: rgba(255, 147, 0, 0.7);
  //   }
  // }
}

.the_world_is_small_compared_to_the_universe {
  margin: auto;
  position: relative;

  .one_launch_base.selected {
    background-position: 0 0;
    opacity: 1;
  }

  .one_launch_base {
    position: absolute;
    opacity: 0.75;
    cursor: pointer;
    height: 54px;
  }

  .one_launch_base:hover {
    opacity: 1;
    background-position: 0 0;
  }

  .circle {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    background: rgba(255, 147, 0, 0.7);
    border-radius: 100%;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    width: 200px;
    height: 200px;
    opacity: 0;
  }

  .circle:hover,
  .one_launch_base:hover > .circle {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    vertical-align: middle;
  }
}

@media (max-width: 700px) {
  .the_world_is_small_compared_to_the_universe {
    height: 150px;
    width: 300px;

    img {
      width: 300px;
    }

    #launch_base_GRA1 {
      top: 40px;
      left: 38.5%;
      background-image: url('../../../../../assets/images/add/instances/GRA_small.png');
    }

    #launch_base_SBG1 {
      top: 7px;
      left: 38.5%;
      background-image: url('../../../../../assets/images/add/instances/SBG_small.png');
    }

    #launch_base_BHS1 {
      top: 5px;
      left: 15%;
      background-image: url('../../../../../assets/images/add/instances/BHS_small.png');
    }

    .one_launch_base {
      width: 45px;
      height: 26px;
      background-position: 0 26px;
    }

    .circle {
      width: 50px;
      height: 50px;
      top: 0;
      left: -3px;
    }
  }
}

@media (min-width: 700px) {
  .the_world_is_small_compared_to_the_universe {
    height: 400px;
    width: 700px;

    img {
      width: 700px;
      height: 400px;
    }

    #launch_base_GRA1 {
      top: 103px;
      left: 39.45%;
      background-image: url('../../../../../assets/images/add/instances/GRA.png');
    }

    #launch_base_SBG1 {
      top: 25px;
      left: 39.45%;
      background-image: url('../../../../../assets/images/add/instances/SBG.png');
    }

    #launch_base_BHS1 {
      top: 26px;
      left: 15.9%;
      background-image: url('../../../../../assets/images/add/instances/BHS.png');
    }

    .one_launch_base {
      width: 91px;
      height: 54px;
      background-position: 0 54px;
    }

    .circle {
      width: 200px;
      height: 200px;
      top: -35px;
      left: -54px;
    }
  }
}

.storage-container-type {
  transition: all 1s ease-out;
}

.storage-name-form {
  padding-top: 0.625rem;

  button {
    transition: all 0.5s ease-out;
  }
}
