.preloaderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
@keyframes message {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loaded {
  transition: opacity 800ms 1s, visibility 1800ms;
  animation: message 1s ease-in 0s 1;
}

.preloader {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex !important;

  .logo {
    margin: auto !important;
    width: 600px;
    max-width: 95%;
    height: 200px;
    text-align: center;

    svg {
      width: 600px;
      max-width: 100%;
    }

    path {
      fill: #000e9c;
    }
  }
}
