.preloaderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loaded {
  transition: opacity 800ms 1s, visibility 1800ms;
  opacity: 0;
  visibility: hidden !important;
}

.preloader {
  @keyframes message {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex !important;

  .logo {
    margin: auto !important;
    width: 600px;
    max-width: 95%;
    height: 200px;
    text-align: center;

    svg {
      width: 600px;
      max-width: 100%;
    }

    path {
      fill: #000e9c;
    }

    div {
      font-size: 24px;
      font-family: 'Source Sans Pro';
      font-weight: 400;
      animation: message 1s ease-in 0s 1;

      p {
        color: #00185e;
        font-size: 28px;
        letter-spacing: 0;
        line-height: 35px;
        margin-bottom: 10px;
      }

      h1 {
        margin-top: 10px;
        color: #00185e;
        font-size: 36px;
        letter-spacing: 0;
        line-height: 45px;
        font-weight: 400;
      }
    }
  }

  .banner-message {
    padding: 0.5rem 1rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #feea86;
    color: #8b6111;
    position: absolute;
  }
}
