.cloud-monitoring-chart {
  .axis {
    shape-rendering: crispEdges;
    fill: #000;
    font-size: 10px;
  }

  .axis line {
    stroke: #a1a1a1;
  }

  .axis path {
    stroke: #a1a1a1;
    fill: none;
  }

  .line {
    fill: none;
    stroke: #daae92;
  }

  .area {
    fill: #f0c0a1;
    stroke: none;
  }

  .bg {
    fill: #f2f2f2;
    stroke: none;
  }
}
