$logger-background-color: #fafafa;
$logger-text-color: #5a6a7d;

.logger {
  background: $logger-background-color;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  overflow-y: scroll;
  color: $logger-text-color;
  height: 65vh;
  box-sizing: border-box;
}

.logger_placeholder {
  text-align: center;
  margin-top: 170px;
  color: #999;
}

.logger__entry-message {
  display: inline-block;
  line-height: 20px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  letter-spacing: 0.14px;
  font-family: 'Roboto Mono Regular', monospace;
  font-size: 0.85rem;
}

.logger__cursor {
  content: '';
  display: inline-block;
  background-color: #ccc;
  vertical-align: top;
  color: $logger-background-color;
  width: 8px;
  height: 17px;
  animation: tail-logs-blink 1s step-end infinite;
}

.logs__downloadbutton {
  margin: 1em 0;
}

@keyframes tail-logs-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
