ovh-manager-hub-carousel {
  @import '@ovh-ux/ui-kit/dist/scss/_tokens';

  .oui-message {
    padding: 1rem 3rem;

    &__next {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      margin-top: -1rem;

      .oui-icon {
        font-size: 1.5rem;
      }
    }

    &__bullets {
      text-align: center;
    }

    &__body {
      font-weight: 600;
    }
  }

  a.oui-message__body {
    &:hover,
    &:focus,
    &:active {
      text-decoration-color: $ae-500;
      color: $ae-500;
    }
  }

  .circular-tile {
    display: inline-block;
    margin: 0.25rem;
    border-radius: 0.625rem;
    background-color: $p-000-white;
    padding: 0.1875rem;
    border: $ae-500;
    cursor: pointer;

    &_active {
      background-color: $ae-500;
    }
  }
}
