ovh-manager-hub-carousel {
  @import 'oui4/dist/scss/_tokens';

  a.oui-message__body {
    &:hover,
    &:focus,
    &:active {
      text-decoration-color: $ae-500;
      color: $ae-500;
    }
  }

  .oui-message__body {
    font-weight: 600;
  }

  .circular-tile {
    display: inline-block;
    margin: 0.25rem;
    border-radius: 0.625rem;
    background-color: $p-000-white;
    padding: 0.1875rem;
    border: $ae-500;
    cursor: pointer;

    &_active {
      background-color: $ae-500;
    }
  }

  .oui-icon-warning_extra-thin {
    &::after {
      background: transparent;
    }

    color: $ae-500;
    font-size: 1.5rem;
  }
}
