ovh-manager-hub-carousel {
  @text-color: rgb(40, 85, 196);
  @error-color: rgb(193, 27, 27);
  @error-bg-color: rgb(255, 210, 221);

  .oui-message__body_error,
  .oui-message_error {
    padding-bottom: 1rem;
    color: @error-color;
    border: transparent;
    background-color: @error-bg-color;
  }

  .circular-tile-container {
    width: 100%;
    text-align: center;
  }

  .circular-tile {
    display: inline-block;
    margin: 0.25rem;
    border-radius: 0.625rem;
    background-color: #fff;
    padding: 0.1875rem;

    &_active {
      background-color: @error-color;
    }
  }

  .oui-icon-warning_extra-thin {
    &::after {
      background: transparent;
    }

    position: absolute;
    display: block;
    top: 0.875rem;
    left: 1rem;
    color: @text-color;
    font-size: 1.625rem;
  }
}
