@CLOUD_MONITORING_VM_POPOVER_WIDTH: 450px;
@CLOUD_MONITORING_VM_POPOVER_MIN_HEIGHT: 500px;

.vm-monitoring-popover {
  background-color: @DEFAULT_BACKGROUND !important;

  #vm-monitoring {
    width: @CLOUD_MONITORING_VM_POPOVER_WIDTH;
    min-height: @CLOUD_MONITORING_VM_POPOVER_MIN_HEIGHT;
    padding: 10px;

    .status-fine {
      color: @cloud_green_3;
    }

    .status-warning {
      color: @VM_MONITORING_WARNING_COLOR;
    }

    .alert {
      color: @cloud_yellow_darken;
    }

    .back-btn {
      float: left;
      margin-top: -10px;
      font-size: 24px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }

    h3.title {
      margin: 13px 0 25px 30px;
      .font-open-sans;

      font-weight: 300;
    }

    // --------------- PANEL STYLES
    .panel-group {
      margin: 0;
    }

    .panel-heading {
      padding: 0;
      border-radius: 4px;
      background-color: white !important;
      outline: none;

      &:hover,
      &:focus,
      &:active {
        background-color: #f8fbfa;
      }

      .panel-title {
        outline: none;

        .upgradeAlert {
          clear: both;
        }

        a {
          display: block;
          position: relative;
          padding: 10px 25px 10px 15px;
          text-decoration: none;
          outline: none;

          .chevron-right {
            position: absolute;
            top: 50%;
            right: 8px;
            margin-top: -7px;
            opacity: 0.6;
          }

          &:hover .chevron-right,
          &:focus .chevron-right,
          &:active .chevron-right {
            opacity: 1;
          }
        }
      }
    }

    .panel-heading:hover {
      background-color: white !important;
    }

    .panel {
      border-color: @cloud_green_3;

      &.active {
        .panel-heading {
          background: @cloud_green_3;
          border-radius: 0;
          color: white;
        }
      }
    }

    .panel-body {
      overflow-y: auto;
      padding-top: 0 !important;
      border-top: none !important;

      .monitoring-chart {
        height: 200px;
      }

      .monitoring-loading {
        padding-top: 90px;
      }

      table {
        margin-bottom: 0;

        thead {
          background-color: @table-header-background-color; // from table-pretty
          border-bottom: 2px solid #dedede;
        }

        tr td {
          vertical-align: middle;

          label {
            margin: 0;
            cursor: pointer;
          }
        }

        tr:first-child td {
          border-top: 0;
        }

        tr:hover,
        tr:active,
        tr:focus {
          input:not(:disabled) {
            ~ .flat-radio-off,
            ~ .flat-radio-on {
              border-color: #009fe3;
            }

            ~ .flat-radio-on {
              background-color: #009fe3;
            }
          }
        }
      }
    }
  }
}
