/* stylelint-disable no-descending-specificity */
#cloud-project-compute-infrastructure {
  #infra-ips-ctnr {
    position: relative;
    padding: 0 20px 0 20px;

    > .header {
      position: relative;
      margin-right: 14px;
      text-align: right;
      padding-right: 14px;
      border-right: 2px solid @network_line_color;

      .public-network-hline-title {
        position: absolute;
        top: 50%;
        right: -30px;
        bottom: 0;
        width: 30px;
        height: 1px;
        margin-top: -2px;
        background: @network_line_color;
        border: 2px solid @network_line_color;
        border-top-right-radius: 3px;
      }
    }

    .infra-ips-list-ctnr {
      margin-right: 40px;
      margin-top: 20px;

      .ip-block {
        .clearfix;
        // @todo: pas terrible
        .ui-sortable-placeholder {
          position: relative;
          width: 100%;
          min-height: 34px;
          border-radius: @IP_BORDER_RADIUS;
          background: #e8e8e8 !important;
          visibility: visible !important;
          border: 1px dashed #ccc !important;
          margin-top: 20px;
        }
      }

      .ip {
        position: relative;
        // text-shadow: 1px 1px 2px rgba(92, 92, 92, 1);
        // width: @ip-div-width;
        width: 100%;
        min-height: 34px;
        border-radius: @IP_BORDER_RADIUS;
        font-size: @ip-font-size;
        line-height: 26px;
        color: @ip-text-color;
        margin-top: 20px;
        .clearfix;

        &.ip-failover-import {
          .ip-content {
            padding: 4px 0;

            > div:first-child {
              //width: 30px;
            }
          }
        }

        &.ip-public,
        &.ip-sticky {
          background-color: @ip-sticky-bg-color;

          .ip-port {
            .port-inner {
              border-color: @ip-sticky-port-color;
            }

            &.active-port {
              .port-inner {
                transform: none;
              }
            }
          }
        }

        &.ip-DRAFT {
          background-color: @ip-draft-bg-color;

          .ip-port .port-inner {
            border-color: @ip-draft-bg-color;
          }
        }

        &.ip-creating {
          background-color: @ip-creating-bg-color;

          .ip-port .port-inner {
            border-color: @ip-creating-bg-color;
          }
        }

        &.ip-floating,
        &.ip-failover {
          background-color: @ip-floating-bg-color;
          color: black;

          .ip-port .port-inner {
            border-color: @ip-floating-bg-color;
          }
        }

        &.ip-loadBalancing {
          background-color: @ip-lb-bg-color;

          .ip-port .port-inner {
            border-color: @ip-lb-bg-color;
          }
        }

        .ip-progress {
          width: 100%;

          .progress {
            margin: 8px 5% 10px;
          }
        }

        .ip-connection-management {
          position: absolute;
          margin-top: -22px;
          top: 50%;
          left: -22px;
          height: 43px;
          width: 43px;
        }

        .ip-content {
          padding: 4px 30px;

          .ip-grip,
          .ip-chevron {
            position: absolute;
            top: 0;
            bottom: 0;
            text-align: center;
            line-height: 32px;
            font-size: @ip-font-size;
          }

          .ip-grip {
            left: 10px;
            cursor: grab;
            z-index: 2;
            width: 20px;
          }

          .ip-chevron {
            width: 30px;
            right: 0;

            button {
              transition: all 0.3s;

              & > :hover {
                color: @cloud_yellow;
              }
            }
          }

          .ip-failover-label,
          .ip-loadBalancing-label {
            margin: 3px 5px 0 5px;
            padding: 0.3em;
            font-size: @ip-font-size;
            background: @ip-sticky-bg-color;
            color: white;
          }

          .ip-public-label {
            margin: 3px 5px 0 5px;
            padding: 0.3em;
            font-size: @ip-font-size;
            background: white;
            color: @ip-sticky-bg-color;
          }

          .ip-geoloc {
            margin: 3px 5px 0 0;
            padding: 4px;
            font-size: @ip-font-size;
            color: @ip-sticky-bg-color;
          }

          .ip-text {
            position: absolute;
            right: 30px;
          }

          .ip-spinner {
            position: absolute;
            right: 8px;
          }

          .dropdown-menu {
            right: 0;
            left: initial;

            button {
              i {
                cursor: pointer;
              }

              &:disabled {
                i {
                  cursor: not-allowed;
                }
              }
            }
          }

          .public-network-hline-ip {
            position: absolute;
            top: 50%;
            right: -51px;
            width: 51px;
            height: 1px;
            margin-top: -2px;
            background: @network_line_color;
            border: 2px solid @network_line_color;
          }

          @media (min-width: @screen-lg-min) {
            .public-network-hline-ip {
              right: -76px;
              width: 76px;
            }
          }

          @media (max-width: @screen-sm-min) {
            .public-network-hline-ip {
              right: -15px;
              width: 15px;
            }
          }
        }

        &.ui-sortable-helper {
          .ip-grip {
            cursor: grabbing !important;
          }
        }
      }

      .ipV6 {
        .ip;

        background-color: #848484;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAHGKSkXcAAAAYSURBVAjXY2BkYGJgYeBgEGBQYHBgaAAAAv0BAIVul1QAAAAASUVORK5CYII=');
        margin: 2px 0;

        .ip-port {
          .port-inner {
            border-color: #848484;
          }

          &.active-port {
            .port-inner {
              transform: none;
            }
          }
        }
      }
    }

    @media (min-width: @screen-lg-min) {
      .infra-ips-list-ctnr {
        margin-right: 65px;
      }
    }

    @media (max-width: @screen-sm-min) {
      .infra-ips-list-ctnr {
        margin-right: 0;
      }
    }

    // vertical line to the right, for network
    .public-network-vline-right {
      position: absolute;
      top: 15px;
      right: 5px;
      bottom: 0;
      width: 1px;
      background: @network_line_color;
      border: 2px solid @network_line_color;
      border-radius: 0 3px 3px 3px;
    }
  }
}
/* stylelint-enable no-descending-specificity */
