/* stylelint-disable no-descending-specificity */
#cloud-project-compute-infrastructure {
  .cloud-compute-infra-ctnr {
    min-width: 1250px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 200px;

    #infra-ctnr {
      position: relative;

      #infra-vrack-ctnr {
        position: relative;
        padding-right: 50px;

        // ---

        > .header {
          position: relative;
          margin-left: 14px;
          padding-left: 14px;
          // border-left: 2px solid @network_line_color;
          border-left: 2px solid @network_disabled_line_color;

          .badge {
            position: relative;
            top: -15px;
            margin-right: 10px;
            font-size: 8px;
            background: #bbb;
          }
        }

        .infra-vrack-public-ctnr {
          .infra-vrack-public-title {
            background: @UNIVERS_SECONDARY;
            padding: 2px 15px;
            border-bottom: 2px solid darken(@UNIVERS_SECONDARY, 9%);
            color: white;
            font-size: 16px;

            .wrap {
              cursor: pointer;
              display: block;
              height: 14px;
              width: 20px;
              color: #fff;
              padding: 1px;
              position: relative;
              box-sizing: initial;
              border: 1px solid #fff;
              opacity: 0.4;

              &:hover,
              &:active,
              &:focus {
                opacity: 1;
              }

              .wrap3 {
                background-color: #fff;
                display: block;
                height: 2px;
                width: 80%;
                margin: 2px auto;
                box-sizing: initial;
              }

              .wrap2 {
                background-color: #fff;
                display: block;
                height: 4px;
                width: 80%;
                margin: 2px auto;
                box-sizing: initial;
              }
            }
          }
        }
      }
    }
  }

  .bottom-validator {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(51, 51, 51, 0.65);
    min-height: 100px;
    padding: 20px;
    z-index: 9999;

    .btn-action {
      width: 100%;
    }

    .validator-text {
      color: #fff;
      font-size: 20px;
      text-align: center;
    }
  }

  #infra-vrack-ctnr {
    .infra-vrack-public-ctnr {
      .infra-vrack-public-content {
        background: @CLOUD_VRACK_PUBLICCLOUD_BACKGROUND;
        border: 1px solid darken(@CLOUD_VRACK_PUBLICCLOUD_BACKGROUND, 5%);
        padding: 20px;

        .popover {
          margin-left: 50px;
        }

        p.loader {
          margin: 15px 0;
        }

        .cloud-vm {
          position: relative;
          margin-bottom: 20px;
          background: white;
          border: 1px solid @VM_BORDER_COLOR;
          box-shadow: 0 0 8px 1px rgba(167, 167, 167, 0.4);
          transition: border 500ms, box-shadow 500ms;

          &:hover,
          &:focus,
          &.cuc-highlighted-element-active {
            box-shadow: 0 0 10px 1px rgba(92, 92, 92, 0.5);
          }

          // @todo: pas terrible
          &.ui-sortable-placeholder {
            background: #ddd !important;
            visibility: visible !important;
            border: 1px dashed #ccc !important;
          }

          &.ui-sortable-helper {
            .vm-grip {
              cursor: grabbing !important;
            }
          }

          .vm-display-actions {
            position: absolute;
            top: 0;
            left: 0;
            border-right: 1px solid #f1f1f1;

            .vm-grip {
              padding: 4px 0 6px 11px;
              cursor: grab;

              &:hover,
              &:focus {
                opacity: 1;
              }
            }

            .vm-collapse-button {
              padding: 4px 8px 2px 6px;
              opacity: 0.4;

              &:hover,
              &:focus {
                opacity: 1;
              }
            }
          }

          .vm-flavor {
            position: absolute;
            top: 0;
            left: 55px;
            height: 27px;
            overflow: hidden;

            > img {
              display: inline-block;
              height: 19px;
            }

            .flavor-offer-type {
              display: inline;
              vertical-align: middle;
              color: @cloud_yellow_darken;
              font-size: 16px;
              line-height: 27px;

              > i {
                display: inline-block;
                vertical-align: middle;
                height: 20px;
              }
            }

            .flavor-offer-price {
              vertical-align: bottom;
              font-size: 10px;
              line-height: 24px;
              color: @cloud_yellow_darken;
              word-break: break-all;
            }
          }

          .vm-actions-dropdown {
            position: absolute;
            right: 0;
            top: 0;

            & > button {
              padding: 5px 10px;
              transition: all 0.3s;

              &:hover,
              &:focus,
              &:active {
                background-color: @UNIVERS_SECONDARY;
                color: white;
              }
            }

            &.open {
              & > button {
                background-color: @UNIVERS_SECONDARY;
                color: white;
              }
            }
          }

          ul.dropdown-menu {
            z-index: 1033 !important; // display dropdown-menu over dragged vm & over jsPlumb links
          }

          h3 {
            margin: 27px 0 0 0;
            padding: 15px 10px;
            border-top: 1px solid #f1f1f1;
          }

          .vm-footer {
            font-size: 10px;
            white-space: nowrap;
            border-bottom: 1px solid #cbcbcb;

            & > div {
              border-top: 1px solid #cbcbcb;
            }

            .vm-stat {
              line-height: @VM_STATS_LINE_HEIGHT;

              &.stat-core,
              &.stat-ram {
                border-right: 1px solid #cbcbcb;
              }
            }

            .vm-private-ip {
              background-color: @VM_STATS_BG_COLOR;
              padding: 3px 5px;
              color: #777;
              font-size: 12px;
              white-space: normal;
            }
          }

          &:not(.collapsed) {
            min-height: 100px;

            .vm-network {
              position: relative;
            }

            .vm-infos {
              position: relative;
            }
          }

          // for active highlighed vm
          &.cuc-highlighted-element-active {
            .vm-network {
              .vm-connection-management {
                .port-inner {
                  z-index: 1100;
                }
              }
            }
          }

          .vm-network {
            .private-network-hline-vm-left {
              position: absolute;
              top: 50%;
              left: -35px;
              // width: 60px;
              width: 35px;
              height: 1px;
              // background: @network_line_color;
              // border: 2px solid @network_line_color;
              border: 2px dashed @network_disabled_line_color;
              // margin-top: -2px;
              margin-top: -25px;
            }

            .private-ip {
              position: relative;
              margin: 0 25px 10px;
              background: @VM_IP_BG_COLOR;
              border: 1px solid darken(@VM_IP_BG_COLOR, 10%);
              padding: 5px;
              border-radius: @IP_BORDER_RADIUS;
              text-align: center;

              .private-network-hline-vm-right {
                position: absolute;
                top: 50%;
                right: -26px;
                width: 25px;
                height: 1px;
                background: @network_line_color;
                border: 2px solid @network_line_color;
                margin-top: -2px;
              }
            }

            .vm-connection-management {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 50%;
              right: -23px;
              // margin-top: -25px;
              margin-top: -50px;

              .flat-checkbox {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 3000;

                .flat-checkbox-off,
                .flat-checkbox-on {
                  border: 5px solid #666;
                  border-radius: 300px;
                  background-color: white;
                }

                .flat-checkbox-off {
                  box-shadow: 0 0 10px 1px #aaa;
                }

                .flat-checkbox-on {
                  &::after {
                    .fa-icon();

                    color: @ip-lb-bg-color;
                    content: @fa-var-circle;
                    font-size: 40px;
                    line-height: 14px;
                    left: 7px;
                    top: 4px;
                  }
                }

                .flat-checkbox-off,
                .flat-checkbox-on,
                input {
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                }
              }
            }
          }

          &.collapsed {
            margin-bottom: 10px;

            .hidden-collapsed {
              display: none;
            }

            h3 {
              border: 0;
              margin: 0;
              margin-left: 50px;
              margin-right: 30px;
              padding-left: 0 !important;
              padding-right: 0 !important;
              padding-top: 8px !important;
              padding-bottom: 8px !important;
              font-size: 14px;
              overflow: hidden;
            }

            .vm-network {
              .private-network-hline-vm-left {
                // width: 35px;
                margin-top: -2px;
              }
            }

            .vm-connection-management {
              width: 30px;
              height: 30px;
              right: -15px;
              margin-top: -14px;

              .flat-checkbox {
                .flat-checkbox-on {
                  &::after {
                    font-size: 15px;
                    line-height: 16px;
                    top: 2px;
                    left: 4px;
                  }
                }
              }
            }
          }

          .vm-footer-infos {
            width: 100%;
          }

          // the region label displayed under the vm name when vm is not collapsed
          .vm-region {
            font-size: 10px;
            line-height: 24px;
            margin-top: -15px;
            margin-bottom: 5px;
            white-space: nowrap;
            display: block;
            text-align: center;
            vertical-align: middle;
            color: #777;
          }

          // the region id displayed right to the vm name when vm is collaped
          .vm-region-id {
            font-size: 10px;
            vertical-align: middle;
            line-height: 16px;
            color: #777;
            float: right;
          }
        }
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
