#cloud-project-compute-infrastructure {
  //volume in detail and in dragging
  li {
    &.volume-detail-item {
      list-style: none;
      padding-left: 0;
      font-size: 10px;
      float: left;
      text-align: center;
      width: 50px;

      img {
        height: auto;
        width: auto;
      }
    }

    .ovh-font {
      cursor: grabbing;

      &.ovh-font-harddiskspeed {
        padding-top: 1px;
        font-size: 29px;
      }

      &.ovh-font-harddisk {
        padding-top: 5px;
        font-size: 25px;
      }
    }

    .legend {
      // wait for it ...
      cursor: default !important;
    }
  }

  //--------------unlinked-------------------

  .volume-content-unlinked {
    margin-bottom: 20px;

    .volume-resume {
      button {
        font-size: 14px;
        width: 100%;
        text-align: left;
        background: @VM_STATS_BG_COLOR;
        border: 1px solid @VM_BORDER_COLOR;
      }
    }

    .volume-detail {
      background: @CLOUD_VRACK_PUBLICCLOUD_BACKGROUND;
      border: 1px solid darken(@CLOUD_VRACK_PUBLICCLOUD_BACKGROUND, 5%);
      border-top: none;

      ul.volume-content-unlinked-items {
        padding: 5px 10px;
        border-top: none;

        li {
          margin: 5px;
        }
      }

      ul.volume-content-unlinked-regions {
        padding: 5px 10px;
        margin: 0;
        border: 1px dashed transparent;

        .region-label {
          font-weight: bold;
        }
      }

      li.volume-detail-region {
        list-style-type: none;
      }
    }
  }

  //--------------linked-------------------

  .volume-content-linked {
    .volume-detail {
      text-align: center;
      box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.24);
      background: #ddd;

      ul.volume-content-linked-items {
        padding: 5px 15px;
        border: 1px dashed transparent;

        li {
          margin: 5px;
        }
      }
    }

    .volume-resume {
      background-color: #e9e9e9;
      line-height: @VM_STATS_LINE_HEIGHT;

      button {
        width: 100%;
      }
    }
  }

  //--------------unlinked --- linked-------------------

  .volume-content-linked,
  .volume-content-unlinked {
    &.hasCurrentDroppableVolume {
      .volume-content-linked-items {
        border-color: #333 !important;
      }

      .volume-content-unlinked-regions {
        border-color: #333 !important;
      }

      .volume-resume {
        border-color: #333 !important;
      }
    }

    .volume-detail {
      ul.volume-content-linked-items,
      ul.volume-content-unlinked-items {
        white-space: nowrap;
        margin: 0;
        min-height: 45px;
        text-align: left;

        li {
          &.volume-detail-item-helper {
            opacity: 0.3;
          }

          .volume-detail-item-illustration {
            padding: 0;
            position: relative;

            /* stylelint-disable-next-line selector-type-no-unknown */
            spinner {
              position: absolute;
              left: 0;
              top: 7px;
              right: 0;
            }
          }

          .ovh-font {
            cursor: grab;
          }

          &.ui-draggable-disabled {
            .ovh-font {
              cursor: no-drop;
            }
          }
        }
      }
    }
  }
}
