.sandbox {
  box-sizing: border-box;
  border: solid var(--ods-border-width-sm) var(--ods-color-primary-500);
  border-radius: var(--ods-border-radius-md);
  overflow: hidden;
  background-color: #fff;
}

.sandbox-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.sandbox--fullscreen {
  position: fixed;
  inset: 0;
  z-index: 90;
  border: 0;
}

.sandbox__menu {
  display: flex;
  flex-flow: row;
  column-gap: 8px;
  align-items: center;
  justify-content: end;
  border-bottom: solid var(--ods-border-width-sm) var(--ods-color-primary-500);
  padding: 0 8px;
}

.sandbox__container {
  overflow: hidden;
  min-height: 50vh;
  resize: vertical;
}

.sandbox__container__preview {
  padding: 16px;
}

.sandbox__container__resize {
  padding: 0;
}

.sandbox__container__resize--horizontal {
  margin: 16px 2px;
  width: 4px;
  min-width: auto;
}

.sandbox__container__resize--vertical {
  margin: 2px 16px ;
  height: 4px;
  min-height: auto;
}
