@import '@ovh-ux/ui-kit/dist/scss/tokens/_colors';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_fonts';
@import '@ovh-ux/ui-kit/dist/scss/tokens/_globals';
@import '../constants.scss';

.popup {
  background-color: white;
  position: absolute;
  left: 0.5rem;
  width: 350px;
  z-index: $sidebar-z-index + 2;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 rgba(0, 14, 156, 0.2);
  margin-top: 5px;

  @media (max-width: $device-breakpoint-tablet-max-width) {
    top: 4rem !important;
    right: 0.5rem !important;
    width: auto;
  }

  > div {
    position: relative;
  }
}

.popupOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $sidebar-z-index + 1;
}

.popupCloseButton {
  position: absolute;
  top: 8px;
  right: 8px;

  button {
    color: #2859c0;
  }

  @media (min-width: 48em) {
    display: none;
  }
}
.transparentButton {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popupItemExternalLink {
  visibility: hidden;
}

.popupItem:hover .popupItemExternalLink {
  visibility: visible;
}

.buttonMenu {
  width: auto;
}

