.exchange-diagnostic-result-item {
  border-bottom: solid 1px #ddd;
  padding: 15px 30px 15px 30px;
}

.td-crop-long-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
}

.exchange-diagnostic-result-item-error {
  background-color: #fafafa;
}

.exchange-diagnostic-icon-success {
  color: #b0ca67;
}

.exchange-diagnostic-icon-error {
  color: #e36947;
}

.exchange-diagnostic-page-bottom-padding {
  padding-bottom: 100px;
}

.exchange-diagnostic-description {
  max-width: 800px;
}

.image-container {
  position: relative;
}

.center-image {
  display: block;
  margin: 0 auto;
}

.resize-half {
  width: 50%;
  height: 50%;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
}

.overlay-transition {
  opacity: 0;
  transition: 0.5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .overlay-transition {
  opacity: 1;
}

.select-domain .oui-field__component {
  margin-bottom: 0;
}
