@import '@ovh-ux/manager-react-components/dist/style.css';
@import '@ovh-ux/manager-pci-common/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
button {
  font-family: var(--ods-font-family-default);
}

.caption-price::part(text) {
  @apply font-bold;
}

.selected-tile-title::part(text) {
  @apply font-bold;
}

.font-bold-class::part(text) {
  @apply font-bold;
}

.text-critical::part(text) {
  color: var(--ods-color-critical-400);
}

.badge-region-type::part(button) {
  background-color: var(--ods-color-primary-100);
  min-height: 1em;
  padding: 0 6px;
  border-radius: var(--ods-border-radius-lg);
  cursor: help;
}

.region-tooltip-content *::part(text) {
  @apply text-sm;
}

.fw-bold::part(text) {
  font-weight: bold;
}
