.deployment-mode-card {
  @apply border-[--ods-color-blue-100];
  @apply w-full px-[24px] py-[16px];
  min-height: 200px;

  .deployment-mode-card__content {
    @apply flex flex-col w-full items-center;
  }

  .deployment-mode-card__header {
    @apply mb-4;
  }
}

input:not(:disabled) + .deployment-mode-card {
  @apply cursor-pointer;
  @apply hover:bg-[--ods-color-blue-100] hover:border-[--ods-color-blue-600];
}

input:disabled + .deployment-mode-card {
  opacity: 0.5;
}

input:checked + .deployment-mode-card {
  @apply font-bold bg-[--ods-color-blue-100] border-[--ods-color-blue-600];

  .deployment-mode-card__header osds-text {
    @apply font-bold;
  }
}

input:focus-visible + .deployment-mode-card {
  @apply border-[--ods-color-blue-600];
}
