.column-list {
  display: flex;
  flex-flow: column;
  row-gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
  touch-action: none; // empêche le scroll de bloquer le drag

  &__item {
    width: 100%;

    &__card {
      width: 100%;
      padding: 0.5rem 1rem;
      margin: 0.3rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &.disabled {
        background-color: var(--ods-color-background-disabled-default);
        cursor: not-allowed;
      }
      &.selected {
        background-color: var(--ods-color-primary-025);
      }
    }
  }
}

.column-list__item__wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dragHandle {
  cursor: grab;
  user-select: none;
}

.dragHandle:active {
  cursor: grabbing;
}
