.telephony-number-ovh-pabx-menu-entry-edit {
  .dtmf-section {
    .section-item .btn-actions-list {
      margin-left: 0.625rem;
    }

    .dtd {
      padding: 3px;

      button {
        height: 50px;

        &.active {
          background-color: @btn-info-bg;
          border-color: @btn-info-border;
          color: #fff;
        }
      }
    }

    .dtmf-value {
      max-height: 50px;
      line-height: 32px;
    }
  }
}

.ovh-pabx-dialplan-menu-entry {
  .position-text.entry-dtmf {
    width: 100%;
  }
}
