@import '~ovh-ui-kit-bs/dist/less/bootstrap/_variables';

.telecom-telephony {
  footer.voip-action-bar {
    background-color: rgba(70, 70, 70, 0.9);
    position: fixed;
    right: 0;
    bottom: 0;
    padding: @padding-large-horizontal;
    z-index: @zindex-modal-background;
    font-size: 1.2em;
  }

  /* ----------  Special rules for action-bar  ---------- */
  // medium rules (desktop)
  @media (min-width: @screen-md-min) {
    footer.voip-action-bar {
      left: 100% / 6;
    }
  }

  // medium rules (tablet...)
  @media (max-width: (@screen-md-min - 1)) {
    footer.voip-action-bar {
      left: 100% / 4;
    }
  }

  // small rules (phone)
  @media (max-width: (@screen-sm-min - 1)) {
    footer.voip-action-bar {
      left: 0;
    }
  }

  // TODO : this style have to be implemented into ui-kit once the select-picker component will have the transclude slot refactored
  .oui-select-picker__transclude-container {
    height: 9.375rem;

    .transclude-image-container > img {
      display: block;
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Specific style for custom buttons into datagrid
  .row-height-limited {
    td.oui-datagrid__cell > .ng-scope {
      max-height: 2.5rem;
    }
  }

  .content-precision-after::after {
    content: '\2731';
    vertical-align: super;
    color: #ee4036;
    font-size: 0.375rem;
    margin: 0 0.125rem 0 0.125rem;
  }

  .content-precision-before::before {
    content: '\2731';
    vertical-align: super;
    color: #ee4036;
    font-size: 0.375rem;
    margin: 0 0.125rem 0 0.125rem;
  }

  // Specific styles for custom cells into datagrid
  .th-price-unit {
    width: 25%;
  }

  .th-quantity {
    width: 12%;
  }

  .th-total {
    width: 15%;
  }
}
