.cloud-billing-estimate-content {
  .cloud-billing-estimate-summary {
    header {
      h3 {
        color: @CLOUD_GREEN_COLOR;
      }

      p {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
      }
    }

    @media (min-width: @screen-lg-min) {
      p {
        max-width: 65%;
        text-align: right;
      }
    }
  }

  .cloud-billing-estimate-alert {
    background-color: #f5f5f5;

    .consumption-chart {
      margin: 0 auto;
      width: 250px;
      height: 150px;
    }

    header {
      h4 {
        font-weight: 600;
      }
    }
  }
}
