.telecom-pack-resiliation {
  .service-select-all {
    background-color: @gray-lighter;
  }

  .service-select-single {
    strong {
      color: @p-500;
    }
  }

  .resiliation-date {
    font-size: @font-size-base;
  }
}
