/* Private Network */
@private-network-background-color: white;
@private-network-border-color: #757575;
@private-network-hover-border-color: black;
@private-network-border-radius: 4.3125rem;

/* Private Network - Property */
@private-network-property-font-size: 0.75rem;
@private-network-property-line-height: 0.875rem;

/* Private Network - Property - Name */
@private-network-property-name-color: #61afa0;
@private-network-property-name-font-weight: bold;

/* Private Network - Property - Delete */
@private-network-property-delete-background-color: #f2f2f2;
@private-networks-property-delete-hover-background-color: #61afa0;
@private-network-property-delete-color: #aaa;

/* Private Network - Creating */
@private-network-creating-background-color: #f2f2f2;
@private-network-creating-font-color: #8d8d8d;
@private-network-property-label-font-size: 0.6875rem;
@private-network-property-label-font-weight: bold;
@private-network-property-description-font-size: 0.5625rem;
@private-network-property-description-font-weight: 600;

.private-network {
  background-color: @private-network-background-color;
  border-width: 1px;
  border-style: solid;
  border-color: @private-network-border-color;
  border-radius: @private-network-border-radius;
  padding: 0.3125rem 1.875rem;

  &__list {
    margin-top: -1.25rem;
    margin-left: 2.125rem;
    position: relative;

    &_creating {
      background-color: @private-network-creating-background-color;
      display: block;
      line-height: @private-network-property-line-height;
    }
  }

  &__button {
    &_delete {
      background-color: @private-network-property-delete-background-color;
      color: @private-network-property-delete-color;
      border-radius: 100%;
      padding: 3px 6px;
      visibility: hidden;
    }

    &_delete:hover {
      background-color: @private-networks-property-delete-hover-background-color;
      color: @private-network-background-color;
    }
  }

  &:hover &__button_delete {
    visibility: visible;
  }

  &__property {
    display: block;
    font-size: @private-network-property-font-size;
    line-height: @private-network-property-line-height;

    &_name {
      color: @private-network-property-name-color;
      font-weight: @private-network-property-name-font-weight;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    margin-left: 10px;
  }

  &__icon-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    margin-right: 10px;
  }

  &__label {
    font-size: @private-network-property-label-font-size;
    font-weight: @private-network-property-label-font-weight;
  }

  &__description {
    font-size: @private-network-property-description-font-size;
    font-weight: @private-network-property-description-font-weight;
  }

  &:hover {
    border-color: @private-network-hover-border-color;
  }
}
