/* stylelint-disable no-descending-specificity */
// DISPLAY IN VM LIST AND ADAPTATIVE POPOVER
.flavor-tag {
  position: absolute;
  width: 40px;
  top: -5px;
  left: 55px;

  .triangle-shadow-right-top {
    position: absolute;
    right: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 0 5px;
    border-color: transparent transparent transparent darken(#242a2c, 30%);
  }

  .triangle-bottom-left {
    position: absolute;
    left: 0;
    top: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 25px 0 0;
    border-color: #242a2c transparent transparent transparent;
  }

  .triangle-bottom-right {
    position: absolute;
    right: 0;
    top: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 5px 0;
    border-color: transparent #242a2c transparent transparent;
  }

  .flavor-offer-type {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #242a2c;
    color: white;
  }

  .flavor-offer-price {
    position: absolute;
    left: 45px;
    top: 8px;
    font-size: 10px;
  }
}

// DISPLAY IN ADAPTATIVE POPOVER
.flavor-box {
  display: inline-block;

  .flavor-offer {
    border-width: 1px;
    border-style: solid;
    position: relative;

    .flavor-tag {
      left: 10px;
    }

    .flavor-name {
      padding: 5px 10px 4px 60px;
      margin: 0;
    }
  }
}

//----------------SANDBOX----------------
.flavor-sandbox {
  border-color: @cloud_sandbox;

  &.flavor-offer {
    background-color: fadeout(@cloud_sandbox, 95%);
  }

  .flavor-style {
    background: @cloud_sandbox;
    color: @cloud_sandbox_contrast;
  }

  .flavor-style-color {
    color: @cloud_sandbox;
  }

  .flavor-name {
    .flavor-style-color;
  }

  .flavor-offer-type {
    .flavor-style;
  }

  .flavor-offer-price {
    .flavor-style-color;
  }

  .triangle-shadow-right-top {
    border-color: transparent transparent transparent
      darken(@cloud_sandbox, 30%);
  }

  .triangle-bottom-left {
    border-color: @cloud_sandbox transparent transparent transparent;
  }

  .triangle-bottom-right {
    border-color: transparent @cloud_sandbox transparent transparent;
  }
}
//----------------STEADFAST----------------
.flavor-steadfast {
  border-color: @cloud_steadfast;

  &.flavor-offer {
    background-color: fadeout(@cloud_steadfast, 95%);
  }

  .flavor-style {
    background: @cloud_steadfast;
    color: @cloud_steadfast_contrast;
  }

  .flavor-style-color {
    color: @cloud_steadfast;
  }

  .flavor-name {
    .flavor-style-color;
  }

  .flavor-offer-type {
    .flavor-style;
  }

  .flavor-offer-price {
    .flavor-style-color;
  }

  .triangle-shadow-right-top {
    border-color: transparent transparent transparent
      darken(@cloud_steadfast, 30%);
  }

  .triangle-bottom-left {
    border-color: @cloud_steadfast transparent transparent transparent;
  }

  .triangle-bottom-right {
    border-color: transparent @cloud_steadfast transparent transparent;
  }
}
//----------------POWER 8----------------
.flavor-power8 {
  border-color: @cloud_power8;

  &.flavor-offer {
    background-color: fadeout(@cloud_power8, 95%);
  }

  .flavor-style {
    background: @cloud_power8;
    color: @cloud_power8_contrast;
  }

  .flavor-style-color {
    color: @cloud_power8;
  }

  .flavor-name {
    .flavor-style-color;
  }

  .flavor-offer-type {
    .flavor-style;
  }

  .flavor-offer-price {
    .flavor-style-color;
  }

  .triangle-shadow-right-top {
    border-color: transparent transparent transparent darken(@cloud_power8, 30%);
  }

  .triangle-bottom-left {
    border-color: @cloud_power8 transparent transparent transparent;
  }

  .triangle-bottom-right {
    border-color: transparent @cloud_power8 transparent transparent;
  }
}
/* stylelint-enable no-descending-specificity */
