hub-products {
  @import '@ovh-ux/ui-kit/dist/scss/_tokens';

  .oui-list__item:nth-child(2) {
    opacity: 0.75;
  }

  .oui-list__item:nth-child(3) {
    opacity: 0.5;
  }

  .oui-list__item:nth-child(4) {
    opacity: 0.35;
  }
}
