hub-products {
  @import 'oui4/dist/scss/_tokens';

  .oui-list__item:nth-child(2) {
    opacity: 0.75;
  }

  .oui-list__item:nth-child(3) {
    opacity: 0.5;
  }

  .oui-list__item:nth-child(4) {
    opacity: 0.35;
  }

  .oui-button .oui-icon {
    margin-left: 0.375rem;
    font-size: $mercury-font-size;
  }
}
