.navbar-toggle {
  top: 0;
  left: 0;
  width: 48px;
  height: 44px;
}

.left-0 {
  left: 0;
}

.skipnav a {
  width: 1px;
  height: 1px;
  position: fixed;
  left: -100%;
  top: auto;
  overflow: hidden;
  z-index: -1;

  &:focus,
  &:active {
    width: auto;
    height: auto;
    left: 1rem;
    top: 1rem;
    overflow: auto;
    outline-width: 1px !important;
    outline-style: dotted !important;
    outline-color: initial !important;
    outline-offset: -2px !important;
    background-color: #fff;
    z-index: 1100;
  }
}

.skiptarget {
  width: 1px;
  height: 1px;
  overflow: hidden;
  float: right;
  position: absolute;
}
