ul.selectList {
  width: 60%;
  margin: 10px auto 20px auto;
  background-color: @default-background;
  border: solid 1px @bar-block-border;
  max-height: 150px;
  overflow-y: scroll;

  li {
    line-height: 24px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 10px;

    &.lineSelected {
      background-color: @default-line-selected-background;
      color: @default-line-selected-font;
    }
  }
}
