//
// SWITCH BUTTON
// --------------------------------------------------

.btn-group.switch {
  border-radius: 4px;
  background-color: #dfdfdf;
  padding: 3px 2px;
  -moz-box-shadow: inset 0 1px 3px #c1c1c1;
  -webkit-box-shadow: inset 0 1px 3px #c1c1c1;
  box-shadow: inset 0 1px 3px #c1c1c1;
}

.btn-group.switch .btn {
  background-color: #dfdfdf;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: none;
  color: #3d3d3d;
  background-image: none;
  border: none;
  line-height: 26px;
  padding: 0 8px;
}

/* stylelint-disable declaration-block-no-shorthand-property-overrides */
.btn-group.switch .btn.active {
  background-color: #3c3c3c;
  color: #fff;
  text-shadow: none;
  background: #4d4d55; /* Old browsers */
  background: -moz-linear-gradient(top, #4d4d55 0, #37373c 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #4d4d55),
    color-stop(100%, #37373c)
  ); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(
    top,
    #4d4d55 0,
    #37373c 100%
  ); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(
    top,
    #4d4d55 0,
    #37373c 100%
  ); /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #4d4d55 0, #37373c 100%); /* IE10+ */
  background: linear-gradient(to bottom, #4d4d55 0, #37373c 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4d4d55', endColorstr='#37373c', GradientType=0);
}

.v6us-switch .oui-icon {
  font-size: 0.8rem !important;
}

/* stylelint-enable declaration-block-no-shorthand-property-overrides */
