.vps-tile-status {
  margin: 0.625rem 1.25rem 0;
  padding: 0.375rem;

  &_grey  {
    background-color: #f2f2f2;
  }

  &__icon {
    font-size: 1.25rem;
    vertical-align: middle;
    line-height: 1.5;

    &_success {
      color: @as-300;
    }

    &_error {
      color: @ae-300;
    }
  }

  &__text {
    font-weight: 600;
    vertical-align: middle;
    padding-left: 1.875rem;
    line-height: 1.5;
  }
}
