ovh-manager-pci-storages-database-edit-connector-component {
  button.oui-tabs-tab,
  button.oui-tabs-tab[aria-selected='true'] {
    white-space: break-spaces;
    text-align: center;
    width: min-content;
    font-size: 0.875rem;
    height: 4rem;
  }
}
