//URL PATH
@helpModalImg : '../images/trigger-help-infrastructure.png';

// --------------------------------------------------
//      CONSTANTS (used in CSS - No change)
// --------------------------------------------------

@RED_CONST            : #f00f00;
@REDLOW_CONST         : #f2dede;
@WHITE_CONST          : #fff;
@INFO_CONST           : #3a87ad;
@NAV_ACTIVE_CONST     : #2f3545;
@NAV_BORDER_CONST     : #7b8593;
@RADIUS_CONST         : 2px;
@ANIMATION_TIME_CONST : 0.35s;
@BLUE_CONST           : #33acff;

@UNIVERS              : #3b4151;
@CLOUD                : #ffd740;
@DEDICATED            : #38a7c3;
@TELECOM              : #4587a7;
@WEB                  : #54a89b;
@SUNRISE              : #ff9800;
@PARTNERS             : #54c7e4;
@OLDER_UNIVERS        : #c3cadb;

@NAVBAR_HEIGHT        : 44px;
@NAVBAR_BG            : #122844;
@NAVBAR_HOVER         : darken(@NAVBAR_BG, 4%);

@SIDEBAR_MENU_BG_COLOR_LVL1: #273b54;
@SIDEBAR_MENU_BG_COLOR_LVL2: #3f5167;
@SIDEBAR_MENU_BG_COLOR_LVL3: #59697d;

// --------------------------------------------------
//                DEFAULT Level 0
// --------------------------------------------------

//
// Univers Size (used in CSS)
// -------------------------

@fontSizeMini    : 11px;
@fontSizeH4      : 12px;
@fontSizeDefault : 12px;
@fontSizeH3      : 14px;
@fontSizeLarge   : 16px;
@fontSizeBig     : 18px;
@fontSizeH1      : 22px;
@fontSizeMega    : 28px;

@buttonIconSize  : 36px;

//
// Univers Colors (NOT USE IN CSS, just for this file)
// -------------------------

@blue  : #38a7c3;
@green : #54a89b;
@white : #fff;

@grey1 : #f7f5f6; //search bar color
@grey2 : #efefef; // sidebar background
@grey3 : #dbdbdb; // button, search bar color
@grey4 : #7a7a7a; // default font
@grey5 : #656568; // button font, pagination
@grey6 : #3b3b41;
@grey7 : #3c3c3c; // title font

// --------------------------------------------------
//          DEFAULT Level 1 (USE IN CSS)
// --------------------------------------------------

//
// Default
// -------------------------

@CURRENT_UNIVERS : @DEDICATED;

@defaultFont       : @grey4;
@defaultTitle      : @grey7;
@defaultBackground : @white;
@defaultBorder     : @white;

// --------------------------------------------------
//                DEFAULT Level 2
// --------------------------------------------------

//
// Line table and list
// -------------------------

//Head table or list category
@defaultLineHeadBackground     : #3b4151;
@defaultLineHeadFont           : @white;

//Odd and even for list
@defaultLineOddBackground      : #d8e2e4;
@defaultLineOddFont            : @grey6;

@defaultLineEvenBackground     : none;
@defaultLineEvenFont           : @grey6;

//Odd and even for table
@defaultTableLineOddBackground      : none;

@defaultTableLineEvenBackground     : #d8e2e4;

//Odd and even hover for table and list
@defaultLineHoverBackground    : none;
@defaultLineHoverFont          : #1a1a1a;

//hover or select line for list, table, dropfownlist
@defaultLineSelectedBackground : @blue;
@defaultLineSelectedFont       : @white;

//
// Buttons
// -------------------------

@defaultButtonShadow          : #cacaca;
@defaultButtonBackground      : @grey3;
@defaultButtonFont            : @grey5;

@defaultButtonHoverBackground : @blue;
@defaultButtonHoverFont       : @white;

//
// Search bar (charts)
// -------------------------

@barBlockBackground : @grey1;
@barBlockFont       : @defaultFont;
@barBlockBorder     : @grey3;

//
// Search bar (form)
// -------------------------

@barFormFont : @grey7;

//
// Pagination bar
// -------------------------

@defaultPaginationFont                     : @grey5;

@defaultPaginationHoverBackground          : @white;
@defaultPaginationHoverFont                : @grey7;

@defaultPaginationActiveBackground         : @white;
@defaultPaginationActiveFont               : @grey7;
@defaultPaginationNextPreviousButtonBorder : @grey3;

@defaultPaginationGoToBackground           : #b8b7ba;
@defaultPaginationGoToFont                 : @white;
@defaultPaginationGoToHoverBackground      : #8c8c8c;
@defaultPaginationGoToHoverFont            : none;

@defaultPaginationGoToPageBackground       : none;
@defaultPaginationGoToPageFont             : #3c3c3c;
@defaultPaginationGoToPageBorder           : #b8b7ba;

//
// Modal
// -------------------------

@defaultModalBackground                         : @grey2;

@defaultModalHeaderTopGradientBackground        : #333;
@defaultModalHeaderBottomGradientBackground     : #1a1a1a;
@defaultModalHeaderBorderBottom                 : #eee;
@defaultModalHeaderFont                         : @white;

@defaultModalFooterBackground                   : #f5f5f5;
@defaultModalFooterBorderTop                    : @grey3;

@defaultModalFooterButtonConfirmBackground      : @blue;
@defaultModalFooterButtonConfirmFont            : @white;
@defaultModalFooterButtonHoverConfirmBackground : #72d0f4;
@defaultModalFooterButtonHoverConfirmFont       : none;

@defaultModalFooterButtonCancelBackground       : @white;
@defaultModalFooterButtonCancelFont             : #7d7d7d;
@defaultModalFooterButtonHoverCancelBackground  : none;
@defaultModalFooterButtonHoverCancelFont        : @defaultLineHoverFont;

@defaultModalHelpBackground                     : #f7f7f7;
@defaultModalHelpFont                           : #737373;
@defaultModalHelpBorder                         : #c6c6c8;
@defaultModalHelpTitleUnderLineColor            : #737373;

@defaultModalBackdropColor                      : @white; //cover under modal

//
// popover
// -------------------------

@defaultPopoverFont      : @grey6;

//
// droupdown menu
// -------------------------

@oui-dropdown-menu-zindex: 1000;
