.manager-tile {
  .tile {
    width: 100%;

    .tile-type {
      display: block;
      margin-bottom: 16px;
    }

    .tile-title {
      display: block;
      margin-bottom: 16px;
    }

    .tile-description {
      display: block;
      margin-bottom: 12px;
    }

    a {
      text-decoration: none;
    }

    .link-icon {
      margin-left: 10px;
    }
  }
}
