/**
 * Note: This theme is actually in place only for an easter eggs purpose.
 * Of course it lacks some styles across components but could be addressed later.
 *
 * Some colors are hardcoded and could be turned into variables but it would
 * make more sense that the upcoming work around the design system will address
 * the theming part.
 *
 * Futhermore theses changes will not be compatible with the bump of
 * @ovh-ux/ui-kit.
 * See: https://github.com/ovh/manager/pull/1206.
 */

/* stylelint-disable */
.ovhcloud-theme-dark {
  @dark-300: #222;
  @dark-500: #1d1d1d;
  @dark-700: #181818;
  @dark-900: #101010;
  @text-color-copy: #bebebe;
  @text-dark: #666;
  @border: #404040;
  @link: #4bb2f6;
  @primary: #157eea;
  @white: #fff;
  @status-error-background-color: rgba(193, 27, 27, 0.25); // #c11b1b;
  @status-error-color: #ffd2dd;
  @status-info-background-color: rgba(77, 111, 146, 0.25);
  @status-info-color: #e4f5fd;
  @status-success-background-color: rgba(38, 132, 3, 0.25); // #268403;
  @status-success-color: #ecffd1;
  @status-warning-background-color: rgba(139, 97, 17, 0.25); // #8b6111;
  @status-warning-color: #ffed96;

  body {
    color: @text-color-copy;
    background-color: @dark-300;
  }

  /* Typography */

  h1,
  .oui-header h1 {
    color: @white;
  }

  h2,
  .oui-header h2 {
    color: @white;
  }

  h3,
  .oui-header h3 {
    color: @white;
  }

  .oui-heading_underline {
    border-bottom-color: #404040;
  }

  p,
  &.oui-paragraph {
    color: @text-color-copy;
  }

  a,
  .oui-link,
  .oui-button_ghost {
    color: #4bb2f6;
  }

  label {
    color: @text-color-copy;
  }

  /* Navbar */

  .oui-navbar {
    background-color: #181818;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .oui-navbar__brand .oui-icon,
  .oui-navbar .navbar-oui-icon {
    color: @white;
  }

  .oui-navbar .oui-navbar-link {
    color: @text-color-copy;
  }

  .oui-navbar-menu {
    background-color: #181818;
    border: 1px solid #157eea;
  }

  .oui-navbar-menu__header,
  .oui-navbar-menu__header.bg-white {
    background-color: #181818 !important;
    border-bottom-color: #404040;
    color: @white;
  }

  .oui-navbar-menu__title {
    color: #4bb2f6;
  }

  .oui-navbar-link_external .oui-icon {
    color: @white;
  }

  .oui-navbar-menu__item:hover {
    background-color: inherit;
  }

  .oui-navbar .oui-navbar-menu__item {
    border-bottom-color: #404040;
  }

  .oui-navbar .oui-navbar-menu__item a {
    color: @white;
  }

  .oui-navbar-menu__item_active {
    background-color: #157eea;
  }

  .oui-navbar-menu__item_active .oui-icon {
    color: @white;
  }

  .oui-navbar .oui-navbar-toggler__hamburger span {
    background-color: @white;
  }

  .oui-navbar-menu .oui-navbar-link[aria-haspopup='true']::after {
    color: @white;
  }

  .oui-navbar-menu__back .oui-icon {
    color: @white;
  }

  .oui-navbar .oui-navbar-menu_toggle button.oui-navbar-link::after {
    color: @white;
  }

  .oui-navbar .oui-navbar-menu_toggle .oui-navbar-menu__header {
    background-color: transparent;
  }

  .oui-navbar .oui-navbar-menu_toggle .oui-navbar-menu__header .oui-navbar-menu__title {
    color: @white;
  }

  .oui-navbar .oui-navbar-link.oui-navbar-link_active {
    color: #6182d5;
    background-color: #101010;
    border: none;
  }

  /* Sidebar */

  cloud-sidebar,
  cloud-sidebar .oui-sidebar-menu {
    background-color: #181818;
    box-shadow: none;
  }

  cloud-sidebar h2 {
    color: @text-color-copy;
  }

  cloud-sidebar oui-clipboard .oui-clipboard__control {
    color: #4bb2f6;
  }

  cloud-sidebar .oui-clipboard .oui-icon {
    color: #4bb2f6;
  }

  cloud-sidebar .oui-sidebar-list__item .oui-sidebar-link,
  cloud-sidebar .oui-sidebar-list__item .oui-sidebar-link:hover {
    color: @white;
    border-bottom-color: #404040;
  }

  cloud-sidebar .oui-sidebar-list__item .oui-sidebar-menu {
    background-color: transparent;
  }

  cloud-sidebar .oui-sidebar-list__item .oui-sidebar-menu .oui-sidebar-list .oui-sidebar-list__item .oui-sidebar-link,
  cloud-sidebar .oui-sidebar-list__item .oui-sidebar-menu .oui-sidebar-list .oui-sidebar-list__item .oui-sidebar-link:hover,
  cloud-sidebar .oui-sidebar-list__item .oui-sidebar-menu .oui-sidebar-list .oui-sidebar-list__item .oui-sidebar-link:focus,
  cloud-sidebar .oui-sidebar-list__item .oui-sidebar-menu .oui-sidebar-list .oui-sidebar-list__item .oui-sidebar-link:active,
  cloud-sidebar .oui-sidebar-list__item .oui-sidebar-menu .oui-sidebar-list .oui-sidebar-list__item .oui-sidebar-link .oui-icon {
    color: @text-color-copy;
  }

  cloud-sidebar .oui-sidebar-list__item .oui-sidebar-menu .oui-sidebar-list .oui-sidebar-list__item .oui-sidebar-link.oui-sidebar-link_active {
    background-color: #101010;
    border-left-color: #6182d5;
    color: #6182d5;
  }

  /* Action-Button */

  .oui-action-button {
    background-color: transparent;
    border-color: #4bb2f6;
  }

  .oui-action-button circle,
  .oui-action-menu-button circle {
    fill: #4bb2f6;
  }

  .oui-action-button:focus,
  .oui-action-menu-button:focus {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
  }

  /* Box */

  .oui-box {
    background: #181818;
    border: 2px solid #404040;
  }

  /* Button */

  .oui-button_primary .oui-icon,
  .oui-file-selector__button_primary .oui-icon {
    color: white;
  }

  .oui-button:disabled,
  .oui-button:disabled:hover,
  .oui-button:disabled:focus,
  .oui-button.oui-button_secondary:disabled,
  .oui-button.oui-button_secondary:disabled:hover,
  .oui-button.oui-button_secondary:disabled:focus {
    cursor: not-allowed;
    color: #707070;
    background-color: #404040;
    text-decoration: none;
  }

  .oui-button.oui-button_secondary,
  .oui-button.oui-button_secondary .oui-icon {
    color: #4bb2f6;
    border-color: #4bb2f6;
    background-color: inherit;
  }

  .oui-button.oui-button_secondary:hover,
  .oui-button.oui-button_secondary:focus {
    background-color: #181818;
    text-decoration: none;
  }

  .oui-button.oui-button_secondary:active {
    background-color: #101010;
  }

  .oui-button_ghost .oui-icon,
  .oui-file-selector__button_link .oui-icon {
    color: #4bb2f6;
  }

  /* Checkbox */

  .oui-checkbox__icon::before {
    background-color: @dark-300;
  }

  .oui-checkbox__icon .oui-icon-checkbox-unchecked {
    color: #4bb2f6;
  }

  .oui-checkbox__label-container:hover .oui-checkbox__icon .oui-icon-checkbox-unchecked {
    color: @text-color-copy;
    background: #181818;
  }

  .oui-checkbox__label,
  .oui-checkbox__description {
    color: @text-color-copy;
  }

  .oui-checkbox__icon .oui-icon-checkbox-checkmark,
  .oui-checkbox__icon .oui-icon-checkbox-indeterminate,
  .oui-checkbox__icon .oui-icon-checkbox-checked {
    color: #4bb2f6;
  }

  /* Chip */

  .oui-chip__container {
    background-color: #181818;
    border-color: #404040;
  }

  .oui-chip {
    color: #e0f6fd;
    background-color: #113f6d;
  }

  /* Clipboard */

  .oui-clipboard .oui-icon {
    color: @text-color-copy;
  }

  /* Collapsible */

  .oui-collapsible__header {
    background-color: #101010;
    color: #4bb2f6;
  }

  .oui-collapsible__header:hover {
    background-color: #1d1d1d;
  }

  .oui-collapsible__header[aria-expanded='true'] {
    background-color: #101010;
    border-top: 1px solid #157eea;
    border-left: 1px solid #157eea;
    border-bottom-left-radius: 0 !important;
    border-right: 1px solid #157eea;
    border-bottom-right-radius: 0 !important;
  }

  .oui-collapsible__body {
    border-color: #157eea;
  }

  /* Datagrid */

  .oui-datagrid__headers .oui-datagrid__header {
    background-color: #101010;
  }

  .oui-datagrid__header,
  .oui-datagrid__header_sortable {
    color: #4bb2f6;
  }

  .oui-datagrid__header_sortable-asc,
  .oui-datagrid__header_sortable-asc::after,
  .oui-datagrid__header_sortable-desc,
  .oui-datagrid__header_sortable-desc::after {
    color: @white;
  }

  .oui-datagrid__header_sortable:hover::after,
  .oui-datagrid__header_sortable-asc:hover::after,
  .oui-datagrid__header_sortable-desc:hover::after {
    opacity: 1;
  }

  .oui-datagrid__header_sortable::after,
  .oui-datagrid__header_sortable-asc::after,
  .oui-datagrid__header_sortable-desc::after {
    color: @white;
  }

  .oui-datagrid__row:nth-child(odd) .oui-datagrid__cell {
    background-color: #181818 !important;
  }

  .oui-datagrid__row:nth-child(even) .oui-datagrid__cell {
    background-color: #1d1d1d !important;
  }

  .oui-datagrid__cell {
    color: @text-color-copy;
    border-bottom-color: #404040;
  }

  .oui-datagrid__cell a {
    color: #4bb2f6;
  }

  /* Dropdown */

  .oui-dropdown-menu,
  .oui-action-menu,
  .oui-autocomplete {
    background-color: @dark-300;
    border-color: #157eea;
    box-shadow: 0 4px 6px 0 #000;
  }

  .oui-dropdown-option,
  .oui-button.oui-button_action-menu,
  .oui-file-selector__button.oui-button_action-menu,
  .oui-autocomplete__option {
    background-color: transparent;
  }

  .oui-dropdown-menu__item a {
    color: @text-color-copy;
  }

  .oui-dropdown-option {
    color: @text-color-copy;
  }

  .oui-dropdown-menu_arrow[x-placement^='top'] .oui-dropdown-menu__arrow,
  .oui-dropdown-menu_arrow[x-placement^='top'] .oui-dropdown-menu__arrow::before,
  .oui-action-menu_arrow[x-placement^='top'] .oui-dropdown-menu__arrow::before,
  .oui-autocomplete_arrow[x-placement^='top'] .oui-dropdown-menu__arrow::before,
  .oui-dropdown-menu_arrow[x-placement^='top'] .oui-dropdown-menu__arrow::after,
  .oui-action-menu_arrow[x-placement^='top'] .oui-dropdown-menu__arrow::after,
  .oui-autocomplete_arrow[x-placement^='top'] .oui-dropdown-menu__arrow::after {
    border-top-color: #157eea;
  }

  .oui-dropdown-menu_arrow[x-placement^='bottom'] .oui-dropdown-menu__arrow,
  .oui-dropdown-menu_arrow[x-placement^='bottom'] .oui-dropdown-menu__arrow::before,
  .oui-action-menu_arrow[x-placement^='bottom'] .oui-dropdown-menu__arrow::before,
  .oui-autocomplete_arrow[x-placement^='bottom'] .oui-dropdown-menu__arrow::before,
  .oui-dropdown-menu_arrow[x-placement^='bottom'] .oui-dropdown-menu__arrow::after,
  .oui-action-menu_arrow[x-placement^='bottom'] .oui-dropdown-menu__arrow::after,
  .oui-autocomplete_arrow[x-placement^='bottom'] .oui-dropdown-menu__arrow::after {
    border-bottom-color: #157eea;
  }

  .oui-dropdown-menu_arrow[x-placement^='left'] .oui-dropdown-menu__arrow,
  .oui-dropdown-menu_arrow[x-placement^='left'] .oui-dropdown-menu__arrow::before,
  .oui-action-menu_arrow[x-placement^='left'] .oui-dropdown-menu__arrow::before,
  .oui-autocomplete_arrow[x-placement^='left'] .oui-dropdown-menu__arrow::before,
  .oui-dropdown-menu_arrow[x-placement^='left'] .oui-dropdown-menu__arrow::after,
  .oui-action-menu_arrow[x-placement^='left'] .oui-dropdown-menu__arrow::after,
  .oui-autocomplete_arrow[x-placement^='left'] .oui-dropdown-menu__arrow::after {
    border-left-color: #157eea;
  }

  .oui-dropdown-menu__divider,
  .oui-action-menu__divider,
  .oui-autocomplete__divider {
    background-color: #404040;
  }

  .oui-ui-select_single .ui-select-match,
  .oui-ui-select_single .ui-select-search {
    color: @text-color-copy;
    border-color: #404040;
    background-color: #181818;
  }

  .oui-ui-select_single .ui-select-match .oui-icon::before,
  .oui-ui-select_single .ui-select-search .oui-icon::before {
    color: @text-color-copy;
  }

  .oui-ui-select_single .ui-select-match:hover,
  .oui-ui-select_single .ui-select-search:hover,
  .oui-ui-select_single .ui-select-match:focus,
  .oui-ui-select_single .ui-select-search:focus {
    background-color: #101010;
    border-color: #404040;
  }

  .oui-ui-select_single .ui-select-match:disabled,
  .oui-ui-select_single .ui-select-search:disabled {
    cursor: not-allowed;
    color: #707070;
    background-color: #404040;
  }

  .oui-ui-select .ui-select-dropdown {
    box-shadow: 0 4px 6px 0 #000;
    border-color: #157eea;
    background-color: #181818;
  }

  .oui-ui-select .ui-select-choices-row {
    background-color: transparent;
    color: @text-color-copy;
  }

  .oui-ui-select .ui-select-choices-row_selected {
    background-color: #157eea;
    color: @text-color-copy;
    text-decoration: none !important;
  }

  .oui-ui-select .ui-select-choices-row_selected .oui-icon::before {
    color: @text-color-copy;
  }

  .oui-ui-select .ui-select-choices-row:hover,
  .oui-ui-select .ui-select-choices-row:focus,
  .oui-ui-select .ui-select-choices-row_active {
    text-decoration: underline;
  }

  /* Guide */

  .oui-guide-button {
    color: @link;

    .oui-icon {
      color: @link;
    }
  }

  /* Label */

  .oui-label {
    color: @text-color-copy;
  }

  /* Link */
  .oui-link_icon {
    .oui-icon.oui-icon-external_link {
      color: @text-color-copy;
    }
  }

  /* Message */

  .oui-message.oui-message_error {
    background-color: @status-error-background-color !important;
    color: @status-error-color !important;
  }

  .oui-message.oui-message_warning {
    background-color: @status-warning-background-color;
    color: @status-warning-color;
  }

  .oui-message.oui-message_info {
    background-color: @status-info-background-color;
    color: @status-info-color;
  }

  .oui-message.oui-message_success {
    background-color: @status-success-background-color;
    color: @status-success-color;
  }

  .oui-message_info .oui-icon-info-circle {
    color: #157eea;
  }

  .oui-message_error .oui-icon-info-circle {
    color: #c11b1b;
  }

  .oui-message_success .oui-icon-info-circle {
    color: #268403;
  }

  .oui-message_warning .oui-icon-info-circle {
    color: #fa9b3e;
  }

  /* Modal */

  .oui-modal {
    color: @text-color-copy;
    background-color: @dark-300;
  }

  .oui-modal__header {
    background-color: #181818;
  }

  .oui-modal__close-button {
    color: @white;
  }

  .oui-modal__body,
  .oui-modal p,
  .oui-modal.oui-paragraph {
    color: @text-color-copy;
  }

  .oui-modal__loader {
    background-color: inherit;
  }

  /* Password */

  .oui-password-rule {
    color: @text-color-copy;
  }

  /* Popover */

  .oui-popover {
    background-color: #181818;
    border-color: #157eea;
    box-shadow: 0 4px 6px 0 #000;
    color: @text-color-copy;
  }

  .oui-popover-button {
    color: @white;
  }

  .oui-popover__arrow {
    background-color: #157eea;
  }

  .oui-popover[x-placement^='left'] .oui-popover__arrow::before,
  .oui-popover[x-placement^='left'] .oui-popover__arrow::after {
    border-left-color: #157eea;
  }

  .oui-popover[x-placement^='right'] .oui-popover__arrow::before,
  .oui-popover[x-placement^='right'] .oui-popover__arrow::after {
    border-right-color: #157eea;
  }

  /* Status */

  .oui-badge_error {
    background-color: @status-error-background-color;
    color: @status-error-color;
  }

  .oui-badge_info {
    background-color: @status-info-background-color;
    color: @status-info-color;
  }

  .oui-badge_success {
    background-color: @status-success-background-color;
    color: @status-success-color;
  }

  .oui-badge_warning {
    background-color: @status-warning-background-color;
    color: @status-warning-color;
  }

  /* Textarea */
  .oui-textarea__textarea {
    background-color: @dark-700;
    color: @text-color-copy;
  }

  /* Tooltip */

  .oui-tooltip {
    background-color: #181818;
    border-color: #157eea;
    box-shadow: 0 4px 6px 0 #000;
    color: @text-color-copy;
  }

  /* Input */

  .oui-input {
    color: @text-color-copy;
    background-color: #181818;
    border-bottom-color: @text-color-copy;
  }

  .oui-input:focus,
  .oui-input:hover {
    background-color: #101010;
    border-bottom-color: @text-color-copy;
  }

  .oui-input:focus {
    color: #4bb2f6;
    border-bottom-color: #4bb2f6;
  }

  .oui-search .oui-icon {
    color: @text-color-copy;
  }

  .oui-field__error,
  .oui-field__error .oui-icon-error {
    color: #ffd2dd;
  }

  .oui-field.oui-field_error .oui-field__label {
    color: #ffd2dd;
  }

  .oui-field_error .oui-input:not(:disabled):hover,
  .oui-field_error .oui-input:not(:disabled):active,
  .oui-field_error .oui-input:not(:disabled):focus {
    color: @dark-300;
    background-color: #e0777c;
    border-bottom-color: #c11b1b;
  }

  /* Page Header */

  .oui-header {
    background-color: inherit;
  }

  .oui-header .oui-header-tabs__container {
    border-bottom-color: #404040;
  }

  .oui-header :not(.oui-header-tabs__dropdown-container) > .oui-header-tabs__item_active > a {
    border-color: #4bb2f6;
  }

  /* Pagination */

  .oui-pagination__progress-text {
    color: @text-color-copy;
  }

  .oui-pagination-menu__group {
    color: @text-color-copy;
  }

  .oui-pagination-menu__item {
    color: @text-color-copy;
  }

  .oui-pagination-menu__item:disabled,
  .oui-pagination-menu__item_disabled {
    color: #707070;
  }

  .oui-pagination-menu__item:focus,
  .oui-pagination-menu__item:hover {
    background-color: #157eea;
    text-decoration: underline;
  }

  /* Radio */

  .oui-radio__label,
  .oui-radio__description,
  .oui-radio__section {
    color: @text-color-copy;
  }

  .oui-radio__label::before {
    background-color: transparent;
  }

  .oui-radio__input:checked ~ .oui-radio__label-container .oui-radio__label::before {
    border-color: #4bb2f6;
  }

  .oui-radio__input:checked ~ .oui-radio__label-container .oui-radio__label::after {
    background-color: #4bb2f6;
  }

  /* Stepper */

  .oui-stepper__step {
    border-top-color: #404040;
  }

  .oui-stepper__step:last-child {
    border-bottom-color: #404040;
  }

  .oui-stepper__title {
    color: @white;
  }

  .oui-stepper__container_complete .oui-stepper__title {
    color: #707070;
  }

  .oui-stepper__header::before {
    line-height: 1.675rem;
    font-size: 16px;
    color: @white;
    border: 1px solid white;
    background: transparent;
  }

  .oui-stepper__content {
    color: @text-color-copy;
  }

  .oui-stepper__container_complete .oui-stepper__header::before {
    border-color: transparent;
    color: #707070;
  }

  /* Select Picker */

  .oui-select-picker_light .oui-select-picker__label-container {
    background-color: #1d1d1d;
    border-color: #404040;
  }

  .oui-select-picker_light .oui-select-picker__input:not(:checked):not(:disabled) + .oui-select-picker__label-container:hover {
    background-color: @dark-300;
    border-color: #4bb2f6;
  }

  .oui-select-picker .oui-select-picker__input:not(:disabled):checked + .oui-select-picker__label-container {
    background-color: #181818;
  }

  .oui-select-picker__label,
  .oui-select-picker__description,
  .oui-select-picker__section {
    color: @text-color-copy;
  }

  .oui-select-picker__value {
    color: @text-color-copy;
    opacity: 1;
  }

  .oui-select-picker .oui-select-picker__section {
    border-top-color: #404040;
  }

  .oui-select-picker .oui-select-picker__input:checked + .oui-select-picker__label-container {
    box-shadow: none;
  }

  .oui-select-picker__label,
  .oui-select-picker__description,
  .oui-select-picker__section {
    color: #4bb2f6;
  }

  .oui-select-picker .oui-select-picker__input:not(:disabled):checked + .oui-select-picker__label-container:hover {
    border-color: #4bb2f6;
  }

  .oui-select-picker .oui-select-picker__input:not(:disabled):checked + .oui-select-picker__label-container {
    border-color: #4bb2f6;
  }

  .oui-select-picker_light .oui-select-picker__input:checked:disabled + .oui-select-picker__label-container {
    border: 1px solid #707070;
    background: @dark-300;
  }

  .oui-select-picker .oui-select-picker__input:checked:disabled + .oui-select-picker__label-container {
    border: 1px solid #707070;
    background: @dark-300;
  }

  .oui-select-picker .oui-select-picker__input:disabled:checked + .oui-select-picker__label-container .oui-select-picker__section {
    border-top-color: #404040;
  }

  .oui-select-picker_light .oui-select-picker__input:disabled + .oui-select-picker__label-container {
    background-color: #1d1d1d;
    border-color: #707070;
  }

  .oui-select-picker__input:disabled ~ .oui-select-picker__label-container > .oui-select-picker__label,
  .oui-select-picker__input:disabled ~ .oui-select-picker__label-container .oui-select-picker__description,
  .oui-select-picker__input:disabled ~ .oui-select-picker__label-container .oui-select-picker__section {
    color: #707070;
  }

  .oui-select-picker .oui-select-picker__input:disabled + .oui-select-picker__label-container .oui-select-picker__section {
    border-color: #404040;
  }

  /* Tabs */

  .oui-tabs__tab {
    border-color: #404040;
    box-shadow: none;
    color: @white;
    background-color: #181818;
  }

  .oui-tabs-item__content {
    background-color: #181818;
    border-color: #404040;
  }

  /* Tile */

  .oui-tile {
    background-color: #181818;
    border-color: #404040;
  }

  .oui-tile__title,
  .oui-tile__description {
    color: @white;
  }

  .oui-tile__item {
    border-top-color: #404040;
  }

  .oui-tile__item:last-child {
    border-bottom-color: #404040;
  }

  .oui-tile .oui-button_ghost {
    color: #4bb2f6;
  }

  .oui-tile__button:hover,
  .oui-tile__button:focus {
    background-color: #101010;
  }

  a.oui-tile {
    background-color: #181818;
    border: 1px solid #404040;
    color: #4bb2f6;

    strong,
    .oui-icon.oui-icon-guides {
      color: @text-color-copy !important;
    }
  }

  a.oui-tile:hover,
  a.oui-tile:focus {
    background-color: #101010;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  /* etc */

  .pci-project-banner {
    background-color: #101010;
  }

  .pci-project-banner span,
  .pci-project-banner .pci-project-link_light {
    color: #eff9fd;
  }

  .border-top {
    border-top-color: #404040 !important;
  }

  #managerPreload {
    background-color: @dark-300;
  }

  #managerPreload hr {
    display: none;
  }

  #managerPreloader {
    background-color: @dark-700;

    .logo path {
      fill: white;
    }

    li > * {
      color: white;
    }
  }

  #nprogress {
    .bar {
      background-color: @link !important;
    }

    .peg {
      box-shadow: none !important;
    }
  }

  .oui-field-helper,
  .oui-field__helper {
    color: @text-color-copy;
  }

  .oui-button:disabled .oui-icon::before,
  .oui-button:disabled:hover .oui-icon::before,
  .oui-button:disabled:focus .oui-icon::before {
    color: #4bb2f6;
  }

  .cloud-pci-section {
    .bg-light {
      background-color: #181818 !important;
      border-color: #404040 !important;
    }
  }

  pci-project-new .pci-projects-new {
    background-color: @dark-300;
  }

  .bg-white {
    background-color: @dark-300 !important;
  }

  .oui-progress-tracker__step:not(:last-child)::after {
    background-color: #404040;
  }

  pci-project-new .pci-projects-new .oui-progress-tracker .oui-progress-tracker__step.oui-progress-tracker__step_active .oui-progress-tracker__status::before {
    color: @white;
    border-color: @white;
  }

  pci-project-new .pci-projects-new .oui-progress-tracker .oui-progress-tracker__step .oui-progress-tracker__status::before {
    color: #707070;
    border-color: #707070;
  }

  manager-error-page .ovh-manager-error-page {
    background: #181818;
  }

  /* hub navbar */
  .oui-navbar-menu-hub {
    @notification-bcg-color: #def8ff;

    background-color: @notification-bcg-color;
    border: 1px solid @notification-bcg-color;

    .oui-navbar-notification {
      .oui-badge_error {
        color: #c11b1b;
      }

      .oui-badge_info {
        color: #4d6f92;
      }

      a.oui-navbar-notification__content,
      a.oui-navbar-notification__content a {
        color: @dark-900;
      }
    }
  }
}
/* stylelint-enable */
