// Background
@flat-switch-width: 50px;
@flat-switch-height: 26px;
@flat-switch-radius: @flat-switch-height;
@flat-switch-background-color: #e5e6ea;
@flat-switch-background-color-active: #dfeeeb;
@flat-switch-enable-text-color: #fff;
@flat-switch-disable-text-color: #bdbdbd;

// Cursor
@flat-switch-cursor-size: 28px;
@flat-switch-cursor-width: @flat-switch-cursor-size;
@flat-switch-cursor-height: @flat-switch-cursor-size;
@flat-switch-cursor-color: #fff;
@flat-switch-cursor-color: hsl(168, 32%, 54%); //#65afa0;
@flat-switch-cursor-border-color: #53a191;
@flat-switch-cursor-radius: 50%;

.flat-switch {
  position: relative;
  width: @flat-switch-width;
  height: @flat-switch-height;

  .flat-switch-container {
    transition: ease 0.15s;
    border-radius: @flat-switch-radius;
    display: block;
    width: @flat-switch-width;
    height: @flat-switch-height;
    position: absolute;
    top: 2px;
    left: 0;
    background-color: @flat-switch-background-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset,
      0 1px 2px rgba(0, 0, 0, 0.24) inset;

    .flat-switch-default-text {
      display: block;
      width: @flat-switch-width - @flat-switch-cursor-width -
        (@flat-switch-radius / 2);
      height: @flat-switch-height;
      position: absolute;
      text-align: center;
      line-height: @flat-switch-height;
      font-weight: bold;
      transition: ease 0.15s;
    }

    .flat-switch-disable-text {
      .flat-switch-default-text;

      color: @flat-switch-disable-text-color;
      right: 0;
      opacity: 1;
      margin-right: (@flat-switch-radius / 2);
    }

    .flat-switch-enable-text {
      .flat-switch-default-text;

      color: @flat-switch-enable-text-color;
      left: 0;
      opacity: 0;
      margin-left: (@flat-switch-radius / 2);
    }
  }

  .flat-switch-cursor {
    transition: left ease 0.15s;
    position: absolute;
    top: 1px;
    left: 0;
    width: @flat-switch-cursor-width;
    height: @flat-switch-cursor-height;
    border-radius: @flat-switch-cursor-radius;
    background-color: @flat-switch-cursor-color;
    border: 1px solid @flat-switch-cursor-border-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  input {
    position: absolute;
    display: block;
    width: @flat-switch-width;
    height: @flat-switch-height;
    margin: 0;
    opacity: 0;
    z-index: 10;
    top: 0;
    left: 1px;

    &:checked ~ .flat-switch-container {
      background-color: @flat-switch-background-color-active;

      .flat-switch-disable-text {
        opacity: 0;
      }

      .flat-switch-enable-text {
        opacity: 1;
      }
    }

    &:checked ~ .flat-switch-cursor {
      left: @flat-switch-width - @flat-switch-cursor-width + 1px;
    }
  }
}
