.msc-tail-logs-table-wrapper {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--ods-size-04);
  table-layout: fixed;

  & th,
  td {
    text-align: left;
    padding: var(--ods-size-03);
    width: auto;
    word-wrap: break-word;
  }
}
