dbaas-logs {
  @import 'bootstrap4/scss/_functions.scss';
  @import 'bootstrap4/scss/_variables.scss';
  @import 'bootstrap4/scss/_mixins.scss';
  @import 'bootstrap4/scss/_utilities.scss';
  @import 'bootstrap4/scss/_grid.scss';
}

#order-messages-anchor {
  position: relative;
  top: -200px;
}
