#managerPreload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;

  hr {
    border-top: 2px solid #27b9a2;
    width: 30%;
    margin: auto;
  }

  &.manager-preload-hide {
    transition: opacity 800ms 1s, visibility 1800ms;
    opacity: 0;
    visibility: hidden !important;
  }
}

.content {
  text-align: center;
  height: 160px;
  overflow: hidden;

  &__container {
    overflow: hidden;
    height: 40px;
    padding: 0 40px;

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding: 0;
      text-align: left;
      list-style: none;
      -webkit-animation-name: change;
      -webkit-animation-duration: 30s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 30s;
      animation-iteration-count: infinite;

      &__item {
        line-height: 40px;
        margin: 0;
        text-align: center;
      }
    }
  }
}

@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
