@import '~@ovh-ux/ui-kit/dist/less/_tokens';

@cui-guide-item-background-color: #e0f6fd;
@cui-guide-item-border-color: #d5dae0;
@cui-guide-item-color: #3f5167;
@cui-guide-item-title-color: #122844;
@cui-guide-footer-background-color: #f2f2f2;

cui-guide-component {
  .cui-guide {
    font-family: 'Source Sans Pro', sans-serif;

    /* override cui-dropdown size */
    .cui-dropdown-menu__content {
      width: 430px;

      &_bottom {
        margin-top: 15px;

        &::before,
        &::after {
          right: 33px;
        }
      }
    }

    &__button {
      font-size: 18px;
      font-weight: 600;

      &:hover &-title {
        text-decoration: underline;
      }
    }

    &__container {
      max-height: 70vh;
      overflow-y: auto;
    }

    &__list {
      list-style: none;
      margin: 0 auto;
      padding: 0;
    }

    &__item {
      color: @cui-guide-item-color;

      &-title {
        padding: 5px 10px;
        color: @cui-guide-item-title-color;
        font-weight: 600;
        font-size: 18px;
        margin: 2.1875rem 0 0.8125rem;
      }

      &-link {
        padding: 5px 10px;
        height: 100%;
        width: 100%;
        font-size: 16px;
        display: inline-block;
        color: @cui-guide-item-color;

        .fa-external-link {
          visibility: hidden;
        }

        &:hover {
          background-color: @cui-guide-item-background-color;
          opacity: 0.9;
          text-decoration: none;

          .fa-external-link {
            visibility: visible;
          }
        }
      }

      &_border {
        border-top: solid 1px @cui-guide-item-border-color;

        &:last-child {
          border-bottom: solid 1px @cui-guide-item-border-color;
        }
      }
    }

    &__footer {
      text-align: center;
      display: table;
      width: 100%;
      height: 30px;
      background-color: @cui-guide-footer-background-color;

      &-link {
        vertical-align: middle;
        display: table-cell;
        color: @cui-guide-item-color;
        font-size: 14px;

        /* stylelint-disable-next-line no-descending-specificity */
        .fa-external-link {
          visibility: hidden;
        }

        &:hover .fa-external-link {
          visibility: visible;
        }
      }
    }
  }
}
