.telecom-telephony-billing-account-manage-contacts {
  tbody > tr.serviceType {
    border-bottom: 1px solid #eee;
  }

  td {
    word-break: normal !important;
  }

  // @media screen and (min-width: @table-header-width-sm) {
  //     td {
  //         width: 20%;
  //     }
  //
  //     td {
  //         > span,div {
  //             min-height: 2.6em;
  //         }
  //     }
  // }

  .tooltip-wrapper {
    display: inline-block;

    .btn:disabled {
      pointer-events: none;
    }
  }

  .tooltip-wrapper.disabled {
    cursor: not-allowed;
  }
}
