ovh-manager-kubernetes-component {
  @import "~bootstrap4/scss/_functions";
  @import "~bootstrap4/scss/_variables";
  @import "~bootstrap4/scss/_mixins";
  @import '~bootstrap4/scss/_utilities.scss';
}
