.manager-hub-billing-summary {
  background-color: #4bb2f6;
  background-image: url("./assets/billing-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem 0 1rem 0;
  width: 100%;
}

.manager-hub-billing-summary > osds-text,
.manager-hub-billing-summary > div > osds-text {
  color: #fff;
}

.manager-hub-billing-summary p > a,
.manager-hub-billing-summary span > a {
  margin-bottom: -1.5rem;
}

.manager-hub-billing-summary :host(osds-select).select-trigger {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  border-width: 2px;
}

.manager-hub-billing-summary__bill-total {
  font-weight: 600;
  font-size: calc(2rem + 1vw);
}
