@tailwind base;
@tailwind components;
@tailwind utilities;

.application {
  @apply md:mx-12 mt-8;
}

code {
  padding: 2px 4px !important;
  font-size: 90% !important;
  color: #c7254e !important;
  background-color: #f9f2f4 !important;
  border-radius: 6px !important;
}

html {
  font-family: var(--ods-font-family);
}

// Because ODS thinks that a search bar should always take full space
osds-search-bar {
  width: initial;
}
