.panel-accordion {
  .panel-heading a::after {
    font-family: 'FontAwesome'; /* stylelint-disable-line */
    content: '\f078';
    float: right;
  }

  .panel-heading a.collapsed::after {
    content: '\f054';
  }
}
