// //
// // BUTTON
// // --------------------------------------------------
//
.btn {
  &.btn-icon,
  &.btn-icon:hover,
  &.btn-icon:focus,
  &.btn-icon:active {
    padding: 0 4px;
    border-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-overflow: clip;
  }

  &.btn-icon:disabled {
    &:extend(.btn:disabled);

    opacity: 0.65;
  }
}
