.metrics {
  &__platform {
    font-family: 'Source Sans Pro', sans-serif;

    &-loader {
      .oui-spinner__container {
        margin: 0 auto;
      }
    }

    .oui-datagrid {
      font-size: 16px;

      .oui-datagrid__cell {
        &_action {
          width: 80px;
          text-align: right;
        }
      }
    }
  }
}
