@cloud-autocomplete-default-width: 100%;
@cloud-autocomplete-list-default-height: 150px;
@cloud-autocomplete-list-background-color: white;
@cloud-autocomplete-list-hover-color: #f5f5f5;
@cloud-autocomplete-list-border-color: #799bd2;
@cloud-autocomplete-list-highlight-color: #428bca;
@cloud-autocomplete-list-highlight-text-color: #fff;
@cloud-autocomplete-list-item-padding-left: 20px;
@cloud-autocomplete-list-item-padding-vertical: 3px;
@cloud-autocomplete-group-header-weight: bold;
@cloud-autocomplete-group-item-padding: 10px;
@cloud-autocomplete-group-description-color: #a3a3a3;

#ovh {
  .cloud-autocomplete-input(
  @autocomplete-default-width: @cloud-autocomplete-default-width
) {
    width: @autocomplete-default-width;
    position: relative;

    &__caret {
      position: absolute;
      float: right;
      height: 10px;
      top: 50%;
      right: 10px;
      margin-top: -2px;
    }

    &::-ms-clear {
      width: 0;
      height: 0;
    }
  }

  .cloud-autocomplete-group(
  @autocomplete-list-item-padding-left: @cloud-autocomplete-list-item-padding-left,
  @autocomplete-group-header-weight: @cloud-autocomplete-group-header-weight,
  @autocomplete-group-item-padding: @cloud-autocomplete-group-item-padding,
  @autocomplete-group-description-color: @cloud-autocomplete-group-description-color,
  @autocomplete-list-item-padding-vertical: @cloud-autocomplete-list-item-padding-vertical
) {
    display: block;

    &__header {
      padding-left: @autocomplete-list-item-padding-left;
      font-weight: @autocomplete-group-header-weight;
    }

    &__description {
      color: @autocomplete-group-description-color;
      font-style: italic;
      padding: @autocomplete-list-item-padding-vertical 0
        @autocomplete-list-item-padding-vertical
        @autocomplete-group-item-padding;
      display: block;
    }

    &__items {
      padding-left: 0;
    }
  }

  .cloud-autocomplete-list(
  @autocomplete-default-width: @cloud-autocomplete-default-width,
  @autocomplete-list-default-height: @cloud-autocomplete-list-default-height,
  @autocomplete-list-background-color: @cloud-autocomplete-list-background-color,
  @autocomplete-list-hover-color: @cloud-autocomplete-list-hover-color,
  @autocomplete-list-border-color: @cloud-autocomplete-list-border-color,
  @autocomplete-list-highlight-color: @cloud-autocomplete-list-highlight-color,
  @autocomplete-list-highlight-text-color: @cloud-autocomplete-list-highlight-text-color,
  @autocomplete-list-item-padding-left: @cloud-autocomplete-list-item-padding-left,
  @autocomplete-list-item-padding-vertical: @cloud-autocomplete-list-item-padding-vertical,
  @autocomplete-group-item-padding: @cloud-autocomplete-group-item-padding
) {
    position: absolute;
    background-color: @autocomplete-list-background-color;
    opacity: 1;
    z-index: 1;
    width: @autocomplete-default-width;
    padding-left: 0;

    &__item {
      display: block;
      cursor: default;
      padding-left: 0;

      &-highlighted {
        background-color: @autocomplete-list-highlight-color;
        color: @autocomplete-list-highlight-text-color;
      }

      &-first-level {
        padding: @autocomplete-list-item-padding-vertical 0
          @autocomplete-list-item-padding-vertical
          @autocomplete-list-item-padding-left;
      }

      &-second-level {
        padding-left: @autocomplete-group-item-padding +
          @autocomplete-list-item-padding-left;
      }

      &:hover:not(&-highlighted) {
        background-color: @autocomplete-list-hover-color;
      }
    }

    &-scrollable {
      height: @autocomplete-list-default-height;
      overflow-y: scroll;
    }

    &-bordered {
      border: 1px solid @autocomplete-list-border-color;
    }
  }
}

.cloud-autocomplete {
  position: relative;

  &__input {
    #ovh > .cloud-autocomplete-input();
  }

  &__group {
    #ovh > .cloud-autocomplete-group();
  }

  &__list {
    #ovh > .cloud-autocomplete-list();
  }
}
