.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.gallery__item {
  display: flex;
  flex-flow: column;
  padding-bottom: .5rem;
}

/* increase weight to override default storybook style */
.gallery .gallery__item__preview {
  margin: 0;
  flex: 1 1 auto;
  box-shadow: none;
  border: none;
  border-radius: .5rem;
}

.gallery__item__title {
  align-self: center;
  font-size: 1.25rem;
}
