@tailwind base;
@tailwind components;
@tailwind utilities;

.action-banner.action-banner—-success .action-banner__text {
  color: var(--ods-color-success-700);
}

.action-banner.action-banner—-warning .action-banner__text {
  color: var(--ods-color-warning-700);
}

.action-banner.action-banner—-information .action-banner__text {
  color: var(--ods-color-information-700);
}

.action-banner.action-banner—-danger .action-banner__text {
  color: var(--ods-color-critical-700);
}

.action-banner.action-banner—-critical .action-banner__text {
  color: var(--ods-color-critical-700);
}
