name: Check package.json metadatas

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  check-regions:
    if: >
      github.event_name == 'pull_request' ||
      (github.event_name == 'push' && github.event.pull_request == null)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check regions metadata
        run: ./scripts/regions/check-regions.sh
        shell: bash
