name: Check package.json metadatas
on:
  push:
  pull_request:
    types:
      - opened

jobs:
  check-regions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check regions metadata
        run: ./scripts/regions/check-regions.sh
        shell: bash
