name: "Pull Request Labeler"
on:
- pull_request_target

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v4
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
    - uses: TimonVS/pr-labeler-action@v4
      with:
        configuration-path: .github/branch-name-labeler.yml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
