name: Lint Code Base

on: [push]

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      # choose with pkgs and storage you want to clean
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: true
          android: false
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: true
      # Checkout the code and include all commit history
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Setup Node.js 22.x environment
      - name: Use Node.js 22.x
        uses: actions/setup-node@v3
        with:
          node-version: 22

      # Restore and cache node_modules and yarn.lock related cache
      - name: Restore node_modules cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/yarn
            node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      # Install dependencies only if necessary (cache hit will skip)
      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile

      # Lint the code base
      - name: Lint Code Base
        run: |
          yarn lint
