name: Lint Code Base

on:
  push:
    branches-ignore: [master, develop]
  pull_request:
    branches: [master, develop]
jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
      - name: Restore/create node_modules cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Install repository
        run: |
          yarn install --frozen-lockfile

      - name: Lint Code Base
        run: |
          yarn lint
