name: "Merge Conflict Finder"

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  merge_conflict_job:
    name: Find merge conflicts
    if: >
      github.event_name == 'pull_request' ||
      (github.event_name == 'push' && github.event.pull_request == null)
    runs-on: ubuntu-latest

    steps:
      # Checkout the source code so we have some files to look at.
      - uses: actions/checkout@v4
      # Run the actual merge conflict finder
      - name: Merge Conflict finder
        uses: olivernybroe/action-conflict-finder@v4.0
        with:
          exclude_dir: "node_modules/**"
