name: Run Jest tests
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Restore/create node_modules cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install repository
        run: yarn install --frozen-lockfile
      - name: Build BDD covered packages and dependencies
        run: |
          yarn exec turbo -- run build --filter="./packages/manager/core/*"
          yarn exec turbo -- run build --filter="./packages/manager/manager-components/*"
          yarn workspace @ovh-ux/manager-container-app start
      - name: Run tests old (jest)
        run: yarn test:jest
      - name: Run tests new (turbo)
        run: yarn test:turbo
