@import (less) '@ovh-ux/manager-cloud-styles/src/cloud/cloud.variables.less';

#vrack-add {
  @new_box_background: @cloud_green_5;

  .page-header {
    h1 {
      color: @cloud_green_3;
    }
  }

  .page-margins {
    margin: 25px 40px;
  }

  .contracts-ctnr {
    width: 100%;
  }

  .contracts-agree-ctnr,
  .va-box-body {
    background: @new_box_background;
    padding: 20px 10px;
  }
}
