.manager-hub-order-tracking {
  @import '~bootstrap/scss/_functions';
  @import '~bootstrap/scss/_variables';
  @import '~bootstrap/scss/_mixins';
  @import '~bootstrap/scss/_utilities.scss';
  @import '@ovh-ux/manager-hub/src/variables.scss';
  @import 'oui4/dist/scss/_tokens';

  &_button {
    @include hub-link-button;
  }

  background-color: $p-200;
  text-align: center;
  border-radius: $hub-tile-border-radius;
  padding: $hub-tile-padding;

  p,
  span {
    color: $p-800;
  }

  > h3 {
    font-size: $jupiter-font-size;
    font-weight: $jupiter-font-weight;
  }

  a {
    span {
      color: $p-000-white;
    }
  }

  a.oui-status {
    padding: 0.5rem;
    text-decoration: none;
    background-color: $p-100;

    &:hover {
      background-color: $p-075;
    }
  }
}
