.manager-hub-order-tracking {
  @import '~bootstrap/scss/_functions';
  @import '~bootstrap/scss/_variables';
  @import '~bootstrap/scss/_mixins';
  @import '~bootstrap/scss/_utilities.scss';
  @import '@ovh-ux/manager-hub/src/variables.scss';

  &_button {
    @include hub-link-button;
  }

  background-color: $p-200;
  text-align: center;
  border-radius: $hub-tile-border-radius;
  padding: $hub-tile-padding;

  > h3 {
    font-size: $hub-subtitle-size;
    font-weight: $hub-subtitle-weight;
  }

  a.oui-status {
    padding: 0.5rem;
    text-decoration: none;
    background-color: $p-100;

    &:hover {
      background-color: $p-075;
    }
  }
}
